<?php echo $this->partial('qp/common/layout/header', ['active' => $this->active, 'nav' => $this->nav, 'portal' => $this->portal]); ?>

<main>
    <h1>Welcome to <?php echo $this->translate('PR'); ?></h1>
    <p>some day soon here will be the PR-Portal ... or so ...</p>



    <?php // ** ADD MAIN TEMPLATE HERE** ?>




</main>

<?php echo $this->partial('qp/common/layout/footer'); ?>