<?php
//    \FirePHP::getInstance(true)->info($this->data);
?>
<div class="row">
    <div class="col-lg-12">
        <h2><?php echo $this->data['headline']; ?></h2>
    </div>
</div>
<div class="content-row__item__overlay" style="background-image: url(<?php echo $this->data['image']; ?>);">
</div>
<?php if($this->data['text']): ?>
    <div class="row">
        <div class="col-lg-12">
            <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
        </div>
    </div>
<?php endif; ?>
<?php if($this->data['link']['url']): ?>
    <div class="part">
        <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
            'config' => $this->config,
            'data' => [
                [
                    'type' => 'info',
                    'text' => $this->translate('COMMON_SHOW_ALL'),
                    'attr' => [
                        'href' => [ $this->data['link']['url'] ],
                    ]
                ]
            ]
        ]); ?>
    </div>
<?php endif; ?>