<div class="accordion-profil row">
    <div class="col-12 col-l-9">
        <h5><?php echo $this->data["headline_person"]; ?></h5>
        <?php echo $this->data["description"]; ?>
    </div>
    <div class="col-10 col-l-3">
        <h5><?php echo $this->data["headline_section"]; ?></h5>
        <?php echo $this->data["sections"]; ?>
    </div>
</div>

