<section class="gallery">
    <?php if(isset($this->data['content'])): ?>
        <div class="service__text">
            <?php echo $this->data['content']; ?>
        </div>
    <?php endif; ?>
    <div class="gallery-media slick-carousel">
            <?php foreach ( $this->data['items'] as $item ): ?>
                    <div class="gallery-media__item">

                        <?php if(isset($item['image'])) { ?>
                            <a href="<?php echo $item['image']['src']?>" data-toggle="lightbox"  data-gallery="accordion-gallery">
                                <div class="thumbnail">
                                    <?php echo $this->ndPartial('qp/hrm/partials/image', [
                                        'data' => $item['thumbnail']
                                    ]); ?>
                                </div>
                            </a>

                        <?php } else if(isset($item['video'])) { ?>
                            <a href="<?php echo $item['video']['src']?>"  data-toggle="lightbox"  data-gallery="accordion-gallery">
                                <div class="thumbnail">
                                    <?php echo $this->ndPartial('qp/hrm/partials/image', [
                                        'data' => $item['thumbnail']
                                    ]); ?>
                                    <div class="gallery-media__item__video-icon">
                                        <i class="material-icons">play_arrow</i>
                                    </div>
                                </div>
                            </a>
                        <?php } //endif; ?>
                    </div>
            <?php endforeach; ?>
    </div>
</section>