<div class="module__dates">
    <?php foreach($this->data['dates'] as $date ):
        $start = new \DateTime($date['startDate']);
        $end   = new \DateTime($date['startDate']);
        $end->modify('+'.$date['duration'].' minutes');
        echo $this->translate($start->format('l')) . ', '
            . $start->format('d.') . ' '
            . $this->translate($start->format('F')) . ' '
            . $start->format('Y H:i') . ' ' .  $this->translate('HRM_ELEARNING_TIME_TILL') . ' ' . $end->format('H:i'); ?><br />
    <?php endforeach; ?>
</div>

<div class="module__content">
    <h5><?php echo $this->data['headline']; ?></h5>
    <?php if(!empty($this->data['items'])): ?>
    <ul>
        <?php foreach($this->data['items'] as $item): ?>
        <li><?php echo $item ?></li>
        <?php endforeach; ?>
    </ul>
    <?php endif; ?>
</div>

<!-- Ansprechpartner-->
<?php
if(isset($this->data['performer'])):
    foreach($this->data['performer'] as $performer): ?>
<div class="module__performer">
    <div class="module__performer__image">
        <?php if(isset($performer['image'])): ?>
            <?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => $performer['image'] ]); ?>
        <?php endif; ?>
    </div>
    <div class="module__performer__name">
        <?php echo $performer['name']; ?>
    </div>
    <div class="module__performer__job">
        <?php echo $performer['jobTitle']; ?>
        <a href="#"><?php echo $performer['worksFor']; ?></a>
    </div>
    <div class="module__performer__text">
        <?php echo $performer['description']; ?>
    </div>

</div>
<?php
    endforeach;
endif; ?>
