<section class="contacts">
    <div class="accordion__text">
        <?php echo $this->data['content']; ?>
    </div>

    <div class="row">

        <?php /*foreach ( $this->data['items'] as $item ): ?>
            <div class="col-12 col-m-6 contacts__item">

                <div class="row">
                    <div class="col-4">
                        <a href="<?php echo $item['url']; ?>">
                            <div class="contacts__item__image">
                                <?php echo $this->ndPartial('qp/hrm/partials/image', $item['image'] ); ?>
                            </div>
                        </a>
                    </div>
                    <div class="col-8">
                        <p>
                            <strong><?php echo $item['headline']; ?></strong>
                        </p>
                        <p>
                            <a href="mailto:<?php echo $item['email']; ?>">
                                <?php echo $item['email']; ?>
                            </a>
                        </p>
                        <p>
                            <?php echo $this->translate('COMMON_PHONE_PREFIX'); ?>
                            <?php echo $item['phone']; ?>
                        </p>
                        <p>
                            <?php echo $this->translate('COMMON_FAX_PREFIX'); ?>
                            <?php echo $item['fax']; ?>
                        </p>
                    </div>
                </div>
            </div>
        <?php endforeach; */?>

        <?php
        $itemCount = count($this->data['items']);
        for ($i = 0; $i < $itemCount; $i++): ?>
            <?php echo $this->ndPartial('qp/hrm/partials/contact-item', [
                'item' => $this->data['items'][$i],
                'col' => (12/$itemCount),
                'config' => $this->config]); ?>
        <?php endfor; ?>

    </div>

</section>
