<?php
//    \FirePHP::getInstance(true)->info($this->data);
?>
<div class="course-structure-and-dates">
    <div class="row">
        <div class="col-12 col-m-6">
            <h5><?php echo $this->translate('HRM_STUDY_HEADLINE_PROGRESSION_OVERVIEW'); ?></h5>
            <div class="row">
                <div class="col-6 col-m-4">
                    <?php echo $this->translate('HRM_STUDY_BULLET_PROGRESSION_DURATION'); ?>
                </div>
                <div class="col-6 col-m-8">
                    <?php
                        $start  = new \DateTime($this->data['startDate'].' 00:00:00');
                        $end    = new \DateTime($this->data['endDate'].' 00:00:00');
                        $months = $start->diff($end)->m + ($start->diff($end)->y*12);
                    ?>
                    <?php echo $months.' '.$this->translate('HRM_STUDY_PROGRESSION_MONTHS'); ?>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-m-4">
                    <?php echo $this->translate('HRM_STUDY_BULLET_PROGRESSION_PRESENCE'); ?>
                </div>
                <div class="col-6 col-m-8">
                    <?php echo 'ca. '.$this->data['progression']['presence']['days'].' '
                                     .$this->translate('HRM_STUDY_PROGRESSION_DAYS').' (in'
                                     .$this->data['progression']['presence']['location'].')'; ?>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-m-4">
                    <?php echo $this->translate('HRM_STUDY_BULLET_PROGRESSION_TOUR'); ?>
                </div>
                <div class="col-6 col-m-8">
                    <?php echo $this->data['tour']['days'].' '
                              .$this->translate('HRM_STUDY_PROGRESSION_DAYS').' in'
                              .$this->data['tour']['location']; ?>
                </div>
            </div>
        </div>
        <div class="col-12 col-m-6">
            <?php foreach ($this->data['progression']['semesterDates'] as $hl => $semesterDates): ?>
                <h5><?php echo $hl; ?></h5>
                <div class="row">
                    <?php foreach ($semesterDates as $name => $semesterDate): ?>
                        <div class="col-6 col-m-4">
                            <?php echo $name; ?>
                        </div>
                        <div class="col-6 col-m-8">
                            <?php echo $semesterDate; ?>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endforeach; ?>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5><?php echo $this->data['progression']['presence']['headline']; ?></h5>
            <div class="row ">
                <?php foreach ($this->data['progression']['presence']['dates'] as $hl => $dates): ?>
                    <div class="col-12 col-m-4">
                        <div class="semester">
                            <h6><?php echo $hl; ?></h6>
                            <?php foreach ($dates as $date): ?>
                                <?php
                                    $start = new \DateTime($date['startDate'].' 00:00:00');
                                    $end   = new \DateTime($date['endDate'].' 00:00:00');
                                    if ($start->format('Y') === $end->format('Y') && $start->format('m') === $end->format('m')) {
                                        $dateRange = $start->format('d.') . ' - ' . $end->format('d.m.Y');
                                    } elseif ($start->format('Y') === $end->format('Y')) {
                                        $dateRange = $start->format('d.m.') . ' - ' . $end->format('d.m.Y');
                                    } else {
                                        $dateRange = $start->format('d.m.Y') . ' - ' . $end->format('d.m.Y');
                                    }
                                ?>
                                <div class="row semester__row">
                                    <div class="col-4 col-l-6">
                                        <strong><?php echo $this->translate($start->format('F')).' '.$start->format('Y'); ?></strong>
                                    </div>
                                    <div class="col-8 col-l-6">
                                        <?php echo $dateRange; ?><br />
                                        <?php echo $this->translate($start->format('D')).'.-'
                                                  .$this->translate($end->format('D')).'. ('
                                                  .$date['days'].' '
                                                  .$this->translate('HRM_STUDY_PROGRESSION_DAYS').')'; ?>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <?php echo $this->data['progression']['presence']['disclaimer']; ?>
        </div>
    </div>
</div>