<div class="accordion-persons">
<!--    --><?php //foreach ( $this->data['items'] as $item ): ?>
<!--        --><?php //echo $this->ndPartial('qp/hrm/partials/filter-result-item-search/person', [
//            'data' => $item,
//            'class' => 'person'
//        ]); ?>
<!--    --><?php //endforeach; ?>
            <?php
            $nbPerformers = count($this->data['items']) ;
            if ($nbPerformers==1) {
                $performer = $this->data['items'][0];
                ?>
        <div class="col-12">
            <div class="accordion-persons__performer ">
                <div class="accordion-persons__performer__image" data-performer="<?php echo $performer['id']; ?>" data-toggle="popover" data-placement="top">
                    <?php if(isset($performer['image'])): ?>
                        <?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => $performer['image'] ]); ?>
                    <?php endif; ?>
                </div>
                <div class="accordion-persons__performer__information__block">
                    <div class="accordion-persons__performer__name">
                        <?php echo $performer['name']; ?>
                    </div>
                    <div class="accordion-persons__performer__company">
                        <?php echo $performer['jobTitle']; ?>
                        <a href="#"><?php echo $performer['worksFor']; ?></a>
                    </div>
                    <div class="accordion-persons__performer__text">
                        <p><?php echo $performer['description']; ?></p>
                    </div>
                </div>
            </div>
        </div>
            <?php }
            else {
                echo'<div class="row">';
                foreach($this->data['items'] as $performer): ?>
                <div class="col-12 col-l-3">
                    <div class="accordion-persons__performer ">
                        <div hidden id="accordion-persons__performer-modal-<?php echo $performer['id']; ?>">
                            <?php  echo $this->ndPartial('qp/hrm/partials/modals/modal-expert', ['data' => $performer ]); ?>
                        </div>
                        <div class="accordion-persons__performer__image" data-performer="<?php echo $performer['id']; ?>">
                            <?php if(isset($performer['image'])): ?>
                                <?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => $performer['image'] ]); ?>
                            <?php endif; ?>
                        </div>
                        <div class="accordion-persons__performer__information__popover accordion-persons__performer__information__<?php echo $performer['id'] ?>">
                            <div class="accordion-persons__performer__name">
                                <?php echo $performer['name']; ?>
                            </div>
                            <div class="accordion-persons__performer__company">
                                <?php echo $performer['jobTitle']; ?>
                                <a href="#"><?php echo $performer['worksFor']; ?></a>
                            </div>
                            <div class="accordion-persons__performer__modal-link">
                                <a class="modal-trigger" data-modal-target="accordion-persons__performer-modal-<?php echo $performer['id']; ?>" id="#expert-<?php echo $performer['id']; ?>" href="#">Mehr Informationen</a>
                            </div>
                        </div>
                    </div>
                </div>
                <?php endforeach; } ?>
                </div>
</div>