<?php
    //\FirePHP::getInstance(true)->info($this->data);
    $classes   = $this->data['class'];
    $classes[] = 'panel-group';
    $classes[] = 'accordion';
    $class     = implode( ' ', $classes );
?>
    <div class="<?php echo $class; ?>" id="accordion_<?php echo $this->data['id']; ?>" role="tablist">

        <?php
        $first = true;
        foreach( $this->data['items'] as $item ): ?>
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="heading<?php echo $item['id']; ?>">
                <?php if ($item['headline']): ?>
                    <h4 class="panel-title">
                        <a role="button"
                           data-toggle="collapse"
                           class="<?php echo $first ? '' : 'collapsed';?> stop-jump-top"
                    <?php //       data-parent="#accordion_<?php echo $this->data['id']; ?>
                           href="#collapse<?php echo $item['id']; ?>"
                           aria-expanded="true"
                           aria-controls="collapse<?php echo $item['id']; ?>">
                                <span class="panel-headline"><?php echo $item['headline']; ?></span>
                                <?php if (isset($this->data['whitepapers'])): ?>
                                <span class="white-papers__request-link">anfordern</span>
                                <?php else: ?>
                                <i class="material-icons collapse-caret">keyboard_arrow_up</i>
                                <?php endif;?>
                        </a>
                    </h4>
                <?php endif; ?>
            </div>
            <div id="collapse<?php echo $item['id']; ?>"
                 class="panel-collapse collapse <?php echo $first ? 'in' : ''; ?>"
                 role="tabpanel"
                 aria-labelledby="heading<?php echo $item['id']; ?>">
                <div class="panel-body">
                    <?php
                    echo $this->ndPartial($item['partial'], [
                        'config' => $this->config,
                        'data'     => $item['data'],
                    ]);
                    ?>
                </div>
            </div>
        </div>
        <?php
            $first = false;
        endforeach; ?>

    </div>

