<?php
$address = '';
if(isset($this->config['endPoint']['_address'])) {
    if (isset($this->config['endPoint']['_address']['streetAddress'])) {
        $address .= $this->config['endPoint']['_address']['streetAddress'] . '<br />';
    } else {
        $address .= '??<br />';
    }
    if (isset($this->config['endPoint']['_address']['postalCode'])) {
        if (isset($this->config['endPoint']['_address']['addressLocality'])) {
            $address .= $this->config['endPoint']['_address']['postalCode'] . ' ';
        }
        $address .= $this->config['endPoint']['_address']['addressLocality'] . '<br />';
    } else {
        $address .= '??<br />';
    }
} else {
    $address .= '??<br />';
    $address .= '??<br />';
}
if(isset($this->config['endPoint']['telephone'])) {
    $address .= $this->translate('COMMON_PHONE_PREFIX') . ' '.$this->config['endPoint']['telephone'].'<br />';
} else {
    $address .= '!!' . $this->translate('COMMON_PHONE_PREFIX') . '<br />';
}
if(isset($this->config['endPoint']['fax'])) {
    $address .= $this->translate('COMMON_FAX_PREFIX') . ' '.$this->config['endPoint']['fax'].'<br />';
} else {
    $address .= '!!' . $this->translate('COMMON_FAX_PREFIX') . '<br />';
}
if(isset($this->config['endPoint']['email'])) {
    $address .= '<a href="mailto:'.$this->config['endPoint']['email'].'">'.$this->config['endPoint']['email'].'</a><br />';
} else {
    $address .= '<a href="#">??</a><br />';
}
if(isset($this->config['endPoint']['website'])) {
    $address .= '<a href="'.$this->config['endPoint']['website'].'">'.$this->config['endPoint']['website'].'</a>';
} else {
    $address .= '<a href="#">??</a><br />';
}



echo $address;

