<section class="definition-list">
    <?php if(isset($this->data['content']) && !empty($this->data['content'])): ?>
    <div class="accordion__text">
        <?php echo $this->data['content']; ?>
    </div>
    <?php endif; ?>

    <?php if(isset($this->data['items']) && !empty($this->data['items'])): ?>
        <?php foreach ( $this->data['items'] as $item ): ?>
            <div class="row definition-list__row">
                <div class="col-12 col-m-4 definition-list__term">
                    <?php echo $item['headline']; ?>:
                </div>

                <div class="col-12 col-m-8 definition-list__description">
                    <?php echo $item['content']; ?>
                </div>
            </div>
        <?php endforeach;?>
    <?php endif; ?>

    <?php if(isset($this->data['content2']) && !empty($this->data['content2'])): ?>
        <div class="accordion__text">
            <?php echo $this->data['content2']; ?>
        </div>
    <?php endif; ?>

</section>