<div class="accordion-posts-wrapper">
    <?php foreach ( $this->data['posts'] as $date => $posts ): ?>
        <div class="accordion-posts clearfix">
            <div class="circle-col"></div>
            <div class="content-col">
                <div class="accordion-posts-date">
                    <?php echo date('d.m.Y',$date); ?>
                </div>
                <div class="accordion-posts-of-day">
                    <?php foreach($posts as $post): ?>
                        <div class="accordion-post">
                            <div class="headline">
                                <a href="<?php echo $post['url']; ?>">
                                    <?php echo $post['headline']; ?>
                                </a>
                            </div>
                            <?php echo $this->ndPartial('qp/hrm/partials/tags', [
                                'config' => $this->config['config'],
                                'data'   => $post['tags']
                            ]); ?>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
</div>

<?php echo $this->ndPartial('qp/hrm/partials/buttons', [
    'data' => [
        [ 'type' => 'info', 'text' => $this->translate('ACCORDION_CONTENT_MORE_POSTS') ]
    ]
]); ?>