<section class="service">
    <div class="service__text">
        <?php echo $this->data['content']; ?>
    </div>

    <section class="travel">
        <div class="row">
            <div class="col-xs-12">
                <h5>Hotels</h5>
            </div>
        </div>
        <div class="row">

        <?php foreach ( $this->data['items'] as $item ): ?>
            <div class="col-12 col-l-6 travel__item">

                <div class="row">
                    <div class="col-4">
                        <?php if(isset($item['url']) && !empty($item['url'])): ?>
                        <div class="travel__item__image">
                            <?php echo $this->ndPartial('qp/hrm/partials/image', $item['image'] ); ?>
                        </div>
                        <?php endif; ?>
                    </div>
                    <div class="col-8">
                        <?php if(isset($item['headline']) && !empty($item['headline'])): ?>
                            <p>
                                <strong><?php echo $item['headline']; ?></strong>
                            </p>
                        <?php endif; ?>

                        <?php if(isset($item['address']) && !empty($item['address'])): ?>
                            <div class="travel__address">
                                <?php echo $item['address']; ?>
                            </div>
                        <?php endif; ?>

                        <?php if(isset($item['content']) && !empty($item['content'])): ?>
                            <div class="travel__content">
                                <?php echo $item['content']; ?>
                            </div>
                        <?php endif; ?>

                        <?php if(isset($item['url']) && !empty($item['url'])): ?>
                            <a href=" <?php echo $item['url']; ?>">Zur Buchung</a>
                        <?php endif; ?>

                    </div>
                </div>
            </div>
        <?php endforeach;?>

        </div>
    </section>

    <div class="service__text">
        <?php echo $this->data['content2']; ?>
    </div>

</section>
