<div class="accordion-grid">
    <div class="row">

        <?php foreach ( $this->data['items'] as $item ): ?>
            <div class="accordion-grid__item col-12 col-m-6">
                <div class="accordion-grid__item__inner">
                    <h5><?php echo $item['headline']; ?></h5>
                    <?php echo $item['content']; ?>
                </div>
            </div>
        <?php endforeach; ?>

    </div>
</div>