<div class="accordion-process">
    <?php if(isset($this->data['content']) && !empty($this->data['content'])): ?>
        <div class="accordion__text">
            <?php echo $this->data['content']; ?>
        </div>
    <?php endif; ?>

    <?php //TODO: make process accordion tabs it working
          // - in s as accordion
          // - in m+ as tabs ?>
    <?php if(isset($this->data['items']) && !empty($this->data['items'])): ?>
    <div class="process-accordion">
        <?php foreach ( $this->data['items'] as $item ): ?>
            <div class="process-accordion__row">
                <div class="process-accordion__tab">
                    <div class="process-accordion__tab__inner">
                        <?php echo $item['headline']; ?>
                    </div>
                </div>
                <div class="process-accordion__content">
                    <h5><?php echo $item['headline']; ?></h5>
                    <?php echo $item['content']; ?>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
    <?php endif; ?>

</div>