<div class="input-group">
    <span class="input-group-addon hidden-xs" id="basic-addon1">
        <i class="material-icons">short_text</i>
    </span>
    <input type="text"
           name="tags_p1"
           class="form-control auto-complete"
           autocomplete="off"
           placeholder="<?php echo $this->translate('HRM_SEARCH_PLACEHOLDER_TOPIC'); ?>"
           aria-describedby="basic-addon1"
           data-ac-data-set="<?php echo $this->getAggList($this->aggs, 'tags_p1'); ?>">
</div>