<div class="input-group">
    <span class="input-group-addon hidden-xs" id="basic-addon1">
        <i class="material-icons">short_text</i>
    </span>
    <input type="text"
           name="q"
           class="form-control"
           placeholder="<?php echo $this->translate('HRM_SEARCH_PLACEHOLDER_JOB'); ?>"
           aria-describedby="basic-addon1">
</div>