<?php
    $mainSet = [
        ''              => $this->translate('HRM_SEARCH_PLACEHOLDER_GLOBAL_MAIN'),
        'news'          => $this->translate('HRM_SEARCH_PLACEHOLDER_GLOBAL_NEWS'),
        'weiterbildung' => $this->translate('HRM_SEARCH_PLACEHOLDER_GLOBAL_EDUCATION'),
        'jobboerse'     => $this->translate('HRM_SEARCH_PLACEHOLDER_GLOBAL_JOB'),
        'events'        => $this->translate('HRM_SEARCH_PLACEHOLDER_GLOBAL_EVENTS'),
        'experte'       => $this->translate('HRM_SEARCH_PLACEHOLDER_GLOBAL_PERSON'),
        'partner'       => $this->translate('HRM_SEARCH_PLACEHOLDER_GLOBAL_PARTNER'),
    ];
    $mainSetJson = htmlspecialchars(json_encode($mainSet), ENT_QUOTES, 'UTF-8');
?>
<button id="main" class="btn dropdown-small <?php echo $this->class; ?> main-parent" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span id="search_concept"><?php echo $this->translate('HRM_SEARCH_PLACEHOLDER_GLOBAL_MAIN'); ?></span>
    <i class="material-icons">keyboard_arrow_down</i>
</button>
<input name="main"
       class="main"
       type="hidden"
       data-ac-data-set="<?php echo $mainSetJson; ?>" />

<ul class="dropdown-menu" role="menu">
    <?php foreach ($mainSet as $mainId => $main): ?>
        <?php if($mainId !== ''): ?>
            <li>
                <a class="dropdown-option" data-parent="main">
                    <?php echo $main; ?>
                </a>
            </li>
        <?php endif; ?>
    <?php endforeach; ?>
    <li class="divider"></li>
    <li>
        <a class="dropdown-option" data-parent="main">
            <?php echo $this->translate('HRM_SEARCH_PLACEHOLDER_GLOBAL_MAIN'); ?>
        </a>
    </li>
</ul>