<div class="input-group">
    <span class="input-group-addon hidden-xs" id="basic-addon1">
        <i class="material-icons">label</i>
    </span>
    <input type="text"
           name="job_location"
           class="form-control auto-complete"
           placeholder="<?php echo $this->translate('HRM_SEARCH_PLACEHOLDER_PLACE'); ?>"
           aria-describedby="basic-addon1"
           data-ac-data-set="<?php echo $this->getAggList($this->aggs, 'job_location'); ?>">
</div>