<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
        <i class="material-icons">label</i>
    </span>
    <input type="text"
           name="tags_sector"
           class="form-control auto-complete"
           placeholder="<?php echo $this->translate('HRM_SEARCH_PLACEHOLDER_BRANCH'); ?>"
           aria-describedby="basic-addon1"
           data-ac-data-set="<?php echo $this->getAggList($this->aggs, 'tags_sector'); ?>">
</div>