<div class="input-group">
    <span class="input-group-addon hidden-xs" id="basic-addon1">
        <i class="material-icons">label</i>
    </span>
    <input type="text"
           name="industry"
           class="form-control"
           placeholder="<?php echo $this->translate('HRM_SEARCH_PLACEHOLDER_INDUSTRY'); ?>"
           aria-describedby="basic-addon1">
</div>