<?php if(isset($this->aggs['additionalType']['buckets']) && count($this->aggs['additionalType']['buckets'])): ?>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">
            <i class="material-icons">label</i>
        </span>

        <div class="form-element select-format">
            <div class="dropdown">
                <button id="format" class="form-control select dropdown-toggle format-parent" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <?php echo $this->translate('HRM_SEARCH_PLACEHOLDER_FORMAT'); ?>
                    <i class="material-icons nav-caret">keyboard_arrow_up</i>
                </button>
                <input name="format"
                       class="format"
                       type="hidden"
                       data-ac-data-set="<?php echo $this->getAggList($this->aggs, 'additionalType'); ?>" />

                <ul class="dropdown-menu" >
                    <?php
                        $i   = 0;
                        $len = count($this->aggs['additionalType']['buckets']);
                    ?>
                    <?php foreach ($this->aggs['additionalType']['buckets'] as $additionalType): ?>
                        <li>
                            <a class="dropdown-option" data-parent="format">
                                <?php echo $this->translate($additionalType['key']); ?>
                            </a>
                        </li>
                        <?php if ($i < ($len-1)): ?>
                            <li class="divider" role="separator"></li>
                        <?php endif; ?>
                        <?php $i++; ?>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>

<?php endif; ?>