<div class="row">
    <div class="col-12">
        <h1><?php echo $this->translate('PROFILE_HL') . $this->me['fullname']; ?></h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4><?php echo $this->translate('PROFILE_HL_BASIC_DATA'); ?></h4>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <?php echo $this->translate('PROFILE_FIRSTNAME'); ?>
    </div>
    <div class="col-9">
        <?php echo $this->me['firstname']; ?>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <?php echo $this->translate('PROFILE_LASTNAME'); ?>
    </div>
    <div class="col-9">
        <?php echo $this->me['lastname']; ?>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <?php echo $this->translate('PROFILE_EMAIL'); ?>
    </div>
    <div class="col-9">
        <?php echo $this->me['email']; ?>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <?php echo $this->translate('PROFILE_STATE'); ?>
    </div>
    <div class="col-9">
        <?php if($this->me['state']): ?>
            <?php echo $this->translate('PROFILE_STATE_ACTIVE'); ?>
        <?php else: ?>
            <?php echo $this->translate('PROFILE_STATE_INACTIVE'); ?>
        <?php endif; ?>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <?php echo $this->translate('PROFILE_CREATED'); ?>
    </div>
    <div class="col-9">
        <?php echo $this->me['createDate']->format('d.m.Y'); ?>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <?php echo $this->translate('PROFILE_LAST_MODIFIED'); ?>
    </div>
    <div class="col-9">
        <?php echo $this->me['lastModified']->format('d.m.Y'); ?>
    </div>
</div>
<!--    <a class="btn btn--primary" data-module="ModalButton" href="--><?php //echo $this->url('profile-edit'); ?><!--">-->
<!--        --><?php //echo $this->translate('PROFILE_EDIT_BASIC_DATA'); ?>
<!--    </a>-->

<div class="row">
    <div class="col-12">
        <h4><?php echo $this->translate('PROFILE_HL_PICTURE'); ?></h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a class="btn btn--primary" href="<?php echo $this->url('profile-password'); ?>">
            <?php echo $this->translate('PROFILE_RESET_PICTURE'); ?>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h4><?php echo $this->translate('PROFILE_HL_SECURE'); ?></h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a class="btn btn--primary" data-module="ModalButton" href="<?php echo $this->url('profile-password'); ?>">
            <?php echo $this->translate('PROFILE_RESET_PASSWORD'); ?>
        </a>
    </div>
</div>