<section class="<?php echo ($this->page->getTemplate() === 'empty') ? 'container' : ''; ?> content-row module ">
    <?php
//            \FirePHP::getInstance(true)->info($this->data);
    $columns = count($this->data['items']);
    $bootstrapCol = ceil(12 / $columns);
    ?>

    <?php $collapseId = 'collapseMobile' . md5($this->data['headline']); ?>
    <?php if ($this->data['headline']): ?>
        <a class="collapse-link stop-jump-top collapsed" role="button" data-toggle="collapse" href="#<?php echo $collapseId; ?>" aria-expanded="false" aria-controls="<?php echo $collapseId; ?>">
            <div>
<!--         ARROWS IN ACCORDIONS       <div class="teaser__carret"><i class="material-icons">keyboard_arrow_up</i></div>-->
                <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
            </div>
        </a>
    <?php endif; ?>

    <div class="<?php echo !empty($this->data['headline']) ? 'mobile-collapse collapse ' : '' ?>" id="<?php echo $collapseId; ?>">
        <?php if ($this->data['text']): ?>
            <div class="row">
                <div class="col-lg-12">
                    <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
                </div>
            </div>
        <?php endif; ?>
        <div class="row">
            <?php for ($i = 0; $i < $columns; $i++): ?>
                <?php if ($this->resolver('qp/hrm/partials/modules/' . $this->data['items'][$i]['template']))
                { ?>
                    <div class="col-lg-<?php echo $bootstrapCol; ?> col-sm-<?php echo ($bootstrapCol < 6) ? ($bootstrapCol * 2) : $bootstrapCol; ?> content-row__item">
                        <?php echo $this->ndPartial('qp/hrm/partials/modules/' . $this->data['items'][$i]['template'], ['data'   => $this->data['items'][$i],
                                                                                                                      'config' => $this->config,
                        ]); ?>
                    </div>
                <?php }
                else if ($this->resolver('qp/hrm/partials/' . $this->data['items'][$i]['template']))
                { ?>
                    <div class="col-lg-<?php echo $bootstrapCol; ?> col-sm-<?php echo ($bootstrapCol < 6) ? ($bootstrapCol * 2) : $bootstrapCol; ?> content-row__item">
                        <?php echo $this->ndPartial('qp/hrm/partials/' . $this->data['items'][$i]['template'], ['data'   => $this->data['items'][$i],
                                                                                                              'config' => $this->config,
                        ]); ?>
                    </div>
                <?php } ?>
            <?php endfor; ?>
        </div>
        <?php if ($this->data['link']['url']): ?>
            <div class="row">
                <div class="col-l-6 ">
                    <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                        'config' => $this->config,
                        'data'   => [
                            [
                                'type' => 'info',
                                'text' => $this->translate('COMMON_SHOW_ALL'),
                                'attr' => [
                                    'href' => [$this->data['link']['url']],
                                ],
                            ],
                        ],
                    ]); ?>
                </div>
            </div>
        <?php endif; ?>
    </div>
</section>