<section class="container-fluid placeholder">
    <?php
//        \FirePHP::getInstance(true)->info($this->data);
    ?>
    <?php if($this->data['headline']): ?>
        <div class="row">
            <div class="col-lg-12">
                <h2><?php echo $this->data['headline']; ?></h2>
            </div>
        </div>
    <?php endif; ?>
    <?php if($this->data['text']): ?>
        <div class="row">
            <div class="col-lg-12">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
            </div>
        </div>
    <?php endif; ?>
    <?php if ($this->resolver('qp/hrm/partials/'.$this->data['items'][0]['template'])): ?>
        <div class="content-row__item--full-width">
            <?php echo $this->ndPartial('qp/hrm/partials/'.$this->data['items'][0]['template'], ['data' => $this->data['items'][0], 'config' => $this->config]); ?>
        </div>
    <?php endif; ?>
    <?php if($this->data['link']['url']): ?>
        <div class="row">
            <div class="col-l-6 ">
                <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                    'config' => $this->config,
                    'data'   => [
                        [
                            'type' => 'info',
                            'text' => $this->translate('COMMON_SHOW_ALL'),
                            'attr' => [
                                'href' => [$this->data['link']['url']],
                            ],
                        ],
                    ],
                ]); ?>
            </div>
        </div>
    <?php endif; ?>
</section>