<div class="search-item">
    <div class="search-item__inner">
        <div class="row">
            <?php
//                    \FirePHP::getInstance(true)->info($this->data);
            ?>
            <div class="col-12 col-l-2">
                <a href="<?php echo $this->data['url']; ?>">
                    <div class="companies__item__image">
                        <?php echo $this->ndPartial('qp/hrm/partials/image', [
                            'data' => $this->data['image']
                        ]); ?>
                    </div>
                </a>
            </div>
            <!-- Label if Premium -->
            <?php if($this->data['is_premium'] == 1): ?>
                <div class="col-l-8 col-12">
                    <?php echo $this->ndPartial('qp/hrm/partials/label', ['text' => 'Premium', 'class' => 'green']); ?>
                </div>
            <?php endif; ?>
            <div class="search-item__caption col-12 col-l-10">
                <div class="search-item__caption__title">
                    <a href="<?php echo $this->data['url']; ?>">
                        <?php echo $this->data['name']; ?>
                    </a>
                </div>

                <?php echo $this->ndPartial('qp/hrm/partials/tags', ['data' => $this->data, 'main' => $this->main, 'config' => $this->config]); ?>
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => substr(strip_tags($this->data['description']),0,250) ,'link' => $this->data['url'] ]); ?>

                <!-- Company information if it is premium -->
                <?php if($this->data['is_premium'] == 1): ?>
                    <div class="jobboerse__item__info__details">
                        <?php echo $this->ndPartial('qp/hrm/partials/details_icons', [
                            'data' => $this->data
                        ]); ?>
                    </div>
                <?php endif; ?>

                <?php echo $this->ndPartial('qp/hrm/partials/share-icons', [
                    'url'  => $this->data['url'],
                    'item' => $this->data,
                ]); ?>
            </div>
        </div>
    </div>
</div>