<div class="search-item">
    <div class="search-item__inner">
        <div class="row">
                <?php
        //        \FirePHP::getInstance(true)->info($this->data);
            ?>
            <?php if (isset($this->data['image'])){ ?>
            <div class="search-item__thumbnail col-12 ">
                <a href="<?php echo $this->data['url']; ?>">
                    <?php $images = ['highlight_570_x_570px.jpg', 'highlight_270_x_270px.jpg', 'aktuelle_news_570_x_320px.jpg'] ?>
                        <div class="search-item__thumbnail__event-image" >
                            <?php echo $this->ndPartial('qp/hrm/partials/image', [
                                'data' => '/hrm/img/'.$images[rand(0,(count($images)-1))]
                            ]); ?>
                        </div>

<!-- Company Name (Hidden for the first release)-->
<!--                    <div class="search-item__company hidden-s">-->
<!--                        <a href="#">-->
<!---->
<!--                            --><?php
//                            $speakers = count($this->data['performer']);
//                            if ($speakers > 1) { ?>
<!--                            <div class="search-item__caption__image">-->
<!--                                --><?php //echo $this->ndPartial('qp/hrm/partials/image', [
//                                    'data' => $this->data['image']
//                                ]); ?>
<!--                            </div>-->
<!--                            <div class="search-item__caption__detail">-->
<!--                                <span>Firmenname GmbH</span>-->
<!--                            </div>-->
<!--                            --><?php //}?>
<!---->
<!--                        </a>-->
<!---->
<!--                    </div>-->
                </a>
            </div>
            <?php } ?>

            <div class="search-item__caption col-12 col-m-8">
                <div class="search-item__caption__title">

                    <!-- Tooltip test -->
                    <a  href="<?php echo $this->data['url']; ?>">
                        <?php echo $this->data['name']; ?>
                    </a>
                </div>
                <?php echo $this->ndPartial('qp/hrm/partials/tags', ['data' => $this->data, 'main' => $this->main, 'config' => $this->config]); ?>

                <div class="teaser_text event_teaser">
                    <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['teaserText'], 'link' => $this->data['url']]); ?>
                </div>
                <?php echo $this->ndPartial('qp/hrm/partials/filter-result-item-search/event-expert', ['data' => $this->data]); ?>

                <div class="search-item__caption__details">
                    <?php echo $this->ndPartial('qp/hrm/partials/details_icons', ['data' => $this->data]); ?>
                </div>
            </div>


            <div class="search-item__interactions col-xs-12 col-sm-12 col-m-12 col-lg-12">
                <?php echo $this->ndPartial('qp/hrm/partials/share-icons', [
                    'url'  => $this->data['url'],
                    'item' => $this->data,
                ]); ?>
            </div>
        </div>
    </div>
</div>

