<?php
//    \FirePHP::getInstance(true)->info($this->data);
    $performer = $this->data['performer'];
    if (isset($this->data['performer']['main_performer'])) {
        $performer = $this->data['performer']['main_performer'];
    }

    $speakerCount = count($performer);
    if ($speakerCount > 6) {
        $speakerCount = 6;
    }
?>
<?php if ($speakerCount > 1): ?>

    <div class="search-item__caption__experte">
            <?php for ($i = 0; $i < $speakerCount; $i++): ?>

            <div  id="#expert-<?php echo $performer[$i]['id']; ?>" data-modal-target="expert-modal-<?php echo $performer[$i]['id']; ?>"  class="search-item__caption__experte__item modal-trigger">
                <span></span>
                <div hidden id="expert-modal-<?php echo $performer[$i]['id']; ?>">
                    <?php echo $this->ndPartial('qp/hrm/partials/modals/modal-expert', ['data' => $performer[$i]]); ?>
                </div>
                <div class="search-item__caption__image"
                     title="<?php echo $performer[$i]['name']; ?>" data-toggle="popover" data-placement="top" data-performer="<?php echo $performer[$i]['id']; ?>">
                    <?php echo $this->ndPartial('qp/hrm/partials/image', [
                        'data' => $performer[$i]['image']
                    ]); ?>
                </div>
                <div class="hide agenda__item__performer__information__popover agenda__item__performer__information__<?php echo $performer[$i]['id']; ?>">
                    <div class="agenda__item__performer__name">
                        <?php echo $performer[$i]['name']; ?>
                    </div>
                    <div class="agenda__item__performer__company">
                        <?php echo $performer[$i]['jobTitle']; ?>
                        <a href="#"><?php echo $performer[$i]['worksFor']; ?></a>
                    </div>
                </div>
            </div>
        <?php endfor; ?>
        <?php if ($speakerCount === 6): ?>
            <a href="<?php echo $this->data['url']; ?>" class="search-item__caption__experte__more">
                <i class="material-icons">more_horiz</i>
            </a>
        <?php endif; ?>


    </div>

<?php elseif (isset($performer[0])): ?>

    <div class="search-item__caption__experte">
        <div id="#expert-<?php echo $performer[0]['id']; ?>" data-modal-target="first-expert-modal-<?php echo $performer[0]['id']; ?>" class="search-item__caption__experte__item modal-trigger">
            <div hidden id="first-expert-modal-<?php echo $performer[0]['id']; ?>">
                <?php  echo $this->ndPartial('qp/hrm/partials/modals/modal-expert', ['data' => $performer[0]]); ?>
            </div>
            <div class="search-item__caption__image">
                <?php echo $this->ndPartial('qp/hrm/partials/image', [
                    'data' => $performer[0]['image']
                ]); ?>
            </div>
            <div class="search-item__caption__detail">
                <div class="search-item__caption__experte__name">
                    <?php echo $performer[0]['name']; ?>
                </div>
                <div class="search-item__caption__experte__firma">
                    <?php echo $performer[0]['jobTitle'] . ' - ' . $performer[0]['worksFor']; ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>