<div class="search-item">
    <div class="search-item__inner">
        <div class="row">
            <?php
            //        \FirePHP::getInstance(true)->info($this->data);
            ?>

            <div class="search-item__caption col-xs-12 col-s-12 col-m-8 col-lg-8">
                <div class="search-item__caption__title">

                    <!-- Tooltip test -->
                    <a  href="<?php echo $this->data['url']; ?>">
                        <?php echo $this->data['name']; ?>
                    </a>
                </div>
                <div class="teaser_text">
                    <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['teaserText']]); ?>
                </div>
            </div>

            <div class="search-item__interactions col-xs-12 col-sm-12 col-m-12 col-lg-12">
                <?php echo $this->ndPartial('qp/hrm/partials/share-icons', [
                    'url'  => $this->data['url'],
                    'item' => $this->data,
                ]); ?>
            </div>
        </div>
    </div>
</div>

