<?php
//\FirePHP::getInstance(true)->info($this->data, 'partials/filter-item-search/job data');
?>
<div class="jobboerse__item search-item">
    <div class="search-item__inner">
        <div class="row">
            <div class="jobboerse__item__image">
                <?php echo $this->ndPartial('qp/hrm/partials/image', [
                    'data' => $this->data['view_image']
                ]); ?>
            </div>
            <div class="col-6 col-m-9">
                <div class="jobboerse__item__info">
                    <div class="jobboerse__item__info__header">
                        <a href="<?php echo $this->data['url']; ?>">
                            <?php echo $this->data['title']; ?>
                        </a>
                    </div>
                    <div class="jobboerse__item__info__firma">
                        <span>
                            <?php echo $this->data['company']; ?>
                        </span>
                    </div>

                    <div class="jobboerse__item__info__details">
                        <?php echo $this->ndPartial('qp/hrm/partials/details_icons', [
                            'data' => $this->data
                        ]); ?>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="search-item__interactions col-12">
                    <?php echo $this->ndPartial('qp/hrm/partials/share-icons', [
                        'url'  => $this->data['url'],
                        'item' => $this->data,
                    ]); ?>
                </div>
            </div>
        </div>
    </div>
</div>