<div class="<?php echo $this->class; ?>">
    <div class="search-item__inner">
        <div class="row">
            <?php
        //            \FirePHP::getInstance(true)->info($this->data);
            ?>
            <div class="<?php echo $this->class; ?>__thumbnail__expert-image">
                <a href="<?php echo $this->data['url']; ?>">
                    <div class="contacts__item__image">
                        <?php echo $this->ndPartial('qp/hrm/partials/image', [
                            'data' => $this->data['image']
                        ] ); ?>
                    </div>
                </a>
            </div>
            <div class="<?php echo $this->class; ?>__caption col-m-8">
                <div class="<?php echo $this->class; ?>__caption__name">
                    <a href="<?php echo $this->data['url']; ?>">
                        <?php if (isset($this->data['honorificPrefix']) && $this->data['honorificPrefix']): ?>
                            <?php echo $this->data['honorificPrefix'] . ' '; ?>
                        <?php endif; ?>
                        <?php echo $this->data['name']; ?>
                        <?php if (isset($this->data['honorificPrefix']) && $this->data['honorificSuffix']): ?>
                            <?php echo ' ' . $this->data['honorificSuffix']; ?>
                        <?php endif; ?>
                    </a>
                </div>

                <?php if( isset($this->data['jobTitle']) || isset($this->data['worksFor']) ): ?>
                <div class="<?php echo $this->class; ?>__caption__title">
                    <?php if(isset($this->data['jobTitle'])):
                        echo $this->data['jobTitle'];
                    endif;
                    if(isset($this->data['worksFor'])): ?>
                        <a href="#"><?php echo $this->data['worksFor']; ?></a>
                    <?php endif; ?>
                </div>
                <?php endif; ?>

                <?php echo $this->ndPartial('qp/hrm/partials/tags', ['data' => $this->data, 'main' => $this->main, 'config' => $this->config]); ?>

                <div class="teaser_text person_teaser">
                    <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['description'], 'link' => $this->data['url']]); ?>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="search-item__interactions col-12">
                <?php echo $this->ndPartial('qp/hrm/partials/share-icons', [
                    'url'  => $this->data['url'],
                    'item' => $this->data,
                ]); ?>
            </div>
        </div>
    </div>
</div>