<div class="search-item">
    <div class="search-item__inner">
        <div class="row">
            <div class="row search-item__row">
                <div class="col-2 search-item__post__author_image">
                    <div class="search-item__post__author_image__container">
                        <a href="<?php echo $this->data['author']['url']; ?>">
                            <img src="<?php echo $this->data['author']['image']; ?>" alt="Autor: <?php echo $this->data['author']['name']; ?>" />
                        </a>
                    </div>
                </div>
                <div class="col-m-9 col-7 search-item__post__author_detail__info">
                        <div class="col-m-2 col-12 search-item__post__author_detail__date">
                            <span ><?php echo date('d.m.Y', $this->data['created']); ?></span>
                        </div>

                        <div class="col-m-4 col-12 search-item__post__author_detail__name">
                            <span>
                                <a href="<?php echo $this->data['author']['url']; ?>">
                                    <?php echo $this->data['author']['name']; ?>
                                </a>
                            </span>
                        </div>
                        <div class="col-l-5 col-m-4 col-12 search-item__post__author_detail__job">
                            <span>
                                <a href="<?php echo $this->data['author']['url']; ?>">
                                    <?php echo $this->data['author']['jobTitle']; ?>
                                </a>
                            </span>
                        </div>
                </div>
                <div class="col-m-9 col-12 search-item__post__author_detail__title">
                    <a href="<?php echo $this->data['url']; ?>">
                        <?php echo $this->data['title']; ?>
                    </a>
                </div>
                <div class="col-m-9 hidden-s search-item__post__author_detail__tags">
                    <?php echo $this->ndPartial('qp/hrm/partials/tags', ['data' => $this->data, 'main' => $this->main, 'config' => $this->config]); ?>
                </div>

            </div>

            <div class="row search-item__row__teaser">
                <div class="col-m-6 search-item__post__image">
                    <a href="<?php echo $this->data['url']; ?>">
                        <img src="<?php echo $this->data['image']; ?>" alt="" />
                    </a>
                </div>
                <div class="col-m-6 search-item__post__teaser">
<!--                    --><?php
//                        $text = substr(strip_tags($this->data['content']),0,250)
//                              . ' <a class="read-more" href="'.$this->data['url'].'">weiterlesen...</a>'
//                    ?>
                    <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => strip_tags($this->data['content']), 'link' => $this->data['url']]); ?>
                </div>
            </div>
            <div class="search-item__interactions col-12">
                <?php echo $this->ndPartial('qp/hrm/partials/share-icons', [
                    'url'  => $this->data['url'],
                    'item' => $this->data,
                ]); ?>
            </div>
        </div>
    </div>
</div>
