<div class="container">
    <div class="stage-items">
        <div class="row">
            <div class="col-m-7 col-l-6 col-12 stage-items__b2b-stage">
                <div class="stage-items__b2b-stage__headline">
                    <h1><?php echo $this->headline; ?></h1>
                </div>
                <div class="stage-items__b2b-stage__subline">
                    <p><?php echo $this->text; ?></p>
                </div>
                <div class="row">
                    <?php $button_text = $this->button;
                        echo $this->button;
                    ?>

                    <div class="col-12 stage-items__b2b-stage__button">
                        <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                            'config' => $this->config,
                            'data' => [
                                [
                                    'type' => 'white-orange',
                                    'text' => $this->buttonText,
                                    'attr' => [
                                        'href' => [ '#' ],
                                    ]
                                ]
                            ]
                        ]); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>