<div class="stage-items stage-items--container-pos">
    <div class="stage-items__inner centered-text-item">
        <div class="container intro-header__content">
            <div class="row stage-items__inner__centered">
                <div class="col-9 center-col">
                    <p class="b2b-header large-text"><?php echo $this->text ?></p>
                </div>
            </div>
        </div>
    </div>
</div>