<div class="container">

    <div class="stage-items stage-items--headline-subline">
        <div class="stage-items__inner <?php echo $this->class ?>">
            <div class="intro-header__content headline-subline">

                <div class="stage-items__labels hidden-s">
                    <div class="stage-items__labels__inner">
                        <!-- Label if New -->
                        <?php echo $this->ndPartial('qp/hrm/partials/label', ['text' => 'Neu', 'class' => 'yellow_box']); ?>
                        <!-- Label if Premium -->
                        <?php echo $this->ndPartial('qp/hrm/partials/label', ['text' => 'Rabatt', 'class' => 'red']); ?>
                    </div>
                </div>

                <div class="stage-items__headline">
                    <div class="stage-items__headline__inner">
                        <h1><?php echo $this->headline; ?></h1>
                    </div>
                </div>
                <div class="stage-items__subline">
                    <div class="stage-items__subline__inner">
                        <?php echo $this->text; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>