<div class="stage-items__wrapper stage-items__wrapper--headline-subline-events">

    <div class="container">
        <div class="stage-items stage-items--headline-subline">
            <div class="stage-items__inner <?php echo $this->class ?>">
                <div class="intro-header__content headline-subline">
                    <div class="stage-items__headline">
                        <div class="stage-items__headline__inner">
                            <h1><?php echo $this->headline; ?></h1>
                        </div>
                    </div>

                    <div class="stage-items__subline">
                        <div class="stage-items__subline__inner">
                            <?php echo $this->text; ?>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="stage-items__bar"
         style="
         <?php echo isset($this->color) ? 'color:'.$this->color.';':'';?>
         <?php echo isset($this->bg_color) ? 'background-color:'.$this->bg_color.';':'';?>">
        <div class="container">
            <div class="stage-items stage-items--headline-subline">
                <div class="stage-items__inner <?php echo $this->class ?>"></div>
            </div>
        </div>
    </div>
</div>