<div class="stage-items stage-items--container-pos">
    <div class="stage-items__inner">
        <div class="container intro-header__content home-stage-items">
            <div class="row intro-header__content__search hidden-sm hidden-xs">
                <div class="col-lg-12 col-md-offset-3 ">
                    <?php echo $this->ndPartial('qp/hrm/partials/form/homepage-search', ['config' => $this->config]); ?>
                </div>
            </div>
            <div class="row  header-icons">
                <div class="col-l-3 col-m-6 col-12 image header-icons__item">
                    <i class="material-icons">lightbulb_outline</i>
                    <div>Inspiration<br /><span class="header-icons__item__description">Lorem ipsum sit amet</span></div>
                </div>
                <div class="col-l-3 col-m-6 col-12 image  header-icons__item">
                    <i class="material-icons">school</i>
                    <div>Knowhow<br /><span class="descripheader-icons__item__descriptiontion">Lorem ipsum sit amet</span>
                    </div>
                </div>
                <div class="col-l-3 col-m-6 col-12 image  header-icons__item">
                    <i class="material-icons">device_hub</i>
                    <div>Networking<br /><span class="header-icons__item__description">Lorem ipsum sit amet</span></div>
                </div>
                <div class="col-l-3 col-m-6 col-12 image header-icons__item">
                    <i class="material-icons">cloud</i>
                    <div>Headline<br /><span class="header-icons__item__description">Lorem ipsum sit amet</span></div>
                </div>
            </div>
        </div>
    </div>
</div>


