<div class="container">
    <div class="stage-items">
        <div class="row">
            <div class="col-m-8 col-l-6 col-12 stage-items__list-button">
                <div class="stage-items__list-button__headline">
                    <h1><?php echo $this->headline; ?></h1>
                </div>
                <div class="stage-items__list-button__subline">
                    <ul>
                        <?php echo $this->text; ?>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-12 stage-items__list-button__button">
                        <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                            'config' => $this->config,
                            'data' => [
                                [
                                    'type' => 'info',
                                    'text' => $this->buttonText,
                                    'attr' => [
                                        'href' => [ $this->link['url'] ],
                                    ]
                                ]
                            ]
                        ]); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>