<div class="stage-items__container container">

    <div class="stage-items stage-items--magazine">
        <div class="stage-items__inner <?php echo $this->class ?>">
            <div class="intro-header__content headline-subline">
                <div class="stage-items__headline">
                    <div class="stage-items__headline__inner">
                        <h1><?php echo $this->headline; ?></h1>
                    </div>
                </div>
                <?php if(isset($this->text)): ?>
                <div class="stage-items__subline">
                    <div class="stage-items__subline__inner">
                        <?php echo $this->text; ?>
                    </div>
                </div>
                <?php endif; ?>
            </div>
        </div>


        <div class="magazine-by">
            <div class="magazine-by__inner">
                <div class="magazine-by__text">
                    <?php echo $this->translate('HRM_A_MAGAZINE_BY'); ?>
                </div>
                <div class="magazine-by__images">
                    <div class="row">
                        <div class="col-6">
                            <div class="magazine-by__image">
                                <div class="magazine-by__image__inner">
                                    <?php echo $this->ndPartial('qp/hrm/partials/image',[
                                        'data' => 'http://lorempixel.com/200/200/business',
                                        'class' => ['magazine-by__image__inner__img']
                                    ]); ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-6"">
                            <div class="magazine-by__image">
                                <div class="magazine-by__image__inner">
                                    <?php echo $this->ndPartial('qp/hrm/partials/image',[
                                        'data' => 'http://lorempixel.com/201/201/business',
                                        'class' => ['magazine-by__image__inner__img']
                                    ]); ?>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>