<?php
    $aggs = [];
    if ($this->aggs) {
        $aggs = $this->aggs;
    }

//    \FirePHP::getInstance(true)->info($this->config['mainRoutes']);
//    \FirePHP::getInstance(true)->info($this->entity);
//    \FirePHP::getInstance(true)->info($_SERVER['REQUEST_URI']);

    $requestUri = ltrim($_SERVER['REQUEST_URI'],'/');
    $entity     = $this->entity;
    if (strpos($this->entity, '/') !== false ) {
        $entityParts = explode('/',$this->entity);
        $entity      = $entityParts[1];
    }
    $main       = '';
    $mainBackup = '';
    foreach ($this->config['mainRoutes'] as $mainRoute => $mainRoutesConfig) {
        if ($mainRoutesConfig['entity'] === $entity) {
            $main = $mainRoute;
        }
    }
    if ($main === '' && $requestUri !== '/') {
        $main = $requestUri;
    }
?>
<div class="container">
    <div class="stage-items">
            <div class="col-l-8 col-12 stage-items__search-fields">
                <div class="stage-items__search-fields__headline">
                    <h1><?php echo $this->headline; ?></h1>
                </div>
                <div class="row">
                    <div class="col-12 stage-items__search-fields__inputs-small hidden-l hidden-m">
                        <div class="stage-items__search-fields__inputs-small">
                            <?php if ($this->resolver('qp/hrm/partials/form/search-'.$this->config['activePageId'])): ?>
                                <?php echo $this->ndPartial('qp/hrm/partials/form/search-'.$this->config['activePageId'], ['aggs' => $aggs, 'main' => $main]); ?>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 stage-items__search-fields__subline">
                        <p><?php echo $this->text; ?></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 stage-items__search-fields__inputs hidden-s">
                        <?php if ($this->resolver('qp/hrm/partials/form/search-'.$this->config['activePageId'])): ?>
                            <?php echo $this->ndPartial('qp/hrm/partials/form/search-'.$this->config['activePageId'], ['aggs' => $aggs, 'main' => $main]); ?>
                        <?php endif; ?>
                    </div>
                </div>
        </div>
    </div>
</div>