<section class="container about ">
    <div class="row">
        <?php
//            \FirePHP::getInstance(true)->info($this->data);
        ?>
        <div class="col-lg-12 col-sm-12 ">
            <h2><?php echo $this->data['headline']; ?></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6  col-sm-6">
            <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
        </div>
        <div class="col-lg-6 col-sm-6 video">
            <?php echo $this->ndPartial('qp/hrm/partials/teaser-video', ['data' => $this->data, 'config' => $this->config]); ?>
        </div>
    </div>
</section>