<div class="collapse__item">
    <?php if ($this->item['headline']): ?>
        <h5 class="panel-title">
            <?php echo $this->item['headline']; ?>
        </h5>
    <?php endif; ?>
    <?php if ($this->item['text'])
    {
        echo $this->item['text'];
    }
    ?>
</div>
