<?php
$panel_id = uniqid();
?>

<section class="container-fluid accordion">
    <div class="container">
        <div class="row">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading<?php echo $panel_id; ?>">
                        <?php if ($this->data['headline']): ?>
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<?php echo $panel_id; ?>" aria-expanded="true" aria-controls="collapse<?php echo $panel_id; ?>">
                                    <?php echo $this->data['headline']; ?>
                                </a>
                            </h4>
                        <?php endif; ?>
                    </div>
                    <div id="collapse<?php echo $panel_id; ?>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<?php echo $panel_id; ?>">
                        <div class="panel-body">

                            <?php
                            $index = 0;
                            while (isset($this->data['items'][$index]) && $index < 4)
                            {
                                echo $this->ndPartial('qp/hrm/partials/programm-item', [
                                    'item'     => $this->data['items'][$index],
                                    'panel_id' => $panel_id,
                                ]);
                                $index++;
                            }
                            ?>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
