<section class="<?php echo $this->data['class']; ?> container">
    <div class="container">
        <div class="row heading_underline">
            <h1><?php echo $this->data['headline']?></h1><h2 class="large-text heading-sub"><?php echo $this->data['text']?></h2>
        </div>
        <!-- AGB Item-->
        <div class="row">
            <h2 class="large-text">§1 Gelungsbereich</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
                Quisque vehicula dapibus purus, gravida laoreet eros congue sed. Suspendisse erat turpis, dictum a pellentesque vitae, faucibus a lorem.
                Quisque viverra pharetra luctus. Morbi commodo elementum quam, sed cursus risus. In fermentum efficitur dolor, ut luctus elit. Integer turpis nibh,
                viverra eget nibh at, pellentesque sodales purus.
            </p>
        </div>

        <!-- AGB Item-->
        <div class="row">
            <h2 class="large-text">§2 Vertragsschluss</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
                Quisque vehicula dapibus purus, gravida laoreet eros congue sed. Suspendisse erat turpis, dictum a pellentesque vitae, faucibus a lorem.
                Quisque viverra pharetra luctus. Morbi commodo elementum quam, sed cursus risus. In fermentum efficitur dolor, ut luctus elit. Integer turpis nibh,
                viverra eget nibh at, pellentesque sodales purus.
            </p>
        </div>

        <!-- AGB Item-->
        <div class="row">
            <h2 class="large-text">§3 Leistungsumfang/Lieferung/Versandkosten</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
                Quisque vehicula dapibus purus, gravida laoreet eros congue sed. Suspendisse erat turpis, dictum a pellentesque vitae, faucibus a lorem.
                Quisque viverra pharetra luctus. Morbi commodo elementum quam, sed cursus risus. In fermentum efficitur dolor, ut luctus elit. Integer turpis nibh,
                viverra eget nibh at, pellentesque sodales purus.
            </p>
        </div>

        <!-- AGB Item-->
        <div class="row">
            <h2 class="large-text">§4 Laufzeit/Kündigung</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
                Quisque vehicula dapibus purus, gravida laoreet eros congue sed. Suspendisse erat turpis, dictum a pellentesque vitae, faucibus a lorem.
                Quisque viverra pharetra luctus. Morbi commodo elementum quam, sed cursus risus. In fermentum efficitur dolor, ut luctus elit. Integer turpis nibh,
                viverra eget nibh at, pellentesque sodales purus.

                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
                Quisque vehicula dapibus purus, gravida laoreet eros congue sed. Suspendisse erat turpis, dictum a pellentesque vitae, faucibus a lorem.
                Quisque viverra pharetra luctus. Morbi commodo elementum quam, sed cursus risus. In fermentum efficitur dolor, ut luctus elit. Integer turpis nibh,
                viverra eget nibh at, pellentesque sodales purus.
            </p>
        </div>

        <!-- AGB Item-->
        <div class="row">
            <h2 class="large-text">§5 Widerruf</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
                Quisque vehicula dapibus purus, gravida laoreet eros congue sed. Suspendisse erat turpis, dictum a pellentesque vitae, faucibus a lorem.
                Quisque viverra pharetra luctus. Morbi commodo elementum quam, sed cursus risus. In fermentum efficitur dolor, ut luctus elit. Integer turpis nibh,
                viverra eget nibh at, pellentesque sodales purus.
            </p>
        </div>

        <!-- AGB Item-->
        <div class="row">
            <h2 class="large-text">§6 Zahlungsbedingungen/Eigentumsvorbehalt</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
                Quisque vehicula dapibus purus, gravida laoreet eros congue sed. Suspendisse erat turpis, dictum a pellentesque vitae, faucibus a lorem.
                Quisque viverra pharetra luctus. Morbi commodo elementum quam, sed cursus risus. In fermentum efficitur dolor, ut luctus elit. Integer turpis nibh,
                viverra eget nibh at, pellentesque sodales purus.
            </p>
        </div>

        <!-- AGB Item-->
        <div class="row">
            <h2 class="large-text">§7 Haftung</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
                Quisque vehicula dapibus purus, gravida laoreet eros congue sed. Suspendisse erat turpis, dictum a pellentesque vitae, faucibus a lorem.
                Quisque viverra pharetra luctus. Morbi commodo elementum quam, sed cursus risus. In fermentum efficitur dolor, ut luctus elit. Integer turpis nibh,
                viverra eget nibh at, pellentesque sodales purus.
            </p>
        </div>

        <!-- AGB Item-->
        <div class="row">
            <h2 class="large-text">§8 Datenschutz</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
                Quisque vehicula dapibus purus, gravida laoreet eros congue sed. Suspendisse erat turpis, dictum a pellentesque vitae, faucibus a lorem.
                Quisque viverra pharetra luctus. Morbi commodo elementum quam, sed cursus risus. In fermentum efficitur dolor, ut luctus elit. Integer turpis nibh,
                viverra eget nibh at, pellentesque sodales purus.
            </p>
        </div>

        <!-- AGB Item-->
        <div class="row">
            <h2 class="large-text">§9 Verschiedenes</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
                Quisque vehicula dapibus purus, gravida laoreet eros congue sed. Suspendisse erat turpis, dictum a pellentesque vitae, faucibus a lorem.
                Quisque viverra pharetra luctus. Morbi commodo elementum quam, sed cursus risus. In fermentum efficitur dolor, ut luctus elit. Integer turpis nibh,
                viverra eget nibh at, pellentesque sodales purus.
            </p>
        </div>

        <!-- AGB Item-->
        <div class="row">
            <h2 class="large-text">§10 Anwendbares Recht</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
            </p>
        </div>
    </div>
</section>