<div class="agenda__timeslot">
    <?php foreach($this->data as $agenda_item): ?>
    <div class="agenda__item row">
        <div class="agenda__item__time col-12 col-m-3 col-l-2">
            <?php
            $start = new \DateTime($agenda_item['startDate']);
            if(isset($agenda_item['endDate'])) {
                $end   = new \DateTime($agenda_item['endDate']);
                ?>
                <span class="agenda__item__start-time">
                    <?php echo $start->format('H:i')?>
                </span>
                <?php echo $this->translate('HRM_AGENDA_TIME_TILL'); ?>
                <span class="agenda__item__end-time">
                    <?php echo $end->format('H:i')?>
                </span>
            <?php } else { ?>
                <?php echo $this->translate('HRM_AGENDA_TIME_FROM'); ?>
                <span class="agenda__item__start-time">
                    <?php echo $start->format('H:i')?>
                </span>
            <?php } ?>
        </div>

        <div class="agenda__item__content col-12 col-m-9 col-l-10">
            <div class="row">
                <div class="agenda__item__main-info col-12 col-l-8">
                    <div class="agenda__item__headline ">
                        <div class="agenda__item__icon">
                            <?php if(isset($agenda_item['img']) && count($agenda_item['img'])): ?>
                                <?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => $agenda_item['img'] ]); ?>
                            <?php elseif(isset($agenda_item['icon']) && $agenda_item['icon']): ?>
                                <i class="material-icons"><?php echo $agenda_item['icon']; ?></i>
                            <?php endif; ?>
                        </div>
                        <div class="agenda__item__title">
                            <?php echo $agenda_item['headline']; ?>
                        </div>
                    </div>

                    <?php if(isset($agenda_item['content']) && $agenda_item['content']):
                        $body_accordion_id = uniqid(); ?>
                        <div class="agenda__item__body">
                            <a class="collapsed"
                               role="button"
                               data-toggle="collapse"
                               href="#agenda_body_<?php echo $body_accordion_id; ?>"
                               aria-expanded="false"
                               aria-controls="agenda_body_<?php echo $body_accordion_id; ?>">
                                <span class="agenda__item__show"><?php echo $this->translate('HRM_AGENDA_MORE_BUTTON'); ?></span>
                                <span class="agenda__item__hide"><?php echo $this->translate('HRM_AGENDA_LESS_BUTTON'); ?></span>
                                <i class="material-icons collapse-caret">keyboard_arrow_up</i>
                            </a>
                            <div class="collapse" id="agenda_body_<?php echo $body_accordion_id; ?>">
                                <div class="agenda__item__body__inner">
                                    <?php echo $agenda_item['content']; ?>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                </div>

                <div class="col-12 col-l-4">
                    <?php
                    $nbPerfomers = count($agenda_item['performer']) ;
                    if ($nbPerfomers==1) {
                            $performer = $agenda_item['performer'][0];
                            ?>
                            <div class="agenda__item__performer ">
                                <div class="agenda__item__performer__image" data-performer="<?php echo $performer['id']; ?>" data-toggle="popover" data-placement="top">
                                    <?php if(isset($performer['image'])): ?>
                                        <?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => $performer['image'] ]); ?>
                                    <?php endif; ?>
                                </div>
                                <div class="agenda__item__performer__information__block">
                                    <div class="agenda__item__performer__name">
                                        <?php echo $performer['name']; ?>
                                    </div>
                                    <div class="agenda__item__performer__company">
                                        <?php echo $performer['jobTitle']; ?>
                                        <a href="#"><?php echo $performer['worksFor']; ?></a>
                                    </div>
                                </div>
                            </div>
                    <?php }
                        else {
                            foreach($agenda_item['performer'] as $performer): ?>
                        <div class="agenda__item__performer ">
                            <div class="agenda__item__performer__image" data-performer="<?php echo $performer['id']; ?>" data-toggle="popover" data-placement="top">
                                <?php if(isset($performer['image'])): ?>
                                    <?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => $performer['image'] ]); ?>
                                <?php endif; ?>
                            </div>
                            <div class="hide agenda__item__performer__information__popover agenda__item__performer__information__<?php echo $performer['id'] ?>">
                                <div class="agenda__item__performer__name">
                                    <?php echo $performer['name']; ?>
                                </div>
                                <div class="agenda__item__performer__company">
                                    <?php echo $performer['jobTitle']; ?>
                                    <a href="#"><?php echo $performer['worksFor']; ?></a>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; } ?>

                </div>
            </div>
        </div> <?php //agenda__item__content ?>

    </div>
    <?php endforeach; ?>
</div>