<div class="row article-content__item__subitem">
    <div class="col-lg-12">

        <div class="article-content__item__subitem__text1">
            <h3>Subheadline h3</h3>
            <div class="article-content__item__subitem__image show_top">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-article-image'); ?>
            </div>
            <?php echo $this->ndPartial('qp/hrm/partials/teaser-text'); ?>
        </div>
        <div class="article-content__item__subitem__image hide_top">
            <?php echo $this->ndPartial('qp/hrm/partials/teaser-article-image'); ?>
        </div>
    </div>
</div>

<script>
    function getRandomInt( min, max ) {
        article_template_number = Math.floor( Math.random() * (max - min + 1) ) + min;
    }
    getRandomInt( 0, 3 );

    if ( article_template_number == 0 ) {
        article_image = 'left';
    }
    else if ( article_template_number == 1 ) {
        article_image = 'right';

    }
    else if ( article_template_number == 2 ) {
        article_image = 'top';
    }
    else if ( article_template_number == 3 ) {
        article_image = 'bottom';
    }

    var div = document.getElementsByClassName( 'article-content__item__subitem' );

    div[ 0 ].className += '--' + article_image;

</script>