<?php
//    \FirePHP::getInstance(true)->info($this->config['pathParts'],'pathParts');
//    \FirePHP::getInstance(true)->info($this->config['breadMiddle'], 'breadMiddle');
//    \FirePHP::getInstance(true)->info($this->config['breadEndName'], 'breadEndName');

    $pagesWithMiddle = [
        'tagung'     => 'HRM_BREADCRUMB_EDUCATION_TAGUNG',
        'seminar'    => 'HRM_BREADCRUMB_EDUCATION_SEMINAR',
        'e-learning' => 'HRM_BREADCRUMB_EDUCATION_ELEARNING',
    ];

    $breadMain = '';
    if (isset($this->config['pathParts'][0])) {
        $breadMain = $this->config['pathParts'][0];
    }
    $mainString = $this->translate('HRM_BREADCRUMB_'.strtoupper($breadMain));
    if ($mainString === 'HRM_BREADCRUMB_'.strtoupper($breadMain)) {
        $mainString = ucfirst(strtolower($breadMain));
    }
?>

<?php if ($breadMain !== '' && ( count($this->config['pathParts']) > 1 || $this->config['breadMiddle'] !== '' )): ?>
    <section class="container">
        <div class="row">
            <div class="col-m-9 col-12">
                <div id="breadcrumbs" class="breadcrumbs">
                    <a href="/">
                        <?php echo $this->translate('HRM_BREADCRUMB_HOME'); ?>
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>

                    <a href="/<?php echo $breadMain; ?>">
                        <?php echo $mainString; ?>
                    </a>

                    <?php if(isset($this->config['breadMiddle']['additionalType']) &&
                        isset($pagesWithMiddle[$this->config['breadMiddle']['additionalType']])): ?>
                        <a href="/<?php echo $breadMain.'/'.$this->config['breadMiddle']['additionalType']; ?>">
                            <i class="material-icons">keyboard_arrow_right</i>
                            <?php echo $this->translate($pagesWithMiddle[$this->config['breadMiddle']['additionalType']]); ?>
                        </a>
                    <?php else: ?>
                        <?php if(isset($this->config['breadMiddle']['origin']) &&
                            $this->config['breadMiddle']['origin'] === 'external'): ?>
                            <a href="/<?php echo $breadMain.'/weitere-termine'; ?>">
                                <i class="material-icons">keyboard_arrow_right</i>
                                <?php echo $this->translate('HRM_BREADCRUMB_EVENTS_EXTERNAL'); ?>
                            </a>
                        <?php endif; ?>
                    <?php endif; ?>
                    <a href="#" class="not-active">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <?php echo $this->translate($this->config['breadEndName']); ?>
                    </a>
                </div>
            </div>
        </div>
    </section>
<?php endif; ?>
