<?php foreach ( $this->data as $button ):
    //if(!isset($button['attr'])) {
    //    $button['attr'] = [];
    //}

    // add default classes to attr array
    $button['attr']['class'][] = 'button';
    $button['attr']['class'][] = 'button-' . $button['type'];

    // Deprecated! please use attr array
    if(isset($button['href']) && !empty($button['href'])) {
        $button['attr']['href'][] = $button['href'];
    }

    $attr_str = '';
    foreach ( $button['attr'] as $attr => $values ) {
        if(is_array($values)) {
            $values = implode(' ',$values);
        }
        $attr_str .= $attr . '="' . $values . '" ';
    }

    ?>
    <?php if(isset($button['attr']['href']) && !empty($button['attr']['href'])) { ?>
        <a <?php echo $attr_str; ?>>
            <?php echo $button['text']; ?>
        </a>
    <?php } else { ?>
        <button <?php echo $attr_str; ?>>
            <?php echo $button['text']; ?>
        </button>
    <?php } //endif; ?>
<?php endforeach; ?>
