<div class="col-lg-<?php echo $this->col; ?> col-sm-<?php echo ($this->col < 6)?($this->col*2):$this->col; ?> contacts__item">
    <?php
//        \FirePHP::getInstance(true)->info($this->item);
    ?>
    <div class="row">
        <div class="col-4">
            <a href="<?php echo $this->item['url']; ?>">
                <div class="contacts__item__image"
                     <?php /*style="background-image: url(<?php echo $this->item['image']; ?>);" */?>>
                    <?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => $this->item['image'] ] ); ?>
                </div>
            </a>
        </div>
        <div class="col-8 contacts__item__text ">
            <div class="contacts__item__name">
                <?php if (isset($this->item['honorificPrefix']) && $this->item['honorificPrefix']): ?>
                    <?php echo $this->item['honorificPrefix']. ' '; ?>
                <?php endif; ?>
                <?php echo $this->item['name']; ?>
                <?php if (isset($this->item['honorificSuffix']) && $this->item['honorificSuffix']): ?>
                    <?php echo ' '.$this->item['honorificSuffix']; ?>
                <?php endif; ?>
            </div>
            <p>
                <a href="mailto:<?php echo $this->item['email']; ?>">
                    <?php echo $this->item['email']; ?>
                </a>
            </p>
            <p>
                <?php if (isset($this->item['telephone']) && $this->item['telephone']): ?>
                    <?php echo $this->translate('COMMON_PHONE_PREFIX'); ?>
                    <?php echo $this->item['telephone']; ?>
                <?php endif; ?>
            </p>
            <p>
                <?php if (isset($this->item['fax']) && $this->item['fax']): ?>
                    <?php echo $this->translate('COMMON_FAX_PREFIX'); ?>
                    <?php echo $this->item['fax']; ?>
                <?php endif; ?>
            </p>
        </div>
    </div>
</div>




