<section class="container module contacts module--contacts">
    <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>

    <?php if($this->data['text']): ?>
        <div class="contacts__desc">
            <?php echo $this->data['text'] ?>
        </div>
    <?php endif; ?>
    <?php
//        \FirePHP::getInstance(true)->info($this->data);
        $itemCount = count($this->data['items']);
    ?>
    <div class="row">
        <?php for ($i = 0; $i < $itemCount; $i++): ?>
            <?php echo $this->ndPartial('qp/hrm/partials/contact-item', ['item' => $this->data['items'][$i], 'col' => (12/$itemCount), 'config' => $this->config]); ?>
        <?php endfor; ?>
    </div>

    <div class="row part">
        <div class="col-lg-6 contact_button">
            <button class="modal-trigger button button-info" data-modal-target="kontakt-modal"><?php echo $this->translate('CONTACT_BUTTON'); ?></button>
        </div>
    </div>
    <div id="kontakt-modal" class="hide">
        <?php  echo $this->ndPartial('qp/hrm/partials/modals/modal-kontakt',['text' => $this->data['text']]); ?>
    </div>
</section>