<?php
//    \FirePHP::getInstance(true)->info($this->item);
?>
<div class="slide">
    <div class="customer-voices__item">
        <div class="customer-voices__item__text">
            <?php echo substr(strip_tags($this->item['content']), 0, 365) . '...'; ?>
        </div>
        <div class="customer-voices__item__author">
            <?php echo $this->item['author']['name']; ?>
            | <?php echo $this->item['author']['worksFor']; ?>
            | <?php echo $this->item['author']['jobTitle']; ?>
        </div>
    </div>

    <div class="customer-voices__item__avatar">
        <?php if (isset($this->item['author']['image'])): ?>
            <?php echo $this->ndPartial('qp/hrm/partials/image', [
                'data' => $this->item['author']['image'],
            ]); ?>
        <?php endif; ?>
    </div>
</div>