<?php
//\FirePHP::getInstance(true)->info($this->data);
?>

<section class="container-fluid customer-voices" style="background-image: url('/hrm/img/testimonials_1920_x_350px.jpg');">
    <div class="row ">
        <div class="col-12">
            <div class="container customer-voices__wrapper">

                <div class="customer-voices__quote">
                    <?php echo $this->ndPartial('qp/hrm/partials/icon', [
                        'icon' => ['name' => 'format_quote'],
                    ]); ?>
                </div>
                <div class="customer-voices__headline">
                    <?php if ($this->data['headline']): ?>
                        <h4><?php echo $this->data['headline']; ?></h4>
                    <?php endif; ?>
                </div>

                <div class="slick-carousel">
                    <?php
                    $index = 0;
                    while (isset($this->data['items'][$index]))
                    {
                        echo $this->ndPartial('qp/hrm/partials/customer-voices-item', [
                            'item' => $this->data['items'][$index],
                        ]);
                        $index++;
                    }
                    ?>
                </div>
            </div>
        </div>
    </div>
</section>