<div class="customer-voices-detail">
    <h2 class="customer-voices-detail__headline">
        <?php echo $this->ndPartial('qp/hrm/partials/icon', [
            'icon' => ['name' => 'format_quote'],
        ]); ?>
        Kundenstimmen
    </h2>

    <div class="slick-carousel">
        <?php foreach ($this->data as $voice): ?>
            <div class="customer-voices-detail__slide">
                <div class="customer-voices-detail__text">
                    <?php echo $voice['content']; ?>
                </div>

                <ul class="list-inline customer-voices-detail__info">
                    <?php
                    // li tags need to be write in one line without spaces!
                    // @see http://stackoverflow.com/questions/5078239/how-to-remove-the-space-between-inline-block-elements
                    ?>
                    <li><?php echo $voice['author']['name']; ?></li><li><?php echo $voice['author']['company']; ?></li><li><?php echo $voice['author']['position']; ?></li>
                </ul>
            </div>
        <?php endforeach; ?>
    </div>
</div>