<section class="<?php echo $this->data['class']; ?> container">
    <div class="container">
        <div class="row heading_underline">
            <h1><?php echo $this->data['headline']?></h1>
        </div>
</section>