<?php
//    \FirePHP::getInstance(true)->info($this->config);
?>

<aside class="detail__sticky-header" data-spy="affix" data-offset-top="725">
    <div class="container">
        <div class="row">
            <div class="col-12 detail__main-info">
                <div class="detail__sticky-header__headline"></div>

                <div class="detail__sticky-header__aside">
                    <div class="detail__sticky-header__button"></div>
                    <div class="detail__sticky-header__price"></div>
                    <div class="detail__sticky-header__social"></div>
                </div>
            </div>
        </div>
    </div>
</aside>

<div class="detail__main-info">

    <div class="detail__main-info__col detail__image">
        <div class="detail__image__wrapper">
            <?php echo $this->ndPartial('qp/hrm/partials/image', [
                'data'  => $this->config['endPoint']['image'],
                'class' => ['detail__image__wrapper__img'],
            ]); ?>
        </div>
    </div>

    <div class="detail__main-info__col interaction">
        <div class="interaction__wrapper">
            <?php echo $this->ndPartial('qp/hrm/partials/share-icons', ['config' => $this->config]); ?>
        </div>
    </div>

    <?php if (isset($this->buttons)): ?>
        <div class="detail__main-buttons detail__main-info__col">
            <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                'config' => $this->config,
                'data'   => $this->buttons,
            ]); ?>
        </div>
    <?php endif; ?>

    <?php if (isset($this->price)): ?>
        <div class="detail__main-info__col detail__main-info__price">
            <?php echo $this->ndPartial('qp/hrm/partials/price', [
                'config' => $this->config,
                'data'   => $this->price,
            ]); ?>
        </div>
    <?php endif; ?>
</div>

<div class="row detail__main-description">

    <?php
    $is_event = false;
//      var_dump($this->config);
    if (isset($this->config["endPoint"]['type']) && ($this->config["endPoint"]['type'] == 'educationEvent' || 'event')):
        $is_event = true; ?>
    <div class="col-12 col-m-3 pull-right">
        <?php echo $this->ndPartial('qp/hrm/partials/event-media-icons', [
            'config' => $this->config,
            'media_icons_class' => $this->media_icons_class,
            'media_icons' => isset($this->media_icons) ? $this->media_icons : []
        ]); ?>
    </div>
    <?php endif; ?>

    <div class="col-12 <?php echo($is_event ? 'col-m-9' : ''); ?>">
        <?php echo $this->ndPartial('qp/hrm/partials/tags', [
            'data'   => $this->config['endPoint'],
            'config' => $this->config['config'],
        ]); ?>

        <?php if (isset($this->config['endPoint']['_quote'])): ?>
            <blockquote>
                &#8222;<?php echo $this->config['endPoint']['_quote']; ?>&#8221;
            </blockquote>
        <?php endif; ?>

        <?php if ($this->config["endPoint"]['type'] != 'educationEvent'): ?>
            <p><?php echo $this->config['endPoint']['teaserText']; ?></p>
            <?php if(isset($this->config['endPoint']['url'])): ?>
                <a href="<?php echo $this->config['endPoint']['url'] ?>">
                    Zur Event Website
                </a>
            <?php endif ?>
        <?php endif; ?>

        <?php if (isset($this->description_buttons)): ?>
            <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                'config' => $this->config,
                'data'   => $this->description_buttons,
            ]); ?>
        <?php endif; ?>

<!--        --><?php //if (isset($this->link)): ?>
<!--            --><?php //echo $this->ndPartial('qp/hrm/partials/link', [
//                'config' => $this->config,
//                'data'   => $this->link,
//            ]); ?>
<!--        --><?php //endif; ?>

        <?php if ($this->config["endPoint"]['type'] == 'educationEvent'): ?>

            <?php echo $this->ndPartial('qp/hrm/partials/customer-voices-detail-pages', [
                'config' => $this->config,
                'data'   => [
                    [
                        'content' => '<p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
                    condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam
                    nunc,
                    blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.
                    Donec
                    vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros
                    faucibus
                    tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>',
                        'author'  => [
                            'name'     => 'Diana Schwarz',
                            'company'  => 'Bioregio Stern Management GmbH',
                            'position' => 'Public Relations Managemant',
                        ],
                    ],
                    [
                        'content' => '<p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
                    condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam
                    nunc,blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                    <p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros
                    faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>',
                        'author'  => [
                            'name'     => 'Diana Schwarz',
                            'company'  => 'Bioregio Stern Management GmbH',
                            'position' => 'Public Relations Managemant',
                        ],
                    ],
                ],
            ]); ?>
        <?php endif; ?>

    </div>

</div>