<div class="education-format">
    <?php if ($this->data['headline']): ?>
        <div class="row">
            <div class="col-xs-12 education-format__headline">
                <h3><?php echo $this->data['headline']; ?></h3>
            </div>
        </div>
    <?php endif; ?>
    <?php if ($this->data['text']): ?>
        <div class="row">
            <div class="col-xs-12 education-format__text">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
            </div>
        </div>
    <?php endif; ?>
    <div class="row education">
<!--        --><?php //foreach ($this->data['items'] as $item): ?>
        <?php
            $items = [
                [
                    'image' => '/hrm/img/tagung.jpg',
                    'url'   => '/weiterbildung/tagung',
                    'title' => 'TAGUNGEN',

                ],
                [
                    'image' => '/hrm/img/mba.jpg',
                    'url'   => '/weiterbildung/studium',
                    'title' => 'MBA-STUDIUM',

                ],
                [
                    'image' => '/hrm/img/seminare.jpg',
                    'url'   => '/weiterbildung/seminare',
                    'title' => 'SEMINARE',

                ],
                [
                    'image' => '/hrm/img/elearning.jpg',
                    'url'   => '/weiterbildung/e-learning',
                    'title' => 'ELEARNING',

                ]
            ];
        ?>
        <?php foreach ($items as $item): ?>
            <div class="col-xs-12 education__item ">
                <a href="<?php echo $item['url']; ?>" class="education__item__link" style="background-image: url(<?php echo $item['image']; ?>)">
                    <div class="education__item__link__text">
                        <h4><?php echo $item['title']; ?></h4>
                    </div>
                </a>
            </div>
        <?php endforeach; ?>
    </div>
    <?php if ($this->data['link']['url']): ?>
        <div class="row">
            <div class="col-xs-12 education-format__btn">
                <a class="button_info" href="<?php echo $this->data['link']['url']; ?>">
                    <?php echo $this->translate('COMMON_SHOW_ALL'); ?>
                </a>
            </div>
        </div>
    <?php endif; ?>
</div>
