<div class="events-item">
    <div class="col-lg-9 col-sm-9 events-item__info">
        <div class="events-item__info__title">
            <a href="<?php echo $this->data['url']; ?>">
                <?php echo $this->data['name']; ?>
            </a>
        </div>
        <span class="events-item__info__description">
                <?php echo $this->data['shortTeaser']; ?>
            </span>
        <div class="events-item__info__details">
            <?php
                $start = new \DateTime($this->data['startDate']);
            ?>
            <?php echo $this->ndPartial('qp/hrm/partials/details_icons', [
                'data' => [
                    'location' => [
                        'name' =>  $this->data['location']['name']
                    ],
                    'start_date' => $start->format('d.m.Y')
                ]
            ]); ?>
        </div>
    </div>
    <div class="row">
        <div class="search-item__interactions col-12">
            <?php echo $this->ndPartial('qp/hrm/partials/share-icons', [
                'url'  => $this->data['url'],
                'item' => $this->data,
            ]); ?>
        </div>
    </div>
</div>