<?php
$dateList = '';
if(isset($this->config['endPoint']['dateList'])) {
    foreach ($this->config['endPoint']['dateList'] as $date) {
        $start     = new \DateTime($date['startDate'].' 00:00:00');
        $end       = new \DateTime($date['endDate'].' 00:00:00');
        $dateList .= $start->format('d.m.Y') . ' &amp; ' . $end->format('d.m.Y').'<br>';
    }
}

$predefined_media_icons = $this->media_icons;

$start = new \DateTime($this->config['endPoint']['startDate'] . ' 00:00:00');
$end = new \DateTime($this->config['endPoint']['endDate'] . ' 00:00:00');


$media_icons = [];
if(isset($predefined_media_icons['label'])) {
    array_push($media_icons, [
        'icon'    => 'label',
        'content' => $this->translate($predefined_media_icons['label'])
    ]);
    unset($predefined_media_icons['label']);
} else if(isset($this->config['endPoint']['additionalType'])) {
    array_push($media_icons, [
        'icon'    => 'label',
        'content' => $this->translate($this->config['endPoint']['additionalType'])
    ]);
}

if(isset($predefined_media_icons['date_range'])) {
    array_push($media_icons, [
        'icon'    => 'date_range',
        'content' => $predefined_media_icons['date_range'],
        'class'   => 'media-icons-date'
    ]);
    unset($predefined_media_icons['date_range']);
} else if(!empty($dateList)) {
    array_push($media_icons, [
        'icon'    => 'date_range',
        'content' => $dateList.'<a href="#" title="">Alle Termine</a>',
        'class'   => 'media-icons-date'
    ]);
} else if(!empty($start) && !empty($end)) {
    array_push($media_icons, [
        'icon'    => 'date_range',
        'content' => $start->format('d.m.Y') . ' & ' . $end->format('d.m.Y'),
        'class'   => 'media-icons-date'
    ]);
}

if(isset($predefined_media_icons['access_time'])) {
    array_push($media_icons, [
        'icon'    => 'access_time',
        'content' => $predefined_media_icons['access_time']
    ]);
    unset($predefined_media_icons['access_time']);
} else if (isset($this->config['endPoint']['daysContent'])) {
    array_push($media_icons, [
        'icon'    => 'access_time',
        'content' => count($this->config['endPoint']['daysContent']).' '.$this->translate('HRM_STUDY_PROGRESSION_DAYS')
    ]);
}


if(isset($this->config['endPoint']['location']['name']) && isset($this->config['endPoint']['location']['addressLocality'])) {
    array_push($media_icons, [
        'icon'    => 'location_on',
        'content' => $this->config['endPoint']['location']['name']
            .  '<br><a href="https://www.google.de/maps?q='
            .  urlencode($this->config['endPoint']['location']['addressLocality'].' '.$this->config['endPoint']['location']['name'])
            .  '" target="_blank" title="">'.$this->translate('HRM_MAP_LINK').'</a>',
        'class'   => 'media-icons-location'
    ]);
}
if(isset($this->config['endPoint']['careerLevel'])) {
    array_push($media_icons, [
        'icon'    => 'person',
        'content' => $this->config['endPoint']['careerLevel']
    ]);
}
if(isset($this->config['endPoint']['language'])) {
    array_push($media_icons, [
        'icon'    => 'language',
        'content' => $this->config['endPoint']['language']
    ]);
}
if(isset($this->config['endPoint']['organiser'][0]['name'])) {
    array_push($media_icons, [
        'icon'    => 'business',
        'content' => $this->config['endPoint']['organiser'][0]['name']
    ]);
}
if(!empty($predefined_media_icons)) {
    foreach($predefined_media_icons as $icon => $item) {
        array_push($media_icons, [
            'icon'    => 'label',
            'content' => $item['content'],
            'class'   => $item['class']
        ]);
    }
}

?>

<div class="<?php echo isset($this->media_icons_class) ? $this->media_icons_class : ''; ?>">
    <?php echo $this->ndPartial('qp/hrm/partials/media-icons', [
        'config' => $this->config,
        'data' => $media_icons
    ]); ?>
</div>
