<section class="<?php echo $this->data['class']; ?>">
    <div class="container intro-header__content stage__content">
        <div class="row">
            <div class="col-l-9 col-12">
                    <h1><?php echo $this->data['headline']?></h1>
                    <p><?php echo $this->data['text']?></p>
                    <?php echo $this->ndPartial('qp/hrm/partials/form/event-register-form'); ?>
            </div>

            <div class="col-l-3 col-12">
                <div class="col-12">
                    <!--  Für Arbeitgeber -->
                    <?php echo $this->ndPartial('qp/hrm/partials/info-box-item',[
                        'data' => [
                            'headline' => 'Informationen über HRM Terminmeldungen',
                            'headline_level' => 4,
                            'content' => 'Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis porttitor volutpat. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.'
                        ]
                    ]); ?>
                    <!--  Ansprechpartner -->
                    <?php echo $this->ndPartial('qp/hrm/partials/info-box-item',[
                        'data' => [
                            'headline' => $this->translate('HRM_PARTNER_FOR_BANNER'),
                            'headline_level' => 4,
                            'partial' => 'qp/hrm/partials/right-teasers/contact-info',
                            'partial_data'   => [
                                'subline' => 'Gregor Ringsdorf',
                                'email'   => 'gregor.ringsdorf@quadriga.eu',
                                'tel'     => '030/ 84 85 92 53',
                                'fax'     => '030/ 84 85 92 53',
                                'image'   => '/hrm/img/Renate.png'
                            ]
                        ]
                    ]); ?>
                </div>
            </div>
        </div>
    </div>
</section>