<div class="event-details">
    <div class="h5">
        <a href="#"><?php echo $this->config['endPoint']['name']; ?></a>
    </div>

    <?php echo $this->ndPartial('qp/hrm/partials/event-media-icons', [
        'config' => $this->config,
        'media_icons' => $this->media_icons
    ]); ?>
</div>