<?php
//    \FirePHP::getInstance(true)->info($this->data);
?>
<section class="<?php echo $this->data['class']; ?>">
    <div class="container">

        <div class="row highlight-box">
            <div class="col-12">
                <h1 class="headline-with-bottom-border">
                    <?php echo $this->data['headline']; ?>
                </h1>
            </div>
            <div class="col-12">
                <p><?php echo $this->data['text']; ?></p>
            </div>

            <?php foreach ($this->data['items'] as $item): ?>
                <div class="col-l-6 col-12">
                    <?php echo $this->partial('qp/hrm/partials/events-item', ['data' => $item]) ; ?>
                </div>
            <?php endforeach; ?>

            <div class="col-12 ">
                <div class="form-element">
                    <?php echo $this->partial('qp/hrm/partials/buttons', [
                        'config' => $this->config,
                        'data' => [
                            [
                                'type' => 'info',
                                'text' => $this->translate('EVENTS_LIST_BUTTON_SHOW_ALL'),
                                'attr' => [
                                    'href' => [
                                            $this->data['link']['url']
                                    ],
                                ]
                            ]
                        ]
                    ]); ?>
                </div>
            </div>
        </div>
    </div>
</section>