<section class="teaser teaser--extendable teaser--gray experte ">
    <div class="container ">
        <div class="row">
            <div class="col-xs-12">
                <?php $collapseId = 'collapseMobile' . md5($this->data['headline']); ?>
                <?php if ($this->data['headline']): ?>
                    <a class="collapse-link stop-jump-top collapsed" role="button" data-toggle="collapse" href="#<?php echo $collapseId; ?>" aria-expanded="false" aria-controls="<?php echo $collapseId; ?>">
<!--                        <div class="teaser__carret"><i class="material-icons">keyboard_arrow_up</i></div>-->
                        <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
                    </a>
                <?php endif; ?>
            </div>
        </div>

        <div class="mobile-collapse collapse" id="<?php echo $collapseId; ?>">
            <?php echo $this->ndPartial('qp/hrm/partials/modules/gallery-line', [
                'data' => [
                    'items'  => $this->data['items'],
                    'config' => $this->config,
                ],
            ]); ?>

            <?php if ($this->data['text']): ?>
                    <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
            <?php endif; ?>
            <?php if ($this->data['link']['url']): ?>
                <div class="part">
                    <a class="button_info" href="<?php echo $this->data['link']['url']; ?>">
                        <?php echo $this->translate('EXPERTS_LIST_BUTTON_SHOW_ALL'); ?>
                    </a>
                </div>
            <?php endif; ?>
        </div>
    </div>
</section>