<?php
    $hidden = '';
    if($this->name === 'tags_sub' || $this->name === 'additionalType' || $this->name === 'origin') {
        $hidden = 'hidden';
    }
    if($this->name === 'role' && $this->entity === 'search/person') {
        $hidden = 'hidden';
    }
    if($this->name === 'tags_p1' && $this->entity === 'search/all') {
        $hidden = 'hidden';
    }
?>
<div class="panel filter__group <?php echo $hidden; ?>">
    <?php
//        \FirePHP::getInstance(true)->info($this->filterGroup);
//        \FirePHP::getInstance(true)->info($this->queryFilter);
        $entity           = explode('/',$this->entity);
        $bucketCount      = count($this->filterGroup['buckets']);
        $collectiveCount  = 0;
        $filter           = [];
        $allChecked       = 'checked';
        $indexForCollapse = $this->indexForCollapse;
        $indexList        = [];
        for ($i = 0; $i < $bucketCount; $i++) {
            $filter[$i]['key']       = $this->filterGroup['buckets'][$i]['key'];
            $filter[$i]['id']        = 'id_'.md5($this->filterGroup['buckets'][$i]['key']);
            $filter[$i]['doc_count'] = $this->filterGroup['buckets'][$i]['doc_count'];
            $filter[$i]['checked']   = '';
            $collectiveCount        += $this->filterGroup['buckets'][$i]['doc_count'];

            if ($this->name === 'index') {
                $indexList[$this->filterGroup['buckets'][$i]['key']] = $i;
            }

            if (count($this->queryFilter)) {
                if (in_array($this->makeUrlWorthy($filter[$i]['key']), $this->queryFilter) ||
                    in_array($filter[$i]['key'], $this->queryFilter)) {
                    $allChecked = '';
                    $filter[$i]['checked'] = 'checked';
                    $indexForCollapse = 1;
                }
                if(isset($this->filterGroup['buckets'][$i]['key_as_string'])) {
                    $when = new \DateTime($this->filterGroup['buckets'][$i]['key_as_string'].' 00:00:00');
                    if (in_array($this->makeUrlWorthy($this->translate($when->format('F'))), $this->queryFilter)) {
                        $indexForCollapse = 1;
                    }
                }
            }
        }
        if ($this->name !== 'index') {
            sort($filter);
        }

//        \FirePHP::getInstance(true)->info($filter);

        $filterAsSelectField = [/*'location', 'job_location',*/ 'company'];
        $filterHidden        = ['personalwechsel'];
    ?>

    <div class="filter__group__title" role="tab" id="heading<?php echo $this->name; ?>">
        <a role="button"
           data-toggle="collapse" 
           href="#collapse<?php echo $this->name; ?>"
           aria-controls="collapse<?php echo $this->name; ?>"
           aria-expanded="<?php echo ($indexForCollapse !== 1) ? 'false' : 'true'; ?>"
           class="<?php echo ($indexForCollapse !== 1) ? 'collapsed' : ''; ?>">
            <?php echo $this->translate($entity[1].'_'.$this->name); ?>
            <i class="material-icons collapse-caret">keyboard_arrow_down</i>
        </a>
    </div>
    <div id="collapse<?php echo $this->name; ?>" 
         data-group-id="<?php echo $this->name; ?>" 
         class="collapse <?php echo ($indexForCollapse !== 1) ? '' : 'in'; ?> filter__group__content filter__group__content--collapse" 
         role="tabpanel" 
         aria-labelledby="heading<?php echo $this->name; ?>">

        <?php
            $hidden = '';
            // all filters of the the group with this "name" are hidden
            if (in_array($this->name, $filterAsSelectField)) {
                $hidden = 'hidden';
            }
        ?>
        <?php echo $this->ndPartial('qp/hrm/partials/filter-item', ['groupId' => $this->name, 'id' => 'all', 'key' => 'COMMON_FILTER_CHECK_ALL', 'count' => $collectiveCount, 'checked' => $allChecked, 'hidden' => $hidden]); ?>

        <?php if ($this->name === 'index'): ?>
            <?php if (isset($indexList['post'])): ?>
                <?php echo $this->ndPartial('qp/hrm/partials/filter-item', ['groupId' => $this->name, 'id' => $filter[$indexList['post']]['id'], 'key' => trim($filter[$indexList['post']]['key']), 'count' => $filter[$indexList['post']]['doc_count'], 'checked' => $filter[$indexList['post']]['checked'], 'hidden' => $hidden]); ?>
            <?php endif; ?>
            <?php if (isset($indexList['education'])): ?>
                <?php echo $this->ndPartial('qp/hrm/partials/filter-item', ['groupId' => $this->name, 'id' => $filter[$indexList['education']]['id'], 'key' => trim($filter[$indexList['education']]['key']), 'count' => $filter[$indexList['event']]['doc_count'], 'checked' => $filter[$indexList['education']]['checked'], 'hidden' => $hidden]); ?>
            <?php endif; ?>
            <?php if (isset($indexList['job'])): ?>
                <?php echo $this->ndPartial('qp/hrm/partials/filter-item', ['groupId' => $this->name, 'id' => $filter[$indexList['job']]['id'], 'key' => trim($filter[$indexList['job']]['key']), 'count' => $filter[$indexList['job']]['doc_count'], 'checked' => $filter[$indexList['job']]['checked'], 'hidden' => $hidden]); ?>
            <?php endif; ?>
            <?php if (isset($indexList['event'])): ?>
                <?php echo $this->ndPartial('qp/hrm/partials/filter-item', ['groupId' => $this->name, 'id' => $filter[$indexList['event']]['id'], 'key' => trim($filter[$indexList['event']]['key']), 'count' => $filter[$indexList['event']]['doc_count'], 'checked' => $filter[$indexList['event']]['checked'], 'hidden' => $hidden]); ?>
            <?php endif; ?>
            <?php if (isset($indexList['person'])): ?>
                <?php echo $this->ndPartial('qp/hrm/partials/filter-item', ['groupId' => $this->name, 'id' => $filter[$indexList['person']]['id'], 'key' => trim($filter[$indexList['person']]['key']), 'count' => $filter[$indexList['person']]['doc_count'], 'checked' => $filter[$indexList['person']]['checked'], 'hidden' => $hidden]); ?>
            <?php endif; ?>
            <?php if (isset($indexList['company'])): ?>
                <?php echo $this->ndPartial('qp/hrm/partials/filter-item', ['groupId' => $this->name, 'id' => $filter[$indexList['company']]['id'], 'key' => trim($filter[$indexList['company']]['key']), 'count' => $filter[$indexList['company']]['doc_count'], 'checked' => $filter[$indexList['company']]['checked'], 'hidden' => $hidden]); ?>
            <?php endif; ?>
        <?php elseif ($this->name === 'month'): ?>
            <?php echo $this->ndPartial('qp/hrm/partials/filter-month', ['groupId' => $this->name, 'filterGroup' => $this->filterGroup, 'queryFilter' => $this->queryFilter]); ?>
        <?php else: ?>
            <?php for ($i = 0; $i < $bucketCount; $i++): ?>
                <?php
                    // single filters that match this array are hidden
                    if (in_array($this->makeUrlWorthy(trim($filter[$i]['key'])), $filterHidden)) {
                        $hidden = 'hidden';
                    }
                    if ($this->name === 'language') {
                        if (!(in_array($this->makeUrlWorthy(trim($filter[$i]['key'])), ['deutsch', 'englisch']))) {
                            $hidden = 'hidden';
                        } else {
                            $hidden = '';
                        }
                    }
                ?>
                <?php if (!empty($filter[$i]['key'])): ?>
                    <?php echo $this->ndPartial('qp/hrm/partials/filter-item', ['groupId' => $this->name, 'id' => $filter[$i]['id'], 'key' => trim($filter[$i]['key']), 'count' => $filter[$i]['doc_count'], 'checked' => $filter[$i]['checked'], 'hidden' => $hidden]); ?>
                <?php endif; ?>
            <?php endfor; ?>
            <?php if (in_array($this->name, $filterAsSelectField)): ?>
                <div class="filter__group__item">
                    <label>
                        <select id="select_<?php echo $this->name; ?>"
                                name="select_<?php echo $this->name; ?>"
                                data-group="<?php echo $this->name; ?>">
                            <option value=""></option>
                            <?php for ($i = 0; $i < $bucketCount; $i++): ?>
                                <?php if (!empty($filter[$i]['key'])): ?>
                                    <option value="<?php echo trim($filter[$i]['id']); ?>"><?php echo $this->translate(trim($filter[$i]['key']));//.' ('.$filter[$i]['doc_count'].')'; ?></option>
                                <?php endif; ?>
                            <?php endfor; ?>
                        </select>
                    </label>
                </div>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>