<div class="tags tag_result">
    <?php
    //        \FirePHP::getInstance(true)->info($this->data);
        $queryFilter = [];
        if (isset($this->data['queryFilter'])) {
            $queryFilter = $this->data['queryFilter'];
        }

        $queryQs = [];
        if (isset($this->data['queryQ']) && $this->data['queryQ']) {
            $queryQs = explode(',', $this->data['queryQ']);
        }
    ?>

    <?php foreach ($queryQs as $i => $queryQ): ?>
        <span class="tag tag_q"
              id="<?php echo 'tag_q_id_'.$i; ?>"
              data-value="<?php echo $queryQ ?>">
              #<?php echo $queryQ ?>
            <i class="material-icons untag-icon">clear</i>
        </span>
    <?php endforeach; ?>

    <?php foreach ($this->data['aggWhiteList'] as $name): ?>
        <?php if (isset($this->data['aggs'][$name])): ?>
            <?php
                $filter      = [];
                $bucketCount = count($this->data['aggs'][$name]['buckets']);
                for ($i = 0; $i < $bucketCount; $i++) {
                    if ($name === 'month') {
                        $filter[$i]['key'] = $this->data['aggs'][$name]['buckets'][$i]['key_as_string'];
                    } else {
                        $filter[$i]['key'] = $this->data['aggs'][$name]['buckets'][$i]['key'];
                    }

                    $filter[$i]['hidden'] = 'hidden';
                    if (count($queryFilter)) {
                        if (in_array($this->makeUrlWorthy($filter[$i]['key']), $queryFilter) ||
                            in_array($filter[$i]['key'], $queryFilter)) {
                            $filter[$i]['hidden'] = '';
                        }
                    }
                }
                sort($filter);
            ?>
            <?php for ($i = 0; $i < $bucketCount; $i++): ?>
                <span class="tag <?php echo $filter[$i]['hidden']; ?>"
                      id="<?php echo 'tag_'.$name.'_id_'.md5($filter[$i]['key']); ?>"
                      data-item-id="<?php echo 'id_'.md5($filter[$i]['key']); ?>">
                    #<?php
                        if ($name === 'month') {
                            $when = new \DateTime($filter[$i]['key'].' 00:00:00');
                            echo $this->translate($when->format('F')).' '.$when->format('Y');
                        } else {
                            echo $this->translate($filter[$i]['key']);
                        }
                    ?>
                    <i class="material-icons untag-icon">clear</i>
                </span>
            <?php endfor; ?>
        <?php endif; ?>
    <?php endforeach; ?>
</div>