<div class="filter_search hidden-s hidden-xs">
    <div class="filter_search__label">Sortierung nach:</div>
    <div class="filter_search__sort">
        <?php echo $this->ndPartial('qp/hrm/partials/stylable-select'); ?>
    </div>
    <?php echo $this->ndPartial('qp/hrm/partials/view-mode'); ?>
</div>
