<div id="<?php echo $this->id.'-group-item'; ?>" class="filter__group__item <?php echo $this->hidden; ?>">
    <div class="checkbox">
        <label>
            <input type="checkbox"
                   id="<?php echo $this->groupId.'_'.$this->id; ?>"
                   data-name="<?php echo $this->key; ?>"
                   data-item-id="<?php echo $this->id; ?>"
                   data-group="<?php echo $this->groupId; ?>"
                   data-key-url="<?php echo $this->makeUrlWorthy($this->key); ?>"
                   <?php echo (strpos($this->id, 'all') === false) ? ' class="filter__group__item__input" ':''; ?>
                   <?php echo ($this->checked !== '')?' checked="'.$this->checked.'" ':' '; ?>
                   value="v">
            <span class="cr">
                <i class="cr-icon material-icons">done</i>
            </span>
            <?php echo $this->translate($this->key).' '; ?>
            <?php /*(<span id="doc_counter_<?php echo $this->groupId.'_'.$this->id; ?>">
                <?php echo $this->count; ?>
            </span>)*/?>
        </label>
    </div>
</div>    