<div id="filter" class="filter" aria-multiselectable="true">
    <!--FILTER-->
    <?php
        //\FirePHP::getInstance(true)->info($this->data);
        $queryFilter = [];
        if (isset($this->data['queryFilter'])) {
            $queryFilter = $this->data['queryFilter'];
        }
    ?>
    <div class="panel filter__group filter__group--headline">
        <div data-toggle="collapse" data-target="#filter_all" class="filter__group__title">
            <a class="visible-xs-block collapsed" role="button" data-toggle="collapse" href="#filterGroup" aria-expanded="false" aria-controls="filterGroup">
                <?php echo $this->translate('HRM_GLOBAL_FILTER'); ?>
                <i class="material-icons collapse-caret">keyboard_arrow_down</i>
            </a>

            <span class="hidden-xs"><?php echo $this->translate('HRM_GLOBAL_FILTER'); ?></span>
        </div>
    </div>
    <div class="collapse in" id="filterGroup">
        <?php $indexForCollapse = 0; ?>
        <?php foreach ($this->data['aggWhiteList'] as $name): ?>
            <?php if (isset($this->data['aggs'][$name])): ?>
                <?php
                echo $this->ndPartial('qp/hrm/partials/filter-group', ['name' => $name, 'entity' => $this->data['entity'], 'filterGroup' => $this->data['aggs'][$name], 'queryFilter' => $queryFilter, 'indexForCollapse' => ++$indexForCollapse, 'config' => $this->config]);
                ?>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>