<?php
//    \FirePHP::getInstance(true)->info($this->data);
    $letters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];
    $letterCount = count($letters);

    $lettersInBuckets = [];
    $bucketCount = count($this->data['aggs']['alph']['buckets']);
    for ($b = 0; $b < $bucketCount; $b++) {
        $lettersInBuckets[$this->data['aggs']['alph']['buckets'][$b]['key']] = $this->data['aggs']['alph']['buckets'][$b]['doc_count'];
    }
?>
<span class="filter-alphabet__letter filter-alphabet__letter--all" data-query="">
    <?php echo $this->translate('HRM_GLOBAL_FILTER_ALPHABET_ALL'); ?>
</span>
<?php for ($i = 0; $i < $letterCount; $i++): ?>
    <?php if (isset($lettersInBuckets[$letters[$i]])): ?>
        <span class="filter-alphabet__letter"
              title="<?php echo $lettersInBuckets[$letters[$i]]; ?>"
              data-query="alph=<?php echo $letters[$i]; ?>">
            <?php echo $letters[$i]; ?>
        </span>
    <?php else: ?>
        <span class="filter-alphabet__letter filter-alphabet__letter--inactive" data-query="" title="0">
            <?php echo $letters[$i]; ?>
        </span>
    <?php endif; ?>
<?php endfor; ?>