<?php
//    \FirePHP::getInstance(true)->info($this->filterGroup);
    $buckets       = $this->filterGroup['buckets'];
    $bucketCount   = count($buckets);
    $time          = time();
    $currentYear   = date('Y',$time);
    $currentMonth  = date('m',$time);
    $maxMonthCount = 12;
    $MonthCount    = 0;
?>

<?php for ($i = 0; $i < $bucketCount; $i++): ?>
    <?php
        $when = new \DateTime($buckets[$i]['key_as_string'].' 00:00:00');
        $disabledClass = '';
        $disabledAttr  = '';
        if ($buckets[$i]['doc_count'] === 0) {
            $disabledClass = ' disabled';
            $disabledAttr  = ' disabled="disabled"';
        }

        if (count($this->queryFilter) && (isset($this->queryFilter[1]) && $this->queryFilter[1] !== 'suche')) {
            if (in_array($this->makeUrlWorthy($this->translate($when->format('F'))), $this->queryFilter)) {
                $disabledAttr = '';
                $buckets[$i]['checked'] = 'checked';
            }
        }
    ?>
    <?php if ($currentYear.$currentMonth <= $when->format('Y').$when->format('m') && $MonthCount < $maxMonthCount): ?>
        <div id="<?php echo 'id_'.md5($buckets[$i]['key_as_string']).'-group-item'; ?>" class="filter__group__item <?php echo $disabledClass; ?>">
            <div class="checkbox">
                <label title="<?php echo $when->format('Y'); ?>">
                    <input type="checkbox"
                           id="<?php echo $this->groupId.'_id_'.md5($buckets[$i]['key_as_string']); ?>"
                           data-name="<?php echo $buckets[$i]['key_as_string']; ?>"
                           data-item-id="<?php echo 'id_'.md5($buckets[$i]['key_as_string']); ?>"
                           data-group="<?php echo $this->groupId; ?>"
                           data-key-url="<?php echo $this->makeUrlWorthy($this->translate($when->format('F'))); ?>"
                           class="filter__group__item__input"
                           value="v"
                           <?php echo $disabledAttr; ?>
                           <?php echo (isset($buckets[$i]['checked'])) ? ' checked="'.$buckets[$i]['checked'].'" ':' '; ?>>
                    <span class="cr">
                        <i class="cr-icon material-icons">done</i>
                    </span>
                    <?php echo $this->translate($when->format('F')).' '; ?>
                    <?php if ($currentYear !== $when->format('Y')): ?>
                        <sup class="filter__group__item__year-identifier">
                            <?php echo "'".$this->translate($when->format('y')).' '; ?>
                        </sup>
                    <?php endif; ?>
                    <?php /*(<span id="doc_counter_<?php echo $this->groupId.'_'.$buckets[$i]['key_as_string']; ?>">
                        <?php echo $buckets[$i]['doc_count']; ?>
                    </span>)*/?>
                </label>
            </div>
        </div>
        <?php $MonthCount++ ?>
    <?php endif; ?>
<?php endfor; ?>
<div id="custom_date_checkbox-group-item" class="filter__group__item">
    <div class="checkbox">
        <label>
            <input type="checkbox"
                   id="<?php echo $this->groupId; ?>_custom_date_checkbox"
                   data-name="custom_date_checkbox"
                   data-group="<?php echo $this->groupId; ?>"
                   class="filter__group__date_checkbox"
                   value="v">
            <span class="cr">
                <i class="cr-icon material-icons">done</i>
            </span>
            <?php echo $this->translate('HRM_GLOBAL_FILTER_LABEL_CUSTOM_DATE'); ?>
        </label>
    </div>
</div>
<div id="custom_start_date-group-item" class="filter__group__item">
    <label for="<?php echo $this->groupId; ?>_custom_start_date">
        <?php echo $this->translate('HRM_GLOBAL_FILTER_LABEL_FROM'); ?>
    </label>
    <input id="<?php echo $this->groupId; ?>_custom_start_date"
           class="datepicker"
           data-name="custom_start_date"
           data-group="<?php echo $this->groupId; ?>"
           type="date" value="" />
</div>
<div id="custom_end_date-group-item" class="filter__group__item">
    <label for="<?php echo $this->groupId; ?>_custom_end_date">
        <?php echo $this->translate('HRM_GLOBAL_FILTER_LABEL_TILL'); ?>
    </label>
    <input id="<?php echo $this->groupId; ?>_custom_end_date"
       class="datepicker"
       data-name="custom_end_date"
       data-group="<?php echo $this->groupId; ?>"
       type="date" value="" />
</div>