<?php
//    \FirePHP::getInstance(true)->info($this->data);
?>
<section class="<?php echo $this->data['class']; ?>">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h1 class="headline-with-bottom-border">
                    <?php echo $this->data['headline']; ?>
                </h1>
            </div>
            <?php
                $colClass    = '';
                $heightClass = '';
                $itemCount = count($this->data['items']);
                if ($itemCount > 1 && in_array($itemCount, [1,2,3,4,6])) {
                    $colClass    = 'col-l-'.(12 / $itemCount);
                    $heightClass = 'limited-height';
                }
            ?>
            <?php foreach ($this->data['items'] as $item): ?>

                <?php
                    $stageImage = $item['image'];
                    if (isset($item['stage']['image']) && $item['stage']['image']) {
                        $stageImage = $item['stage']['image'];
                    }
                    $start = new \DateTime($item['startDate']);
                ?>
                <div class="<?php echo $colClass; ?> col-12">
                    <div class="highlight-box__item">
                        <div class="highlights" >
                            <div class="highlights__item <?php echo $heightClass; ?>">
                                <?php

                                echo $this->partial('qp/hrm/partials/highlights-item', [
                                    'item' => [
                                        'title' => $item['name'],
                                        'url'   => $item['url'],
                                        'image' => $stageImage,
                                        'name'  => $item['shortTeaser'],
                                    ]
                                ]); ?>
                            </div>
                        </div>
                        <div class="highlight-box__item__info" >
                            <div class="highlight-box__item__info__title">
                                <a href="<?php echo $item['url']; ?>">
                                    <?php echo $item['shortTeaser']; ?>
                                </a>
                            </div>
                            <div class="highlight-box__item__info__icons">
                                <?php echo $this->partial('qp/hrm/partials/details_icons', [
                                    'data' => [
                                        'location' => [
                                            'name' => $item['location']['name'],
                                        ],
                                        'start_date' => $start->format('d.m.Y'),
                                    ]
                                ]); ?>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
</section>