<a href="<?php echo $this->item['url']; ?>" style="background-image: url(<?php echo $this->item['image']; ?>);" class="highlights__item__overlay">

    <div class="highlights__item__info-box">

        <?php if (isset($this->item['title'])): ?>
            <h5><?php echo $this->item['title']; ?></h5>
        <?php endif; ?>
        <div class="highlights__item__more-info">
            <?php if (isset($this->item['title'])): ?>
            <!-- Used title just for testing should be another attribute  -->
                <?php echo $this->item['title']; ?>
            <?php endif; ?>
        </div>
    </div>
</a>