<div class="slide">

    <div class="highlight__cards__item">

        <a href="<?php echo $this->item['url']; ?>">
            <div class="highlight__cards__item__image">
                <?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => $this->item['image'].'?'.$this->item['_id'] ]); ?>
            </div>
        </a>

        <div class="highlight__cards__item__info">
            <!-- Label if new -->
            <?php echo $this->ndPartial('qp/hrm/partials/label', ['text' => 'Neu', 'class' => 'yellow_rotated']); ?>
            <!-- Empty place reserved for labels -->
            <div class="highlight__cards__item__label_space">
                <?php echo $this->ndPartial('qp/hrm/partials/label', ['text' => 'Rabatt 100% (A.k.a Gratis)', 'class' => 'red']); ?>
            </div>
            <a href="<?php echo $this->item['url']; ?>">
                <div class="highlight__cards__item__header">
                        <a href="<?php echo $this->item['url']; ?>">
                            <?php echo $this->item['name']; ?>
                        </a>
                </div>
            </a>

            <div class="highlight__cards__item__details">
                <?php echo $this->ndPartial('qp/hrm/partials/details_icons', [ 'data' => $this->item]); ?>
            </div>

            <?php echo $this->ndPartial('qp/hrm/partials/share-icons', [
                'config' => $this->config,
                'item'   => $this->item,
                'url'    => $this->item['url']
            ]); ?>
        </div>
    </div>
</div>




