<?php
$entity = 'default';
if (isset($this->data['entity']) && $this->data['entity'])
{
    $entity = $this->data['entity'];
    if (strpos($this->data['entity'], '/') !== false)
    {
        $entityParts = explode('/', $this->data['entity']);
        $entity = $entityParts[1];
    }
}
?>
<section class="highlight__cards container-fluid" <?php echo 'data-entity="' . $entity . '"'; ?>>
    <div class="row">
        <div class="col-12">
            <div class="container">

                <?php if ($this->data['headline']): ?>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
                        </div>
                    </div>
                <?php endif; ?>
                <?php if ($this->data['text']): ?>
                    <div class="row">
                        <div class="col-12">
                            <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
                        </div>
                    </div>
                <?php endif; ?>
                <?php
                //\FirePHP::getInstance(true)->info($this->data);
                $noType = false;
                if (isset($this->data['noType']))
                {
                    $noType = $this->data['noType'];
                }
                ?>
                <div class="row">
                    <div class="col-12">
                        <div class="slick-carousel">
                            <?php
                            foreach ($this->data['items'] AS $key => $item)
                            {
                                echo $this->ndPartial('qp/hrm/partials/highlight-cards-item', [
                                    'item'   => $item,
                                    'noType' => $noType,
                                ]);
                            }
                            ?>
                        </div>
                    </div>
                </div>

                <?php if (isset($this->data['link']['url'])): ?>
                    <div class="row">
                        <div class="col-12 col-l-6 ">

                            <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                                'config' => $this->config,
                                'data'   => [
                                    [
                                        'type' => 'info',
                                        'text' => $this->translate('COMMON_SHOW_ALL'),
                                        'attr' => [
                                            'href' => [$this->data['link']['url']],
                                        ],
                                    ],
                                ],
                            ]); ?>

                        </div>
                    </div>
                <?php endif; ?>
            </div>
        </div>
</section>

