<div class="teaser">
    <section class="container highlights">
        <div class="teaser__headline">
            <?php
            //\FirePHP::getInstance(true)->info($this->data);
            ?>
            <h2><?php echo $this->data['headline']; ?></h2>
        </div>

        <?php // TODO: Make this a slider ?>
        <div class="row">
            <div class="col-xs-12">
                <div class="slick-carousel">
                    <?php
                    $index = 0;
                    while (isset($this->data['items'][$index])):
                        ?>
                        <div class="highlights__item">
                            <?php echo $this->ndPartial('qp/hrm/partials/highlights-item', ['item' => $this->data['items'][$index]]); ?>
                        </div>
                        <?php
                        $index++;
                    endwhile;
                    ?>
                </div>
            </div>
        </div>
    </section>
</div>