<section class="container how-to">
    <?php if (isset($this->data['headline'])){ ?>
    <div class="row">
        <div class="col-12">
            <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
        </div>
    </div>
    <?php } ?>
    <div class="row how-to__row">
        <?php foreach ($this->data['steps'] as $key => $step){ ?>
        <div class="col-12 col-m-3 how-to__step">
            <div class="row">
                <div class="col-3">
                    <span class="how-to__number">
                        <?php echo $key+1 ?>
                    </span>
                </div>
                <div class="col-8">
                    <span class="how-to__title">
                        <?php echo $step['title'] ?>
                    </span>
                </div>
                <div class="col-12">
                    <p class="how-to__text">
                        <?php echo $step['text'] ?>
                    </p>
                </div>
            </div>
        </div>
        <?php if ($key !== 2){ ?>
        <div class="how-to__divider hidden-s"></div>
        <?php } ?>
        <?php }?>
    </div>

    <?php if($this->data['infoButton']){ ?>
        <div class="row">
            <div class="col-12">
                <?php echo $this->partial('qp/hrm/partials/buttons', [
                    'config' => $this->config,
                    'data' => [
                        [
                            'type' => 'marketing',
                            'text' => '<i class="material-icons">get_app</i>'.$this->translate('HRM_DOWNLOAD_PRODUCT_INFORMATION'),
                            'attr' => [
                                'href' => [ '#' ],
                            ]
                        ]
                    ]
                ]); ?>
            </div>
        </div>
    <?php } ?>
</section>