<?php
    $class_arr = $this->data['class'];
    $class_arr[] = 'image-with-caption';
    $classes = implode(' ', $class_arr );
?>

<div class="<?php echo $classes; ?>">
    <?php echo $this->ndPartial( 'qp/hrm/partials/image', [
        'data'=> $this->data['image']
    ]); ?>
    <div class="image__caption"><?php echo $this->data['caption']; ?></div>
</div>