<?php if ($this->data['headline']): ?>
    <div class="row">
        <div class="col-lg-12">
            <h2><?php echo $this->data['headline']; ?></h2>
        </div>
    </div>
<?php endif; ?>
<?php if ($this->data['text']): ?>
    <div class="row">
        <div class="col-lg-12">
            <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
        </div>
    </div>
<?php endif; ?>
<div class="row">
    <div class="container image-window">
        <div class="row">
            <?php
            $index = 0;
            while (isset($this->data['items'][$index]) && $index < 4): ?>
                <?php
                    $stageImage = $this->data['items'][$index]['image'];
                    if (isset($this->data['items'][$index]['stage']['image']) && $this->data['items'][$index]['stage']['image']) {
                        $stageImage = $this->data['items'][$index]['stage']['image'];
                    }
                ?>
                <div class="col-m-6 image-window__item">
                    <a href="<?php echo $this->data['items'][$index]['url']; ?>"
                       class="image-window__item__overlay"
                       style="background-image: url(<?php echo $stageImage . '?' . $this->data['items'][$index]['_id']; ?>);"
                    >
                        <div class="image-window__item__info-box">
                            <h5>
                                <?php if (isset($this->data['items'][$index]['name'])): ?>
                                    <?php echo $this->data['items'][$index]['name']; ?>
                                <?php elseif (isset($this->data['items'][$index]['title'])): ?>
                                    <?php echo $this->data['items'][$index]['title']; ?>
                                <?php endif; ?>
                            </h5>
                        </div>
                    </a>
                </div>
                <?php
                $index++;
            endwhile;
            ?>
        </div>
    </div>
</div>
<?php if ($this->data['link']['url']): ?>
    <div class="row">
        <div class="col-l-6 ">
            <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                'config' => $this->config,
                'data'   => [
                    [
                        'type' => 'info',
                        'text' => $this->translate('COMMON_SHOW_ALL'),
                        'attr' => [
                            'href' => [$this->data['link']['url']],
                        ],
                    ],
                ],
            ]); ?>
        </div>
    </div>
<?php endif; ?>
