<section class="<?php echo $this->data['class']; ?> container">
    <div class="container">
        <div class="row heading_underline">
            <h1><?php echo $this->data['headline']?></h1>
        </div>
        <!-- Impressum Item-->
        <div class="row">
            <h2 class="large-text">Redaktion</h2>
            <p>
                Judith Schuldreich, Christopher Klausnitzer, Sven Pauleweit
            </p>
        </div>

        <!-- Impressum Item-->
        <div class="row">
            <h2 class="large-text">Hrm - Quadriga Media Berlin GmbH</h2>
            <p>
                Werdescher Markt 13, D-10117 Berlin
                <br>
                Tel +49(0)30/84 85 90, Fax +49(0)30/84 85 92 00
                <br>
                E-mail <a href="mailto:info@humanressourcesmanager.de" target="_top">info@humanressourcesmanager.de</a>, Internet <a href="http://www.humanresourcesmanager.de">humanresourcesmanager.de</a>
            </p>
        </div>

        <!-- Impressum Item-->
        <div class="row">
            <h2 class="large-text">Geschäftsführer</h2>
            <p>
                Rudolf Hetzel, Torben Werner
            </p>
        </div>

        <!-- Impressum Item-->
        <div class="row">
            <h2 class="large-text">Registergericht</h2>
            <p>
                Amtsgericht Charlottenburg
            </p>
        </div>

        <!-- AGB Item-->
        <div class="row">
            <h2 class="large-text">Registernummer</h2>
            <p>
                HRB 58627
            </p>
        </div>

        <!-- Impressum Item-->
        <div class="row">
            <h2 class="large-text">Umsatzsteuer-Identifikationsnummer <span class="impressum__heading-sub">gemäß §27a Umsatzsteuergesetz</span></h2>
            <p>
                DE 222932043
            </p>
        </div>

        <!-- Impressum Item-->
        <div class="row">
            <h2 class="large-text">Webmaster</h2>
            <p>
                webmaster@quadriga-media.com
            </p>
        </div>

        <!-- Impressum Item-->
        <div class="row">
            <h2 class="large-text">Fotoquellen</h2>
            <p>
                thinkstockphotos.de
            </p>
        </div>

        <!-- Impressum Item-->
        <div class="row">
            <h2 class="large-text">Haftungshinweis</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
            </p>
        </div>

        <!-- Impressum Item-->
        <div class="row">
            <h2 class="large-text">Öffentliches Verfahrenverzeichnis</h2>
            <p>
                Pellentesque posuere aliquam ligula quis tincidunt. Quisque quis ipsum porttitor purus porttitor sollicitudin et at magna.
                Fusce maximus velit sapien, ac iaculis sapien laoreet ut. Sed tincidunt turpis massa, eu finibus lectus pellentesque sit amet.
                Quisque vehicula dapibus purus, gravida laoreet eros congue sed. Suspendisse erat turpis, dictum a pellentesque vitae, faucibus a lorem.
                Quisque viverra pharetra luctus. Morbi commodo elementum quam, sed cursus risus. In fermentum efficitur dolor, ut luctus elit. Integer turpis nibh,
                viverra eget nibh at, pellentesque sodales purus.
            </p>
        </div>
    </div>
</section>