<div class="interview">
    <?php if(isset($this->data['items']) && !empty($this->data['items'])): ?>
        <?php foreach ( $this->data['items'] as $item ): ?>
            <div class="interview__row interview__row--speaker-<?php echo $item['speaker_class']; ?>">
                <div class="interview__speaker">
                    <?php echo $this->ndPartial('qp/hrm/partials/image', $item['image'] ); ?>
                </div>
                <div class="interview__content">
                    <div class="interview__content__inner">
                        <?php echo $item['content']; ?>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>
</div>