<div class="row">
    <div class="col-lg-12">
        <h2><?php echo $this->data['headline']; ?></h2>
    </div>
</div>
<?php if($this->data['text']): ?>
    <div class="row">
        <div class="col-lg-12 ">
            <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
        </div>
    </div>
<?php endif; ?>
<?php
//    \FirePHP::getInstance(true)->info($this->data);
    $links = [];
    for ($i = 0; $i < 10; $i++) {
        if (isset($this->data['aggs'][$this->data['bucket']]['buckets'][$i])) {
            $links[$i]['url']   = '/jobboerse/'.$this->data['aggs'][$this->data['bucket']]['buckets'][$i]['key'];
            $links[$i]['title'] = $this->data['aggs'][$this->data['bucket']]['buckets'][$i]['key'].'('.$this->data['aggs']['job_location']['buckets'][$i]['doc_count'].')';
        }
    }
?>
<?php echo $this->ndPartial('qp/hrm/partials/link-list', ['data' => ['items' => $links],'config' => $this->config]); ?>
<?php if($this->data['link']['url']): ?>
    <div class="row part">
        <div class="col-lg-12">
            <a class="button_info" href="<?php echo $this->data['link']['url']; ?>">
                <?php echo $this->translate('COMMON_SHOW_ALL'); ?>
            </a>
        </div>
    </div>
<?php endif; ?>
