<div class="row jobboerse__item">
    <div class="col-lg-3 col-sm-3 jobboerse__item__image ">
        <img src="<?php echo $this->job['view_image']; ?>">
    </div>
    <div class="col-lg-9 col-sm-9 jobboerse__item__info">
        <div class="jobboerse__item__info__header">
            <a href="<?php echo $this->job['url']; ?>">
                <?php echo $this->job['title']; ?>
            </a>
        </div>
        <span class="jobboerse__item__info__firma">
                <?php echo $this->job['company']; ?>
            </span>
        <ul class="jobboerse__item__info__details">
            <li>
                <i class="material-icons">location_on</i>
                <?php echo $this->job['job_location']; ?>
            </li>
            <li>
                <i class="material-icons">date_range</i>
                <?php echo $this->job['join_date']; ?>

            </li>
            <li>
                <i class="material-icons">watch_later</i>
                <?php
                    $when = new \DateTime($this->job['publish_date']);
                    echo $when->format('d.m.Y');
                ?>
            </li>
        </ul>
        <div class="icons">
            <i class="material-icons">share</i>
            <i class="material-icons">bookmark_border</i>
        </div>
    </div>
</div> 