<section class="<?php echo $this->data['class']; ?>"
         style="background-image: url(<?php echo $this->data['image']; ?>);">
    <?php
//            \FirePHP::getInstance(true)->info($this->config);
    ?>
    <div class="container intro-header__content stage__content">
        <div class="row">
            <div class="col-12">
                <h1><?php echo $this->data['headline']?></h1>
                <p><?php echo $this->data['text']?></p>
                <?php echo $this->ndPartial('qp/hrm/partials/form/kontakt-form'); ?>
            </div>
        </div>
    </div>
</section>