<div class="link-list-wrapper">
    <?php
        //\FirePHP::getInstance(true)->info($this->data);
    ?>
    <?php if (isset($this->data['headline']) && $this->data['headline']): ?>
        <div class="row">
            <div class="col-lg-12 link-list__headline">
                <h3><?php echo $this->data['headline']; ?></h3>
            </div>
        </div>
    <?php endif; ?>
    <?php if (isset($this->data['text']) && $this->data['text']): ?>
        <div class="row">
            <div class="col-lg-12 link-list__text">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
            </div>
        </div>
    <?php endif; ?>
    <ul class="link-list">
        <?php $index = 0;
        while (isset($this->data['items'][$index]) && $index < 10): ?>
            <li>
                <?php echo $this->ndPartial('qp/hrm/partials/link', [
                    'config' => $this->config,
                    'data' => [
                        'url' => $this->data['items'][$index]['url'],
                        'text' => $this->data['items'][$index]['title'] .
                            $this->ndPartial('qp/hrm/partials/icon',
                                [ 'icon'=> ["name" => 'keyboard_arrow_right']])
                    ]
                ]); ?>
            </li>
            <?php $index++; endwhile; ?>
    </ul>
    <?php if (isset($this->data['link']['url']) && $this->data['link']['url']): ?>
        <div class="row">
            <div class="col-l-6 link-list__btn">
                <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                    'config' => $this->config,
                    'data'   => [
                        [
                            'type' => 'info',
                            'text' => $this->translate('COMMON_SHOW_ALL'),
                            'attr' => [
                                'href' => [$this->data['link']['url']],
                            ],
                        ],
                    ],
                ]); ?>
            </div>
        </div>
    <?php endif; ?>
</div>
