<div class="magazin-leseprobe container">
    <section>
        <div class="row">
            <div class="col-12">
                <h1 class="headline-with-bottom-border"><?php echo $this->data['headline']?></h1>
            </div>
         </div>
        <div class="row">
            <div class="col-12">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
            </div>
        </div>
        <div class=" row">
            <div class="magazin-leseprobe__embedded-code col-12 col-l-6">
                <iframe></iframe>
            </div>
            <div class="magazin-leseprobe__content col-12 col-l-6">
                <p class="magazin-leseprobe__content__title">$Thema</p>
                <p class="magazin-leseprobe__content__release">Ausgabe 04/2017</p>
                <?php if(isset($this->data['buttons'])):
                    echo $this->ndPartial('qp/hrm/partials/buttons', [
                        'data' => $this->data['buttons']
                    ]);
                endif; ?>

                <a href="/magazin/archiv"><i class="material-icons">picture_as_pdf</i>Als Pdf herunterladen </a>
            </div>

        </div>
    </section>
</div>
