<section class="<?php echo $this->data['class']; ?> container">
    <div class="magazin-abo">
        <div class="row">
            <div class="col-12">
                <h1 class="headline-with-bottom-border"><?php echo $this->data['headline']?></h1>
            </div>
        </div>

        <div class="magazin-abo__content-row ">
            <div class="row">
                <div class="col-12">
                    <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
                </div>
            </div>
        </div>

    </div>
</section>

<?php echo $this->ndPartial('qp/hrm/partials/pricing-table-magazine',['data' =>
    [
        'columns' => [
            [
                'title' => 'Studierenden-Abo' ,
                'button' => $this->translate('HRM_DOWNLOAD_PRODUCT_SELECT'),
                'isFeatured' => false,
                'image'  => '/hrm/img/aktuelle_news_570_x_320px.jpg',
                'price' =>  '59'
            ],
            [
                'title' => 'Standard' ,
                'button' => $this->translate('HRM_DOWNLOAD_PRODUCT_SELECT'),
                'isFeatured' => true,
                'image'  => '/hrm/img/aktuelle_news_570_x_320px.jpg',
                'price' =>  '79'
            ],
            [
                'title' => 'Auslandsabo' ,
                'button' => $this->translate('HRM_DOWNLOAD_PRODUCT_SELECT'),
                'isFeatured' => false,
                'image'  => '/hrm/img/aktuelle_news_570_x_320px.jpg',
                'price' => '109'
            ],

        ],
        'rows' => [
            [
                'title' => '6 Ausgaben/Jahr',
                'checkColumn' => ["Studierenden-Abo","Standard","Auslandsabo"]
            ],
            [
                'title' => 'Liefergarantie, keine Ausgabe mehr verpassen',
                'checkColumn' => ["Studierenden-Abo","Standard","Auslandsabo"]
            ],
            [
                'title' => 'Lieferung frei Haus innerhalb Deutschlands',
                'checkColumn' => ["Studierenden-Abo","Standard","Auslandsabo"]
            ],
            [
                'title' => 'Studierendener-mäßigung',
                'checkColumn' => ["Studierenden-Abo"]
            ],

        ]
    ]

]); ?>
