<?php
//  Dummy archive Should be Replaced with Data from API  //
$archive = array (
        [
            'year' => 'Laufendes Jahr',
            'releases' => array(
                [
                    'image' => '/hrm/img/highlight_570_x_570px.jpg',
                    'title' => 'Mut',
                    'release' => 'Ausgabe 05/2017'
                ]
            )
        ],
        [
            'year' => '2016',
            'releases' => array(
                [
                    'image' => '/hrm/img/highlight_570_x_570px.jpg',
                    'title' => 'Organisationen',
                    'release' => 'Ausgabe 05/2016'
                ],
                [
                    'image' => '/hrm/img/highlight_570_x_570px.jpg',
                    'title' => 'Communities',
                    'release' => 'Ausgabe 04/2016'
                ],
                [
                    'image' => '/hrm/img/highlight_570_x_570px.jpg',
                    'title' => 'Führungskräfte',
                    'release' => 'Ausgabe 03/2016'
                ]
            )
        ],
        [
            'year' => '2015',
            'releases' => array(
                [
                    'image' => '/hrm/img/highlight_570_x_570px.jpg',
                    'title' => 'Organisationen',
                    'release' => 'Ausgabe 03/2015'
                ],
                [
                    'image' => '/hrm/img/highlight_570_x_570px.jpg',
                    'title' => 'Communities',
                    'release' => 'Ausgabe 02/2015'
                ],
                [
                    'image' => '/hrm/img/highlight_570_x_570px.jpg',
                    'title' => 'Führungskräfte',
                    'release' => 'Ausgabe 01/2015'
                ]
            )
        ],
        [
            'year' => '2014',
            'releases' => array(
                [
                    'image' => '/hrm/img/highlight_570_x_570px.jpg',
                    'title' => 'Führungskräfte',
                    'release' => 'Ausgabe 01/2014'
                ]
            )
        ],
);
    // Dummy Archive //
?>

<div class="magazin-archive container">
    <section>
        <div class="row">
            <div class="col-12">
                <h1 class="headline-with-bottom-border"><?php echo $this->data['headline']?></h1>
            </div>
         </div>
        <div class="row">
            <div class="col-12">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
            </div>
        </div>
    </section>


    <section>
        <?php foreach($archive as $key => $archiveYear ): ?>
        <div class="magazin-archive__year">
            <div class="row">
                <div class="col-12 magazin-archive__year__toggle" data-year="<?php echo $key; ?>">
                    <h3 class="magazin-archive__year__title"><?php echo $archiveYear['year']; ?><i class="material-icons magazin-archive__year__arrow magazin-archive__year__arrow-<?php echo $key; ?>">keyboard_arrow_down</i></h3>
                </div>
            </div>
            <div class="row magazin-archive__year__content magazin-archive__year__content-<?php echo $key; ?> " <?php if ($key!=0): echo 'hidden' ; endif; ?> >
                <?php foreach($archiveYear['releases'] as $release ): ?>
                <div class="col-4">
                    <div class="magazin-archive__year__content__image">
                        <?php echo $this->ndPartial('qp/hrm/partials/image', [
                                'src' => $release["image"]
                            ]
                        );
                        ?>
                    </div>
                    <div class="magazin-archive__year__content__title">
                        <span><?php echo $release['title']; ?></span>
                    </div>
                    <div class="magazin-archive__year__content__release">
                        <span><?php echo $release['release']; ?></span>
                    </div>
                </div>
                <?php endforeach; ?>
            </div>
        </div>
        <?php endforeach; ?>
    </section>
</div>

