<?php foreach( $this->data as $media_icon ): ?>
    <div class="media-icons <?php echo isset($media_icon['class']) ? $media_icon['class'] : ''; ?>">
        <div class="media-left">
            <?php echo $this->ndPartial('qp/hrm/partials/icon', [ 'icon' => [ 'name' => $media_icon['icon']]]); ?>
        </div>
        <div class="media-body">
            <div class="media-body__content"><?php echo $media_icon['content']; ?></div>
        </div>
    </div>
<?php endforeach; ?>