<?php
    $id = uniqid();
    $hl = 'h2';
    if(isset($this->data['headline_level'])) {
        $hl = 'h' . (int) $this->data['headline_level'];
    }

?>
<div class="panel mobile-accordion">
    <div class="mobile-accordion__button__wrapper" data-id="<?php echo $id ?>">
<!--    Add collapse  to data-toggle property to add accordions -->
        <a class="mobile-accordion__button stop-jump-top collapsed"
           role="button"
           data-toggle=""
           style="
            <?php echo (isset($this->data['bg_color']) ? 'background-color:'.$this->data['bg_color'].';' : ''); ?>
            <?php echo (isset($this->data['color']) ? 'color:'.$this->data['color'].';' : ''); ?>
               "
           href="#collapse-<?php echo $id ?>"
           aria-expanded="false"
           aria-controls="collapse-<?php echo $id ?>">
            <div class="mobile-accordion__button__inner">
                <span><?php echo $this->data['headline']; ?></span>
                <i class="material-icons mobile-accordion__button__arrow mobile-accordion__button__arrow-<?php echo $id ?>" >keyboard_arrow_down</i>
            </div>
        </a>
    </div>
<!--    Add collapse mobile-accordion__collapse to class property to add accordions -->
    <div
        class=""
        id="collapse-<?php echo $id ?>"
        style="
            <?php echo (isset($this->data['bg_color']) ? 'border-color:'.$this->data['bg_color'].';' : ''); ?>
        ">
        <<?php echo $hl?> class="mobile-accordion__headline">
        <?php echo $this->data['headline']; ?>
        </<?php echo $hl?>>

        <?php if(isset($this->data['content'])): ?>
            <?php echo $this->data['content']; ?>
        <?php endif; ?>

        <?php if(isset($this->data['button'])): ?>
            <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                'config' => $this->config,
                'data' => [
                    [
                        'type' => 'info',
                        'text' => $this->data['button-text'],
                        'attr' => [
                            'href' => [ '#' ],
                        ]
                    ]
                ]
            ]); ?>
        <?php endif; ?>

        <?php if(isset($this->data['partial'])): ?>
            <?php echo $this->ndPartial($this->data['partial'], $this->data['partial_data']); ?>
        <?php endif; ?>
    </div>
</div>


