<ul class="nav navbar-nav navbar-right nav-top ">
    <li class="v-divider"><a href="#"><i class="material-icons">mail</i> Newsletter</a></li>
    <li class="v-divider"><a href="#">Über HRM</a></li>
    <li class="v-divider"><a href="#">Unsere Partner</a></li>
    <li class="v-divider"><a href="#">Für Unternhmen</a></li>
</ul>