<ul class="nav navbar-nav navbar-left nav-main ">
    <li class="v-divider"><a href="#" name="Wissen">Wissen</a></li>
    <li class="dropdown v-divider">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true"
           aria-expanded="false" name="Education">Education <i class="material-icons nav-caret">keyboard_arrow_down</i></a>
        <ul class="dropdown-menu">
            <li><a href="#" name="Themen">Themen</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" name="Lern-Formate">Lern-Formate</a></li>
        </ul>
    </li>
    <li class="v-divider" name="Jobbörse"><a href="#">Jobbörse</a></li>
    <li class="dropdown v-divider">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-haspopup="true"
           aria-expanded="false">Events <i class="material-icons nav-caret">keyboard_arrow_down</i></a>
        <ul class="dropdown-menu">
            <li><a href="#">Themen</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Lern-Formate</a></li>
        </ul>
    </li>
    <li class="v-divider"><a href="#">Experten</a></li>
    <li class="v-divider"><a href="#">Unternehmen</a></li>
    <li class="v-divider"><a href="#">Magazin</a></li>
    <li class="v-divider"><a href="#">Verband</a></li>
</ul>