 <section class="<?php echo $this->data['class']; ?> container">
    <div class="newsletter">
        <div class="row">
            <div class="col-12">
                <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']?></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-l-4 col-12 newsletter__type">
                <?php echo $this->ndPartial('qp/hrm/partials/image', [
                    'data' => '/hrm/img/nl_hrm.jpg'
                ] ); ?>
                <a href="#"><?php echo $this->translate('HRM_NEWSLETTER_HRM'); ?></a>
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->translate('HRM_NEWSLETTER_DESC_HRM')]); ?>

            </div>
            <div class="col-l-4 col-12 newsletter__type">
                <?php echo $this->ndPartial('qp/hrm/partials/image', [
                    'data' => '/hrm/img/nl_pz.jpg'
                ] ); ?>
                <a href="#"><?php echo $this->translate('HRM_NEWSLETTER_PZ'); ?></a>
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->translate('HRM_NEWSLETTER_DESC_PZ')]); ?>

            </div>
            <div class="col-l-4 col-12 newsletter__type">
                <?php echo $this->ndPartial('qp/hrm/partials/image', [
                    'data' => '/hrm/img/nl_hrm.jpg'
                ] ); ?>
                <a href="#"><?php echo $this->translate('HRM_NEWSLETTER_HR_WORK'); ?></a>
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->translate('HRM_NEWSLETTER_DESC_HR_WORK')]); ?>
            </div>
        </div>

        <?php echo $this->ndPartial('qp/hrm/partials/form/newsletter-form'); ?>
    </div>
 </section>