<section class="teaser teaser--extendable teaser--gray news">
    <div class="row">
        <div class="container">
            <?php
            //            \FirePHP::getInstance(true)->info($this->data);
            ?>
            <?php $collapseId = 'collapseMobile' . md5($this->data['headline']); ?>
            <?php if ($this->data['headline']): ?>
                <a class="collapse-link stop-jump-top collapsed" role="button" data-toggle="collapse" href="#<?php echo $collapseId; ?>" aria-expanded="false" aria-controls="<?php echo $collapseId; ?>">
<!--                        <div class="teaser__carret"><i class="material-icons">keyboard_arrow_up</i></div>-->
                        <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
                </a>
            <?php endif; ?>
            <div class="mobile-collapse collapse" id="<?php echo $collapseId;?>">
                <div class="news__items">
                    <div class="container">
                        <div class="row equal-height">
                            <div class="col-xs-12 col-sm-6">
                                <!-- MAIN NEWS/POST -->
                                <?php
                                $items = $this->data['items'];
                                $newsItemFirst = array_shift($items);
                                echo $this->ndPartial('qp/hrm/partials/post', [
                                    'item'          => $newsItemFirst,
                                    'config'        => $this->config,
                                    'is_first_item' => true,
                                ]);
                                ?>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <!-- SMALLER NEWS/POST -->
                                <?php foreach ($items as $newsItem): ?>
                                    <?php echo $this->ndPartial('qp/hrm/partials/post', [
                                        'item'          => $newsItem,
                                        'config'        => $this->config,
                                        'is_first_item' => false,
                                    ]); ?>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div>
                </div>

                <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                    'config' => $this->config,
                    'data'   => [
                        [
                            'type' => 'info',
                            'text' => $this->translate('NEWS_LIST_BUTTON_SHOW_ALL'),
                            'attr' => [
                                'href' => [
                                    $this->data['link']['url']
                                ],
                            ],
                        ],
                    ],
                ]); ?>
            </div>
        </div>
    </div>
</section>