<div class="next_preview">
    <a href="" class="preview"><i class="material-icons">keyboard_arrow_left</i> Vorheriger Artikel</a>
    <a href="" class="next"> Nächster Artikel <i class="material-icons">keyboard_arrow_right</i></a>
</div>