<section class="container portfolio-image-items">
    <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
    <div class="row">
            <div class="col-l-4 col-12 newsletter__type">
                <div class="portfolio__image-item">
                    <?php echo $this->ndPartial('qp/hrm/partials/image', [
                        'data' => '/hrm/img/dummy_teaser_1.JPG'
                    ] ); ?>
                </div>
                <a href="#">Vertriebsmanager</a>
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => 'Die HRM-Presseschau liefert einen täglichen überblick über personal relevante Nachrichten']); ?>

            </div>
            <div class="col-l-4 col-12 newsletter__type">
                <div class="portfolio__image-item">
                    <?php echo $this->ndPartial('qp/hrm/partials/image', [
                        'data' => '/hrm/img/dummy_teaser_1.JPG'
                    ] ); ?>
                </div>
                <a href="#">HR-Presseschau</a>
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => 'Die HRM-Presseschau liefert einen täglichen überblick über personal relevante Nachrichten']); ?>

            </div>
            <div class="col-l-4 col-12 newsletter__type">
                <div class="portfolio__image-item">
                    <?php echo $this->ndPartial('qp/hrm/partials/image', [
                        'data' => '/hrm/img/dummy_teaser_1.JPG'
                    ] ); ?>
                </div>
                <a href="#">Compliance Manager</a>
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => 'Die HRM-Presseschau liefert einen täglichen überblick über personal relevante Nachrichten']); ?>
            </div>
            <div class="col-l-4 col-12 newsletter__type">
                <div class="portfolio__image-item">
                    <?php echo $this->ndPartial('qp/hrm/partials/image', [
                        'data' => '/hrm/img/dummy_teaser_1.JPG'
                    ] ); ?>
                </div>
                <a href="#">DAGSA</a>
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => 'Die HRM-Presseschau liefert einen täglichen überblick über personal relevante Nachrichten']); ?>
            </div>
            <div class="col-l-4 col-12 newsletter__type">
                <div class="portfolio__image-item">
                    <?php echo $this->ndPartial('qp/hrm/partials/image', [
                        'data' => '/hrm/img/dummy_teaser_1.JPG'
                    ] ); ?>
                </div>
                <a href="#">HR-Presseschau</a>
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => 'Die HRM-Presseschau liefert einen täglichen überblick über personal relevante Nachrichten']); ?>
            </div>

    </div>
</section>