<?php if (isset($this->data['pagination']['pages'])): ?>
    <?php
//        \FirePHP::getInstance(true)->info($this->data);
        $pageCount = count($this->data['pagination']['pages']);

        $firsClass = '';
        $prevClass = '';
        $nextClass = '';
        $lastClass = '';
        if ($this->data['pagination']['from'] == 0) {
            $firsClass = 'pagination__item--inactive';
            $prevClass = 'pagination__item--inactive';
        }
        if ($this->data['pagination']['from']+$this->data['pagination']['desiredSize'] >= $this->data['pagination']['total']) {
            $nextClass = 'pagination__item--inactive';
            $lastClass = 'pagination__item--inactive';
        }
    ?>
    <span class="pagination__section pagination__section--prev-first">
        <span class="pagination__item pagination__item--first <?php echo $firsClass; ?>"
              data-query="<?php echo $this->data['pagination']['pages'][0]['query']; ?>">
            <i class="material-icons">skip_previous</i>
        </span>
        <span class="pagination__item pagination__item--prev <?php echo $prevClass; ?>"
              data-query="<?php echo 'from='.$this->data['pagination']['prev'].'&size='.$this->data['pagination']['desiredSize']; ?>">
            <i class="material-icons">keyboard_arrow_left</i>
        </span>
    </span>

    <span class="pagination__section pagination__section--pages">
        <?php if ($pageCount > 10): ?>
            <?php for($p = 0; $p < 10; $p++): ?>
                <span class="pagination__item <?php echo ($this->data['pagination']['pages'][$p]['from'] == $this->data['pagination']['from'])?'pagination__item--current':''; ?>"
                      data-query="<?php echo $this->data['pagination']['pages'][$p]['query']; ?>">
                    <?php echo $p+1; ?>
                </span>
            <?php endfor; ?>
            <span> ... </span>
            <span class="pagination__item <?php echo ($this->data['pagination']['pages'][$pageCount-1]['from'] == $this->data['pagination']['from'])?'pagination__item--current':''; ?>"
                  data-query="<?php echo $this->data['pagination']['pages'][$pageCount-1]['query']; ?>">
                <?php echo $pageCount-1; ?>
            </span>
        <?php else: ?>
            <?php for($p = 0; $p < $pageCount; $p++): ?>
                <span class="pagination__item <?php echo ($this->data['pagination']['pages'][$p]['from'] == $this->data['pagination']['from'])?'pagination__item--current':''; ?>"
                      data-query="<?php echo $this->data['pagination']['pages'][$p]['query']; ?>">
                    <?php echo $p+1; ?>
                </span>
            <?php endfor; ?>
        <?php endif; ?>
    </span>

    <span class="pagination__section pagination__section--next-last">
        <span class="pagination__item pagination__item--next <?php echo $nextClass; ?>"
              data-query="<?php echo 'from='.$this->data['pagination']['next'].'&size='.$this->data['pagination']['desiredSize']; ?>">
            <i class="material-icons">keyboard_arrow_right</i>
        </span>
        <span class="pagination__item pagination__item--last <?php echo $lastClass; ?>"
              data-query="<?php echo $this->data['pagination']['pages'][$pageCount-1]['query']; ?>">
            <i class="material-icons">skip_next</i>
        </span>
    </span>

    <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
        'config' => $this->config,
        'data'   => [
            [
                'type' => 'info',
                'text' => $this->translate('mehr anzeigen') . ' <i class="material-icons mobile-spinner">autorenew</i>',
                'attr' => [
                    'class' => ['mobile-load-more'],
                    'data-query' => [$this->data['pagination']['pages'][0]['query']],
                ]
            ]
        ]
    ]); ?>
<?php endif; ?>
