<section class="container loesung">
    <div class="row">
        <div class="col-lg-12  "><h2>HR-Lösungen</h2></div>
    </div>

    <div class=" row begin ">
        <div class="col-lg-12 item center">
            <div class="loesung__info-box-banner">
                <h4>Finden Sie bei uns den richtigen Partner für Ihren <br />
                    zukünftigen Unternehmenserfolg!</h4>
                <div class="row tesis ">
                    <span>HR Consulting</span>
                    <span>Software- Lösungen</span>
                    <span>Strategie- Partner</span>
                </div>
                <form>
                    <div class=" row begin ">
                        <div class="col-lg-5 col-sm-5 col-xs-5">
                            <div class="input-group">
                                <span class="input-group-addon hidden-xs" id="basic-addon1"><i
                                            class="material-icons">short_text</i></span>
                                <input type="text" class="form-control" placeholder="Themen oder Stichwörter"
                                       aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-5 col-xs-5">
                            <div class="input-group">
                                <span class="input-group-addon hidden-xs" id="basic-addon1"><i
                                            class="material-icons">label</i></span>
                                <input type="text" class="form-control" placeholder="Industrie"
                                       aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-xs-2 submit">
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"
                                                                                aria-hidden="true"></span></button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</section>
