<section class="container-fluid placeholder">
    <div class="row">
        <div class="bg-image"><img src="/<?php echo $this->config['portal']; ?>/img/dummy_1920_x_400px.jpg"></div>
    </div>
</section>