<section class="container portfolio-image-items">
    <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
    <div class="row">
        <div class="col-l-4 col-12 portfolio__image-item">
            <?php echo $this->ndPartial('qp/hrm/partials/portfolio-image', [
                    'text' => '1.Kongresspartnerschaft',
                    'image' => '/hrm/img/dummy_teaser_1.JPG',
                    'link' => '#'
                ]
            );
            ?>
        </div>
        <div class="col-l-4 col-12 portfolio__image-item">
            <?php echo $this->ndPartial('qp/hrm/partials/portfolio-image', [
                    'text' => '2. Businesspage',
                    'image' => '/hrm/img/dummy_teaser_1.JPG',
                    'link' => '#'
                ]
            );
            ?>
        </div>
        <div class="col-l-4 col-12 portfolio__image-item">
            <?php echo $this->ndPartial('qp/hrm/partials/portfolio-image', [
                    'text' => '3. Bannerwerbung',
                    'image' => '/hrm/img/dummy_teaser_1.JPG',
                    'link' => '#'
                ]
            );
            ?>
        </div>
        <div class="col-l-4 col-12 portfolio__image-item">
            <?php echo $this->ndPartial('qp/hrm/partials/portfolio-image', [
                    'text' => '4. Magazin HRM',
                    'image' => '/hrm/img/dummy_teaser_1.JPG',
                    'link' => '#'
                ]
            );
            ?>
        </div>
        <div class="col-l-4 col-12 portfolio__image-item">
            <?php echo $this->ndPartial('qp/hrm/partials/portfolio-image', [
                    'text' => '5.Jobbörse',
                    'image' => '/hrm/img/dummy_teaser_1.JPG',
                    'link' => '#'
                ]
            );
            ?>
        </div>
        <div class="col-l-4 col-12 portfolio__image-item">
            <?php echo $this->ndPartial('qp/hrm/partials/portfolio-image', [
                    'text' => '6. Individuelle Angebote',
                    'image' => '/hrm/img/dummy_teaser_1.JPG',
                    'link' => '#'
                ]
            );
            ?>
        </div>
    </div>
</section>

