    <div class="portfolio__item__container">
        <div class="row">
            <div class="col-12">
                <?php echo $this->ndPartial('qp/hrm/partials/portfolio-image', [
                        'text' => $this->title,
                        'image' => $this->image,
                        'link' => $this->link
                    ]
                );
                ?>
            </div>
            <div class="col-12">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->text , 'link' => $this->link]); ?>
            </div>
        </div>
    </div>




