<a href="<?php echo $this->link; ?>">
    <div class="portfolio__item__image"
         style="background-image: url('<?php echo $this->image; ?>')">
        <p class="large-text"><?php echo $this->text;?></p>
        <div class="portfolio__item__overlay"></div>
    </div>
</a>