<section class="container portfolio">
    <div class="row  portfolio__icons ">
        <div class="col-lg-9 image col-md-12 col-sm-12  col-xs-12 center-col"  >
            <div class="row">
                <div class="col-lg-4 image col-md-3 col-sm-12 col-xs-12">
                    <div class=" col-lg-12">
                        <div class="portfolio__icons__item">
                            <i class="material-icons">group</i>
                        </div>
                    </div>
                    <div  class=" col-lg-12">
                        <p class="portfolio__icons__title large-text">Zugang zur entsprechenden Zielgruppe </p>
                        <p class="portfolio__icons__description small-text">Phasellus vel augue arcu. Nunc et sem sed dui luctus placerat. Vivamus tincidunt mi sit amet porttitor consequat. </p>

                    </div>
                </div>
                <div class="col-lg-4 image col-md-4 col-sm-12 col-xs-12">
                    <div class=" col-lg-12">
                        <div class="portfolio__icons__item">
                            <i class="material-icons">local_library</i>
                        </div>
                    </div>
                    <div class=" col-lg-12">
                        <p class="portfolio__icons__title large-text">Breites Produktportfolio </p>
                        <p class="portfolio__icons__description small-text">Phasellus vel augue arcu. Nunc et sem sed dui luctus placerat. Vivamus tincidunt mi sit amet porttitor consequat. </p>

                    </div>
                </div>

                <div class="col-lg-4 image col-md-4 col-sm-12 col-xs-12">
                    <div class=" col-lg-12">
                        <div class="portfolio__icons__item">
                            <i class="material-icons">pan_tool</i>
                        </div>
                    </div>
                    <div class=" col-lg-12">
                        <p class="portfolio__icons__title large-text">Services aus einer Hand </p>
                        <p class="portfolio__icons__description small-text">Phasellus vel augue arcu. Nunc et sem sed dui luctus placerat. Vivamus tincidunt mi sit amet porttitor consequat. </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
        </div>
    </div>
        <div class="portfolio-items">
            <div class="row">
                <div class="col-l-6 col-12 portfolio__item">
                    <?php echo $this->ndPartial('qp/hrm/partials/portfolio-item', [ 'title' => 'Partnerschaft','image' => '/hrm/img/dummy_teaser_1.JPG', 'text' => $this->data['text'], 'link' => '/fuer-unternehmen/sponsoring' ]) ; ?>
                </div>
                <div class="col-l-6 col-12 portfolio__item">
                    <?php echo $this->ndPartial('qp/hrm/partials/portfolio-item', [ 'title' => 'Businesspage','image' => '/hrm/img/dummy_teaser_1.JPG', 'text' => $this->data['text'], 'link' => '/fuer-unternehmen/business' ]) ; ?>
                </div>
                <div class="col-l-6 col-12 portfolio__item">
                    <?php echo $this->ndPartial('qp/hrm/partials/portfolio-item', [ 'title' => 'Bannerwerbung','image' => '/hrm/img/dummy_teaser_1.JPG', 'text' => $this->data['text'], 'link' => '/fuer-unternehmen/bannerwerbung' ]) ; ?>
                </div>
                <div class="col-l-6 col-12 portfolio__item">
                    <?php echo $this->ndPartial('qp/hrm/partials/portfolio-item', [ 'title' => 'Printwerbung','image' => '/hrm/img/dummy_teaser_1.JPG', 'text' => $this->data['text'], 'link' => '/fuer-unternehmen/printanzeigen' ]) ; ?>
                </div>
                <div class="col-l-6 col-12 portfolio__item">
                    <?php echo $this->ndPartial('qp/hrm/partials/portfolio-item', [ 'title' => 'Jobmarket','image' => '/hrm/img/dummy_teaser_1.JPG', 'text' => $this->data['text'], 'link' => '/fuer-unternehmen/fuerarbeitgeber' ]) ; ?>
                </div>
                <div class="col-l-6 col-12 portfolio__item">
                    <?php echo $this->ndPartial('qp/hrm/partials/portfolio-item', [ 'title' => 'Events melden','image' => '/hrm/img/dummy_teaser_1.JPG', 'text' => $this->data['text'], 'link' => '/fuer-unternehmen/terminmeldung' ]) ; ?>
                </div>
                <div class="col-l-6 col-12 portfolio__item">
                    <?php echo $this->ndPartial('qp/hrm/partials/portfolio-item', [ 'title' => 'Individuelle Angebote','image' => '/hrm/img/dummy_teaser_1.JPG', 'text' => $this->data['text'], 'link' => '/fuer-unternehmen/individuelle-angebote' ]) ; ?>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <h2 class="headline-with-bottom-border">Mediadaten</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-l-6 col-12 image-container__half">
            <?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => '/hrm/img/hero_bild_1500px.jpg' ] ); ?>
        </div>
        <div class="col-l-6 col-12">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => 'Phasellus vel augue arcu. Nunc et sem sed dui luctus placerat. Vivamus tincidunt mi sit amet porttitor consequat. Suspendisse sollicitudin dictum sem, sed tempor arcu convallis a. Pellentesque ligula lectus, maximus sit amet felis et, pretium tincidunt dolor.']); ?>
            <div class="row">
                <div class="col-12">
                    <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                        'config' => $this->config,
                        'data' => [
                            [
                                'type' => 'marketing',
                                'text' => '<i class="material-icons">get_app</i>'.$this->translate('HRM_DOWNLOAD_MEDIA_DATA'),
                                'attr' => [
                                    'href' => [ '/fuer-unternehmen/mediadaten' ],
                                ]
                            ]
                        ]
                    ]); ?>
                </div>
            </div>
        </div>
        </div>



    </div>
</section>