<?php
//\FirePHP::getInstance(true)->info($this->item);
//\FirePHP::getInstance(true)->info($this->config);
?>
<div class="news__item post">
    <div class="post__source__image">
        <?php echo $this->ndPartial('qp/hrm/partials/image', [
            'data' => $this->item['author']['image']
        ]); ?>
    </div>
    <div class="post__info">
        <span class="post__date"><?php echo date('d.m.Y', $this->item['created']); ?></span>
        <span class="post__author">
            <a href="<?php echo $this->item['url']; ?>">
                <?php echo $this->item['author']['name']; ?>
            </a>
        </span>
        <span class="post__position">
            <?php echo $this->item['author']['jobTitle']; ?>
        </span>
    </div>
    <div class="post__title">
        <a href="<?php echo $this->item['url']; ?>">
            <?php echo $this->item['title']; ?>
        </a>
    </div>
    <?php echo $this->ndPartial('qp/hrm/partials/tags', ['data' => $this->item, 'config' => $this->config]); ?>

    <?php if ($this->is_first_item): ?>
        <div class="post__image visible-l">
            <img src="<?php echo $this->item['image']; ?>">
        </div>
    <?php endif; ?>
    <div class="row">
        <div class="search-item__interactions col-12">
            <?php echo $this->ndPartial('qp/hrm/partials/share-icons', [
                'url'  => $this->data['url'],
                'item' => $this->data,
            ]); ?>
        </div>
    </div>

</div>


