<div class="article-navigation">
    <div class="go-to-article-list">
        <a href="" class="preview">
            <i class="material-icons">first_page</i>
            <?php /*<i class="material-icons">skip_previous</i>*/ ?>
            <?php echo $this->translate('HRM_ARTICLES_GO_TO_ARTICLE_LIST'); ?>
        </a>
    </div>
    <div class="next_preview">
        <a href="" class="preview">
            <i class="material-icons">keyboard_arrow_left</i>
            <?php echo $this->translate('HRM_ARTICLES_PREVIOUS_ARTICLE'); ?>
        </a>
        <a href="" class="next">
            <?php echo $this->translate('HRM_ARTICLES_NEXT_ARTICLE'); ?>
            <i class="material-icons">keyboard_arrow_right</i>
        </a>
    </div>
</div>