<?php
$is_earlybird = isset($this->data["earlybird"]); ?>

<div class="price <?php echo ($is_earlybird? 'earlybird': ''); ?>">
    <?php if( $is_earlybird ): ?>
    <div class="price__col">
        <div class="price__wrapper">
            <div class="price__highlighted">
                <span class="hidden-s"><?php echo $this->translate('HRM_EARLY0BIRD_PRICE'); ?></span>
                <?php echo $this->data["earlybird"]['price']; ?>**
            </div>
        </div>
    </div>
    <?php endif; ?>

    <div class="price__col">
        <div class="price__wrapper">
            <div class="price__normal <?php echo $is_earlybird ? 'price__normal--stroke' : ''; ?>">
                <?php echo $this->data["normal"]['price']; ?>**
            </div>
        </div>
    </div>
</div>