<section class="container pricing-table pricing-table--magazine">
    <div class="pricing-table__products">
        <!-- Slick Caroussel for S/M Version -->
        <div class="col-12 pricing-table__carousel hidden-l">
            <div class="slick-carousel">
                <?php foreach ($this->data['columns'] as $key=>$column){ ?>
                    <div class="pricing-table__carousel-col magazine-plan <?php if ($column['isFeatured'] == true){ echo 'pricing-table__featured';} ?>"  role="button" data-name="<?php echo $column['title']; ?>" data-price="<?php echo $column['price']; ?>" data-pos="<?php echo $key ?>">
                        <div class="pricing-table__plan-image">
                            <?php echo $this->ndPartial('qp/hrm/partials/image', [
                                    'src' => $column['image']
                                ]
                            );
                            ?>
                        </div>
                        <ul>
                            <li class="pricing-table__plan-header">
                                <h3><?php echo $column['title']; ?></h3>
                            </li>
                            <?php foreach ($this->data['rows'] as $tableRow){
                                if(in_array($column['title'],$tableRow['checkColumn']) ){ ?>
                                    <li><i class="material-icons">done</i><span><?php echo $tableRow['title']; ?> </span></li>
                                <?php }else { ?>
                                    <li class="pricing-table__carousel-col__empty-cell"></li>
                                <?php }} ?>
                            <li class="pricing-table__plan-footer">
                                <p class="pricing-table__plan-footer__price"><?php echo $column['price']; ?> EUR/Jahr *</p>
                                <div class="col-12">
                                    <?php
                                    if ($column['isFeatured'] == true){ $buttonColor = 'order';} else { $buttonColor = 'gray';}
                                    echo $this->partial('qp/hrm/partials/buttons', [
                                        'config' => $this->config,
                                        'data' => [
                                            [
                                                'type' => $buttonColor,
                                                'text' => $column['button'],
                                                'attr' => [
                                                    'href' => [ '#' ],
                                                ]
                                            ]
                                        ]
                                    ]); ?>
                                </div>
                            </li>
                        </ul>
                    </div>
                <?php } ?>
            </div>
        </div>
        <!-- END Slick Caroussel -->

        <!-- L Pricing Table -->
        <div class="col-12">
        <div class="row">
        <?php foreach ($this->data['columns'] as $key=>$column){ ?>
            <div class="hidden-s hidden-m col-l-4">
                <div class="pricing-table__plan-container magazine-plan <?php if ($column['isFeatured'] == true){ echo 'pricing-table__featured';} ?>"  data-name="<?php echo $column['title']; ?>" data-price="<?php echo $column['price']; ?>" data-pos="<?php echo $key ?>">
                    <div class="pricing-table__plan-image">
                        <?php echo $this->ndPartial('qp/hrm/partials/image', [
                                'src' => $column['image']
                            ]
                        );
                        ?>
                    </div>
                    <ul>
                        <li class="pricing-table__plan-header">
                            <h3><?php echo $column['title']; ?></h3>
                        </li>
                        <?php foreach ($this->data['rows'] as $tableRow){
                            if(in_array($column['title'],$tableRow['checkColumn']) ){ ?>
                                <li><i class="material-icons">done</i><span><?php echo $tableRow['title']; ?> </span></li>
                            <?php }else { ?>
                                <li class="pricing-table__carousel-col__empty-cell"></li>
                            <?php }} ?>
                        <li class="pricing-table__plan-footer">
                            <p class="pricing-table__plan-footer__price"><?php echo $column['price']; ?> EUR/Jahr *</p>
                            <div class="col-12">
                                <?php
                                    if ($column['isFeatured'] == true){ $buttonColor = 'order';} else { $buttonColor = 'gray';}
                                echo $this->ndPartial('qp/hrm/partials/buttons', [
                                    'config' => $this->config,
                                    'data' => [
                                        [
                                            'type' => $buttonColor,
                                            'text' => $column['button'],
                                            'attr' => [
                                                'href' => [ '#' ],
                                            ]
                                        ]
                                    ]
                                ]); ?>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        <?php } ?>
        </div>
        </div>
        <!-- END L Pricing Table -->
    </div>

    <!-- Order form-->
    <div class="col-12 abo-form">
        <div class="row">
            <div class="abo-form__arrow"></div>
            <div class="col-12 abo-form__body">
                <?php echo $this->ndPartial('qp/hrm/partials/form/magazin-abo-form') ?>
            </div>
        </div>
    </div>
</section>



