<section class="container pricing-table">
    <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
    <div class="pricing-table__products">
            <div class="col-l-4 col-6 hidden-s hidden-m pricing-table__legend">
                <ul>
                    <li><span>&nbsp;</span></li>
                    <?php foreach ($this->data['rows'] as $tableRow){ ?>
                        <li><span><?php echo $tableRow['title']; ?></span>
                            <!-- Show info icon if the row has extra information -->
                            <i class="material-icons info-icon pricing-table__info-icon" data-info="<?php echo $tableRow['info']; ?>" data-toggle="popover" data-placement="bottom">info_outline</i>
                        </li>
                    <?php } ?>
                </ul>
            </div>

            <!-- Slick Caroussel for S/M Version -->
            <div class="col-12 hidden-l pricing-table__carousel">
                <div class="slick-carousel">
                    <?php foreach ($this->data['columns'] as $key=>$column){ ?>
                        <div class="pricing-table__carousel-col <?php if ($column['isFeatured'] == true){ echo 'pricing-table__featured';} else echo ''; ?>">
                            <ul>
                                <li class="pricing-table__plan-header">
                                    <h3><?php echo $column['title']; ?></h3>
                                    <p class="pricing-table__plan-header__duration"><?php echo $column['duration']; ?></p>
                                </li>
                                <?php foreach ($this->data['rows'] as $tableRow){
                                    if(in_array($column['title'],$tableRow['checkColumn']) ){ ?>
                                        <li><span><?php echo $tableRow['title']; ?> </span><i class="material-icons">done</i></li>
                                    <?php }else { ?>
                                        <li class="pricing-table__carousel-col__gray-cell"><span><?php echo $tableRow['title']; ?> </span></li>
                                    <?php }} ?>
                                <li class="pricing-table__plan-footer">
                                    <p class="pricing-table__plan-footer__price"><?php echo $column['price']; ?> EUR/ Mon. *</p>
                                    <div class="col-12">
                                        <?php if ($column['isFeatured'] == true){ $buttonColor = 'order'; } else $buttonColor = 'gray'; ?>
                                        <?php echo $this->partial('qp/hrm/partials/buttons', [
                                            'config' => $this->config,
                                            'data' => [
                                                [
                                                    'type' => $buttonColor,
                                                    'text' => $this->translate('HRM_DOWNLOAD_PRODUCT_SELECT'),
                                                    'attr' => [
                                                        'href' => [ '#' ],
                                                    ]
                                                ]
                                            ]
                                        ]); ?>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <?php } ?>
                </div>
            </div>
            <!-- END Slick Caroussel -->

            <?php foreach ($this->data['columns'] as $key=>$column){ ?>
            <div id="<?php echo 'pricing-plan-'.$key; ?>" class="col-6 hidden-s hidden-m <?php if ($column['isFeatured'] == true){ echo 'col-l-4 pricing-table__featured';} else echo 'col-l-2'; ?>">
                <ul>
                    <li class="pricing-table__plan-header">
                        <h3><?php echo $column['title']; ?></h3>
                        <p class="pricing-table__plan-header__duration"><?php echo $column['duration']; ?></p>
                    </li>
                    <?php foreach ($this->data['rows'] as $tableRow){
                            if(in_array($column['title'],$tableRow['checkColumn']) ){ ?>
                                <li><i class="material-icons">done</i></li>
                            <?php }else { ?>
                                <li><i class="material-icons">&nbsp;</i></li>
                    <?php }} ?>
                    <li class="pricing-table__plan-footer">
                        <p class="pricing-table__plan-footer__price"><?php echo $column['price']; ?> EUR/ Mon. *</p>
                        <div class="col-12">
                            <?php if ($column['isFeatured'] == true){ $buttonColor = 'order'; } else $buttonColor = 'gray'; ?>
                            <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                                'config' => $this->config,
                                'data' => [
                                    [
                                        'type' => $buttonColor,
                                        'text' => $this->translate('HRM_DOWNLOAD_PRODUCT_SELECT'),
                                        'attr' => [
                                            'href' => [ '#' ],
                                        ]
                                    ]
                                ]
                            ]); ?>
                        </div>
                        <?php if(isset($column['subbutton'])){?>
                        <div class="col-12 pricing-table__plan-footer__sub-button ">
                            <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                                'config' => $this->config,
                                'data' => [
                                    [
                                        'type' => 'white',
                                        'text' => $column['subbutton'],
                                        'attr' => [
                                            'href' => [ '#' ],
                                        ]
                                    ]
                                ]
                            ]); ?>
                        </div>
                        <?php } ?>
                    </li>
                </ul>
            </div>
            <?php } ?>
    </div>

    <!-- Extra options-->
    <?php if(isset($data['extraOptions'])) {?>
    <div class="pricing-table__options">
        <div class="row">
            <div class="col-12">
                <p class="pricing-table__options__title">Zusatzoptionen<i class="material-icons pricing-table__options__arrow">keyboard_arrow_up</i></p>
            </div>
        </div>
        <span class="col-12 pricing-table__options__toggle">
            <div class="row">
                <div class="col-12 pricing-table__options__text">
                    <p><?php echo $data['extraOptionsText'] ?></p>
                </div>
            </div>

            <?php foreach ($this->data['extraOptions'] as $key=>$option){ ?>
            <div class="row">
                <div class="col-12 pricing-table__options__item">
                    <p data-option="<?php echo $key ?>" <?php if ($key % 2 != 0){ echo 'class="gray" ';} ?> <?php if (isset($option['suboptions'])){ echo 'class="pricing-table__suboptions__title"'; }?>><?php echo $option['title']; if (isset($option['suboptions'])){ ?>
                            <i class="material-icons pricing-table__suboptions__arrow">keyboard_arrow_up</i>
                        <?php } else{ ?><span class="pricing-table__options__item__price"><?php echo $option['price'] ?> EUR*</span><?php } ?>
                    </p>
                        <?php if(isset($option['suboptions'])){?>
                        <span class="pricing-table__suboptions__toggle pricing-table__suboptions__toggle-<?php echo $key ?>" hidden>
                            <?php foreach ($option['suboptions'] as $keySub => $subOption) { ?>
                            <p class="pricing-table__options__suboption"><?php echo $subOption['title']?>
                                <span class="pricing-table__options__suboption__info"><?php echo $subOption['info'] ?></span>
                                <span class="pricing-table__options__item__price"><?php echo $subOption['price'] ?> EUR*</span>
                            </p>
                            <?php }?>
                        </span>
                        <?php }?>
                </div>
            </div>
            <?php }}?>
        </span>
        <div class="row">
            <div class="col-12">
                <p class="pricing-table__options__comment">*zzgl. MwSt</p>
            </div>
        </div>
        <?php if($this->data['infoButton']){ ?>
        <div class="row">
            <div class="col-12">
                <?php echo $this->partial('qp/hrm/partials/buttons', [
                    'config' => $this->config,
                    'data' => [
                        [
                            'type' => 'marketing',
                            'text' => '<i class="material-icons">get_app</i>'.$this->translate('HRM_DOWNLOAD_PRODUCT_INFORMATION'),
                            'attr' => [
                                'href' => [ '#' ],
                            ]
                        ]
                    ]
                ]); ?>
            </div>
        </div>
     <?php } ?>
    </div>
</section>
