<section class="container product-pros">
    <div class="row">
        <div class="col-l-6 col-12">
            <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
            <?php echo $this->ndPartial('qp/hrm/partials/pros-list', [
                'points' => [
                    'Beratungsservice',
                    'Phasellus placerat tortor non posuere tempor.tortor non posuere tempor.Phasellus placerat tortor non posuere tempor.',
                    'Morbi eleifend lorem ut pulvinar tempus.Phasellus placerat tortor non posuere tempor.Phasellus placerat tortor non posuere tempor.Phasellus placerat tortor.',
                    'Nam eu magna facilisis porta.Phasellus placerat tortor non posuere tempor.Phasellus placerat tortor non posuere tempor.',
                    'Integer eu nulla id dolor bibendum maximus.Phasellus placerat tortor non posuere tempor.Phasellus placerat tortor non posuere tempor.',
                    'Nulla vel ex ac mi condimentum molestie fermentum vitae augue.',
                    'Posuere tempor.Phasellus placerat tortor non posuere tempor.',
                    'Nulla vel ex ac mi condimentum molestie fermentum vitae augue.'
                ]
            ]);
            ?>
        </div>
        <div class="col-l-6 col-12">
            <h2 class="headline-with-bottom-border"><?php echo $this->data['headline-slider']; ?></h2>
            <div class="slick-carousel">
                <div><?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => '/hrm/img/hero_bild_1500px.jpg' ] ); ?></div>
                <div><?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => '/hrm/img/hero_bild_1500px.jpg' ] ); ?></div>
                <div><?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => '/hrm/img/hero_bild_1500px.jpg' ] ); ?></div>
            </div>

            <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
        </div>
    </div>
    <div class="row">
        <div class="col-l-6 col-12">
            <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                'config' => $this->config,
                'data' => [
                    [
                        'type' => 'marketing',
                        'text' => '<i class="material-icons">get_app</i>'.$this->translate('HRM_DOWNLOAD_PRODUCT_INFORMATION'),
                        'attr' => [
                            'href' => [ '#' ],
                        ]
                    ]
                ]
            ]); ?>
        </div>
    </div>
</section>