<section class="container product-pros">
    <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
    <div class="row">
        <div class="col-l-4 col-12 portfolio__image-item">
            <?php echo $this->ndPartial('qp/hrm/partials/portfolio-image', [
                    'text' => 'Anzeigen',
                    'image' => '/hrm/img/dummy_teaser_1.JPG',
                    'link' => '#'
                ]
            );
            ?>
        </div>

        <div class="col-l-4 col-12 portfolio__image-item">
            <?php echo $this->ndPartial('qp/hrm/partials/portfolio-image', [
                    'text' => 'Beilagen',
                    'image' => '/hrm/img/dummy_teaser_1.JPG',
                    'link' => '#'
                ]
            );
            ?>
        </div>

        <div class="col-l-4 col-12 portfolio__image-item">
            <?php echo $this->ndPartial('qp/hrm/partials/portfolio-image', [
                    'text' => 'Beikleber',
                    'image' => '/hrm/img/dummy_teaser_1.JPG',
                    'link' => '#'
                ]
            );
            ?>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                'config' => $this->config,
                'data' => [
                    [
                        'type' => 'marketing',
                        'text' => '<i class="material-icons">get_app</i>'.$this->translate('HRM_DOWNLOAD_PRODUCT_INFORMATION'),
                        'attr' => [
                            'href' => [ '#' ],
                        ]
                    ]
                ]
            ]); ?>
        </div>
    </div>
</section>