<?php if (isset($this->points)) { ?>
    <ul class="pros-list">
        <?php foreach ($this->points as $point) { ?>
            <li><i class="material-icons">done</i><span><?php echo $point; ?></span></li>
        <?php }?>
    </ul>
<?php }?>
