<section class="container <?php echo $this->data['class']; ?>">
    <?php
//    \FirePHP::getInstance(true)->info($this->data);
    ?>
    <h2><?php echo $this->data['headline']; ?></h2>

    <div class="row">
        <?php echo $this->ndPartial('qp/hrm/partials/image-window', ['items' => $this->data['items']]); ?>
    </div>
</section>