<div class="white-papers__request-form__arrow"></div>
<div class="white-papers__request-form">
    <p><?php echo $this->translate('HRM_REQUEST_FILE_PER_MAIL_DESC');?></p>
    <?php echo $this->ndPartial('qp/hrm/partials/form/white-papers-form'); ?>
</div>