<?php
//    \FirePHP::getInstance(true)->info($this->data);
//    \FirePHP::getInstance(true)->info($this->config);
    if (is_null($this->config) && isset($this->data['config'])) {
        $this->config = $this->data['config'];
    }
    $entity_name = str_replace('/','-',$this->data['entity']);
    $entity      = $entity_name;
    if (strpos($entity_name, '-') !== false ) {
        $entityParts = explode('-',$entity);
        $entity      = $entityParts[1];
    }
    $main = '';
    foreach ($this->config['mainRoutes'] as $mainRoute => $mainRoutesConfig) {
        if ($mainRoutesConfig['entity'] === $entity) {
            $main = $mainRoute;
        }
    }
    $q = '';
    if (isset($this->data['queryQ']) && $this->data['queryQ']) {
        $q = ' data-q="'.$this->data['queryQ'].'"';
    }
?>

<div class="container search-listing" data-main="<?php echo $main; ?>" data-entity="<?php echo $this->data['entity']; ?>" <?php echo $q; ?>>
    <?php if ($entity_name == 'search-job'){ ?>
        <div class ="row">
            <div class="col-m-12 col-12">
                <div class="col-12 search-listing__jobs-search">
                    <div class="col-m-3 col-12"><span class="search-listing__jobs-search__label">Neue Job-Suche: </span></div>
                    <div class="col-m-9"><?php echo $this->partial('qp/hrm/partials/form/search-jobboersehrm', ['config' => $this->config, 'main' => $main, 'aggs' => $this->data['aggs']]); ?></div>
                </div>
            </div>
        </div>
    <?php } ?>
    <a name="filter"></a>
    <?php
        //\FirePHP::getInstance(true)->info($this->data);
        $headline = '<span class="search-listing__result-counter">'.$this->data['pagination']['total'].'</span> '.$this->translate('HRM_GLOBAL_HEADLINE_SEARCH');
        if (isset($this->data['headline']) && $this->data['headline']) {
            $headline = str_replace('%%COUNT%%','<span class="search-listing__result-counter">'.$this->data['pagination']['total'].'</span>', $this->data['headline']);
        }
    ?>
    <div class="row">


        <div class="col-m-3 filter-column">
            <?php echo $this->ndPartial('qp/hrm/partials/filter', ['data' => $this->data, 'main' => $main, 'config' => $this->config]); ?>
        </div>

        <div class="col-m-9 filter-content search-listing__content list-group-item">
                <div class="search-listing__headline">
                    <h2><?php echo $headline; ?></h2>
                </div>
            <?php if ($entity_name != 'search-person' && $entity_name != 'search-company' ){
                echo $this->ndPartial('qp/hrm/partials/filter-search', ['config' => $this->config]);
            }
            ?>

            <?php echo $this->ndPartial('qp/hrm/partials/spinner/spinner-'.$entity_name, ['data' => $this->data, 'config' => $this->config]); ?>

            <?php echo $this->ndPartial('qp/hrm/partials/filter-tags', ['data' => $this->data, 'config' => $this->config]); ?>
            <?php if (isset($this->data['aggs']['alph']) && $this->data['entity'] != 'search/all'): ?>
                <div class="filter-alphabet">
                    <?php echo $this->ndPartial('qp/hrm/partials/filter-alphabet', ['data' => $this->data, 'config' => $this->config]); ?>
                </div>
            <?php endif; ?>

            <?php
                $noResultClass = 'hidden';
                if (isset($this->data['fail']) && $this->data['fail'] === true){
                    $noResultClass = '';
                }
            ?>
            <div class="search-item__no-results <?php echo $noResultClass; ?> col-xs-4 col-lg-4">
                <?php echo $this->translate('HRM_GLOBAL_SEARCH_NO_RESULTS'); ?>
            </div>

            <div class="row list-group search-listing-results">
                <?php echo $this->ndPartial('qp/hrm/partials/filter-results', ['data' => $this->data, 'main' => $main, 'config' => $this->config]); ?>
            </div>

            <div class="pagination">
                <?php echo $this->ndPartial('qp/hrm/partials/pagination', ['data' => $this->data, 'config' => $this->config]); ?>
            </div>
        </div>
        <div class="col-m-3 teaser-column" hidden>

            <?php echo $this->ndPartial('qp/hrm/partials/info-box-item',[
                'data' => [
                    'headline' => $this->translate('HRM_FOR_EMPLOYER_BOX'),
                    'headline_level' => 4,
                    'partial' => 'qp/hrm/partials/right-teasers/image-text-button',
                    'partial_data'   => [
                            'subline' => 'Mitarbeiter finden',
                            'text'   => 'Informieren sie sich über unsere Stellenanzeigen und welche weiteren möglichkeiten wir bieten um Sie bei der Personalsuche zu unterstützen',
                            'link'   => '',
                            'image'  => '/hrm/img/dummy_teaser_1.JPG',
                            'button' => 'Jetzt Profitieren'
                    ]
                ]
            ]); ?>

            <?php echo $this->ndPartial('qp/hrm/partials/info-box-item',[
                'data' => [
                    'headline' => $this->translate('HRM_PARTNER_FOR_BANNER'),
                    'headline_level' => 4,
                    'partial' => 'qp/hrm/partials/right-teasers/contact-info',
                    'partial_data'   => [
                        'subline' => 'Gregor Ringsdorf',
                        'email'   => 'gregor.ringsdorf@quadriga.eu',
                        'tel'     => '030/ 84 85 92 53',
                        'fax'     => '030/ 84 85 92 53',
                        'image'   => '/hrm/img/ringsdorf_gregor.png'
                    ]
                ]
            ]); ?>
        </div>
    </div>

    <?php if (isset($this->data['searchAfterLoading']) && $this->data['searchAfterLoading'] === true): ?>
        <div id="searchAfterLoading"></div>
    <?php endif; ?>
</div>

