<?php
//    \FirePHP::getInstance(true)->info($this->config, 'partials/share-icons config');
//    \FirePHP::getInstance(true)->info($this->url, 'partials/share-icons url');
//    \FirePHP::getInstance(true)->info($this->item, 'partials/share-icons item');

    $class_arr    = [ 'interaction__icons' ];
    $isBookmarked = '';
    $entity       = '';
    $portal       = 'hrm'; // TODO: This is BAD .. very BAD .. find a solution, maybe when jobs will be integrated
    $id           = '';
    $url          = '';
    $name         = '';
    $img          = '';

    $item = [];
    if (isset($this->config['endPoint'])) {
        $item = $this->config['endPoint'];
    }
    if (isset($this->item)) {
        $item = $this->item;
    }

    if(isset($item['_index']) && isset($item['_index'])) {
        $entity = $item['_index'];
        $id     = $item['_id'];
        $url    = $item['url'];
        if (isset($item['_isBookmarked']) && $item['_isBookmarked']) {
            $isBookmarked = 'bookmarked';
        }
        if (isset($item['portalId'])) {
            $portal = $item['portalId'];
        } else if (isset($item['profile'][0]['portalId'])) {
            $portal = $item['profile'][0]['portalId'];
        }

        switch ($item['_index']) {
            case 'post':
                $name = $item['title'];
                $img  = $item['image'];
                break;
            case 'job':
                $name = $item['title'];
                $img  = $item['view_image'];
                break;
            case 'education':
            case 'event':
            case 'company':
                $name = $item['name'];
                $img  = $item['image'];
                break;
            case 'person':
                $name = $item['givenName']. ' ' .$item['familyName'];
                $img  = $item['image'];
                break;
        }
    }

    if($entity === '' && $id === '' && $portal === '') {
        $class_arr[] = 'deprecated_color';
    }

    $classes = implode( ' ', $class_arr );
?>

<div class="<?php echo $classes; ?>">
    <a data-toggle="popover" class="share-popover" tabindex="0" data-placement="top">

<!--        <div id="share-popover-content" class="addthis_toolbox addthis_default_style" data-url="THE URL" data-title="THE TITLE" data-media="THE IMAGE">-->
<!--            <a class="addthis_button_preferred_1" style="width:50px; height: 50px; background-color: #0000cc">SHIT</a>-->
<!--            <a  class="addthis_button_preferred_2"></a>-->
<!--            <a class="addthis_button_preferred_3"></a>-->
<!--            <a class="addthis_button_preferred_4"></a>-->
<!--            <a class="addthis_button_compact"></a>-->
<!--            <a class="addthis_counter addthis_bubble_style"></a>-->
<!--        </div>-->
        <div  id="share-popover-content" class="addthis_inline_share_toolbox hide" data-url="<?php echo $url; ?>" data-title="<?php echo $name; ?>" data-media="<?php echo $img; ?>" >
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58b816a659deb56c"></script>
        </div>
        <?php echo $this->ndPartial('qp/hrm/partials/icon', [
            'icon' => ['name'=> 'share' ]
        ]); ?>
    </a>
    <?php if ($entity && $id && $portal): ?>
        <span class="interaction__icons__bookmark <?php echo $isBookmarked; ?>"
              data-es-id="<?php echo $id; ?>"
              data-entity="<?php echo $entity; ?>"
              data-portal="<?php echo $portal; ?>">
            <?php echo $this->ndPartial('qp/hrm/partials/icon', [
                'icon' => ['name'=> 'bookmark_border', 'class' => 'bookmark_border' ]
            ]); ?>
            <?php echo $this->ndPartial('qp/hrm/partials/icon', [
                'icon' => ['name'=> 'bookmark', 'class' => 'bookmark' ]
            ]); ?>
        </span>
    <?php endif; ?>
</div>

