<?php
// \FirePHP::getInstance(true)->info($this->data);
?>

<section class="module container partner">
    <div class="row">
        <div class="col-xs-12">
            <?php $collapseId = 'collapseMobile' . md5($this->data['headline']); ?>
            <?php if ($this->data['headline']): ?>
                <a class="collapse-link stop-jump-top collapsed" role="button" data-toggle="collapse" href="#<?php echo $collapseId; ?>" aria-expanded="false" aria-controls="<?php echo $collapseId; ?>">
                    <div class="module__title">
<!--                        <div class="teaser__carret"><i class="material-icons">keyboard_arrow_up</i></div>-->
                        <h2><?php echo $this->data['headline']; ?></h2>
                    </div>
                </a>
            <?php endif; ?>
        </div>
    </div>

    <div class="mobile-collapse collapse" id="<?php echo $collapseId; ?>">
        <div class="row">
            <div class="col-xs-12">
                <div class="partner__banner" style="background-image: url('/hrm/img/hr_lösungen_1170_x_270px.jpg')">
                    <h4>
                        Finden Sie bei uns den richtigen Partner für Ihren <br />
                        zukünftigen Unternehmenserfolg!
                    </h4>

                    <div class="partner__banner__tags">
                        <span class="partner__banner__tags__item">HR Consulting</span>
                        <span class="partner__banner__tags__item">Software- Lösungen</span>
                        <span class="partner__banner__tags__item">Strategie- Partner</span>
                    </div>

                    <?php echo $this->ndPartial('qp/hrm/partials/form/search-partner', ['aggs' => $this->data['aggs'], 'main' => 'partner', 'config' => $this->config]); ?>
                </div>
            </div>
        </div>
    </div>
</section>
