<div class="overlay-bg">
    <div class="stage-items__logo">
        <img src="/<?php echo $this->config['portal']; ?>/img/q_orange.svg">
    </div>
</div>
<section class="intro-header--plain <?php echo $this->data['class']; ?>" style="background-image: url(<?php echo $this->data['image']; ?>);">
</section>

<?php
    //\FirePHP::getInstance(true)->info($this->data['items'][0]);
    if (isset($this->data['items'][0]['template'])) {

        if(isset($this->data['items'][0]['headline'])){
            $headline = $this->data['items'][0]['headline'];
        } else {
            $headline = $this->data['headline'];
        }
        $args = [
            'config'   => $this->config,
            'headline' => $headline
        ];
        if(isset($this->data['items'][0]['entity'])) {
            $args['entity'] = $this->data['items'][0]['entity'];
        }
        if(isset($this->data['items'][0]['text'])) {
            $args['text'] = $this->data['items'][0]['text'];
        } else if( isset($this->data['text']) ) {
            $args['text'] = $this->data['text'];
        }
        if(isset($this->data['items'][0]['buttonText'])) {
            $args['buttonText'] = $this->data['items'][0]['buttonText'];
        } else {
            $args['buttonText'] = $this->translate('HRM_SHOW_ALL');
        }
        if(isset($this->data['items'][0]['class'])) {
            $args['class'] = $this->data['items'][0]['class'];
        }
        if(isset($this->data['items'][0]['link']['url'])) {
            $args['link']['url'] = $this->data['items'][0]['link']['url'];
        }
        if(isset($this->data['items'][0]['buttons'])) {
            $args['buttons'] = $this->data['items'][0]['buttons'];
        }
        if(isset($this->data['items'][0]['aggs'])) {
            $args['aggs'] = $this->data['items'][0]['aggs'];
        }

        //\FirePHP::getInstance(true)->info($this->data['items'][0]['template']);
        echo $this->ndPartial($this->data['items'][0]['template'], $args);
    }
?>