<form class="search stylable-select">
    <div class="input-group stylish-input-group">
        <div class="input-group-btn search-filter ">
            <button type="button" class="btn dropdown-small" data-toggle="dropdown">
                <span id="search_concept">Datum</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#Parameter_1">Parameter_1</a></li>
                <li><a href="#Parameter_2">Parameter_2</a></li>
                <li><a href="#Parameter_3">Parameter_3</a></li>
                <li><a href="#Parameter_4">Parameter_4</a></li>
            </ul>
        </div>
    </div>
</form>