<?php
// \FirePHP::getInstance(true)->info($this->data, 'partials/tab-accordion-limited data');

$chunks = array_chunk($this->data['items'], $this->data['limit']);
?>
<div class="tab-accordion__container">
    <div class="tab-accordion tab-accordion--limited tab-accordion--limited-<?php echo $this->data['limit']; ?>">

        <?php foreach($chunks as $items) : ?>

            <ul class="tab-accordion__tabs nav nav-tabs" role="tablist">
                <?php
                $active = isset($item['default_active']) && $item['default_active'];
                foreach ( $items as $key => $item ):
                    $items[$key]["identifier"] = 'tab-' . uniqid(); ?>
                    <li role="presentation"
                        class="<?php echo $active ? 'active' : ''; ?>"
                        style="
                        <?php echo (isset($item['bg_color']) ? 'background-color:'.$item['bg_color'].';' : ''); ?>
                        <?php echo (isset($item['color']) ? 'color:'.$item['color'].';' : ''); ?>
                            "
                    >
                        <div class="tab-accordion__tab__wrapper">
                            <a href="#<?php echo $items[$key]["identifier"]; ?>"
                               aria-controls="<?php echo $items[$key]["identifier"]; ?>"
                               role="tab"
                               data-toggle="tab"
                               class="tab-accordion__tab">
                                <div class="tab-accordion__tab__inner">
                                    <?php echo $item['headline']; ?>
                                </div>
                            </a>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ul>
            <div class="tab-accordion__content tab-content">
                <?php
                $active = isset($item['default_active']) && $item['default_active'];
                foreach ( $items as $item ): ?>
                    <div role="tabpanel" class="tab-pane <?php echo $active ? 'active' : ''; ?>"
                         id="<?php echo $item["identifier"]; ?>">
                        <?php
                        $item['headline_level'] = 4;
                        echo $this->ndPartial('qp/hrm/partials/mobile-accordion', [
                            'data' => $item
                        ]); ?>
                    </div>
                <?php endforeach; ?>
            </div>




        <?php /*echo $this->ndPartial('qp/hrm/partials/tab-accordion', [
            'data' => [
                'items' => $items
            ]
        ]); */?>
        <?php endforeach; ?>
    </div>
</div>
