<div class="tab-accordion__container">
    <?php if(isset($this->data['content']) && !empty($this->data['content'])): ?>
        <div class="accordion__text">
            <?php echo $this->data['content']; ?>
        </div>
    <?php endif; ?>

    <?php //TODO: make process accordion tabs it working
          // - in s as accordion
          // - in m+ as tabs ?>
    <?php if(isset($this->data['items']) && !empty($this->data['items'])): ?>
    <div class="tab-accordion">
        <ul class="tab-accordion__tabs nav nav-tabs" role="tablist">
        <?php
        $active = isset($item['default_active']) && $item['default_active'];
        $items = $this->data['items'];
        foreach ( $this->data['items'] as $key => $item ):
            $items[$key]["identifier"] = 'tab-' . uniqid(); ?>
            <div class="col-m-3 col-12">
                <li role="presentation"
                    class="<?php echo $active ? 'active' : ''; ?>"
                    style="
                    <?php echo (isset($item['bg_color']) ? 'background-color:'.$item['bg_color'].';' : ''); ?>
                    <?php echo (isset($item['color']) ? 'color:'.$item['color'].';' : ''); ?>
                        "
                >
                    <div class="tab-accordion__tab__wrapper">
                        <a href="#<?php echo $items[$key]["identifier"]; ?>"
                           aria-controls="<?php echo $items[$key]["identifier"]; ?>"
                           role="tab"
                           data-toggle="tab"
                           data-tab="<?php echo $key+1;?>"
                           class="tab-accordion__tab">
                            <div class="tab-accordion__tab__inner">
                                <span><?php echo $item['headline']; ?></span>
                            </div>
                        </a>
                    </div>
                </li>
            </div>
        <?php endforeach; ?>
        </ul>
        <div class="tab-accordion__content tab-content">
            <?php
            $active = isset($item['default_active']) && $item['default_active'];
            foreach ( $items as $item ): ?>
                <div role="tabpanel" class="tab-pane <?php echo $active ? 'active' : ''; ?>"
                     id="<?php echo $item["identifier"]; ?>">
                    <?php
                    $item['headline_level'] = 4;
                    echo $this->ndPartial('qp/hrm/partials/mobile-accordion', [
                        'data' => $item
                    ]); ?>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
    <?php endif; ?>

</div>