<?php
$tabs = '';
$tab_content = '';
$first = true;
foreach ($this->data as $item) {
    $tabs .= '<li role="presentation" class="' . ($first ? 'active' : '') . '">
            <a href="#tab_' . $item['id'] . '" aria-controls="tab_' . $item['id'] . '" role="tab" data-toggle="tab">'
            . $item['tab_title']
            . '</a>
        </li>';
    $tab_content .= '<div role="tabpanel" class="tab-pane ' . ($first ? 'active' : '') . '" id="tab_' . $item['id'] . '">'
                        . $item['content']
                        . '</div>';
    $first = false;
}
?>

<div class="tabs tabs--agenda">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <?php echo $tabs; ?>
    </ul>

    <!-- Tab panes -->
    <span class="tab-content">
        <?php echo $tab_content; ?>
    </span>

</div>