<?php if (isset($this->data['tags_p1']) || isset($this->data['tags_sector'])): ?>
    <div class="tags">
        <?php
//            \FirePHP::getInstance(true)->info($this->data);
//            \FirePHP::getInstance(true)->info($this->config);
//            \FirePHP::getInstance(true)->info($this->main);
            $main = $this->serverUrl().'/'.$this->main.'/';
            if (!$this->main) {
                $main = $this->serverUrl().'/';
            }

            $tagList = [];
            if (isset($this->data['tags_p1']['key'])) {
                array_push($tagList, $this->data['tags_p1']);
            }
            if (isset($this->data['tags_p2']['key'])) {
                array_push($tagList, $this->data['tags_p2']);
            }
            if (isset($this->data['tags_p3']['key'])) {
                array_push($tagList, $this->data['tags_p3']);
            }
            $tagCount = count($tagList);

            for ($t = 0; $t < $tagCount; $t++) {
                $url = '';
                if (isset($this->config['tags'][$tagList[$t]['key']])) {
                    $url = $main.$tagList[$t]['url'];
                } else {
                    foreach ($this->config['tags'] as $tagP1 => $tagP1Group) {
                        if (in_array($tagList[$t]['key'], $tagP1Group)) {
                            $url = $main.$this->MakeUrlWorthy($tagP1).'/'.$tagList[$t]['url'];
                        }
                    }
                }
                echo '<a href="'.$url.'" class="tag">#'.$tagList[$t]['key'].'</a>';
            }
        ?>
    </div>
<?php endif; ?>