<div class="teaser_text">
    <?php if ($this->text): ?>
        <?php echo $this->text; ?>
    <?php endif; ?>
    <?php if (isset($this->link)){ ?>
    <a href="<?php echo $this->link; ?>" class="read-more"> <?php echo $this->translate('HRM_READ_MORE'); ?>...</a>
    <?php } ?>
</div>
