<section class="<?php echo $this->data['class']; ?> container">
    <div class="about-hrm">
        <div class="row">
            <div class="col-12">
                <h1 class="headline-with-bottom-border"><?php echo $this->data['headline']?></h1>
            </div>
        </div>
        <div class="row about-hrm__content-row ">
            <div class="col-l-8 col-m-8 col-sm-12 col-xs-12 image-container__full">
                <a href="<?php echo $this->data['image']?>" data-toggle="lightbox"  data-gallery="accordion-gallery">
                    <?php echo $this->ndPartial('qp/hrm/partials/image', [
                        'data' => $this->data['image']
                    ] ); ?>
                    <div class="gallery-media__item__video-icon">
                        <i class="material-icons">play_arrow</i>
                    </div>
                </a>
            </div>
            <div class="col-l-4 col-m-4 col-sm-12 col-xs-12">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
            </div>
        </div>
        <div class="row about-hrm__content-row">
            <div class="col-l-4 col-m-4 col-sm-12 col-xs-12">
                <h2>HRM und Quadriga</h2>
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
            </div>
            <div class="col-l-8 col-m-8 col-sm-12 col-xs-12 image-container__full">
                <?php echo $this->ndPartial('qp/hrm/partials/image', [
                    'data' => $this->data['image']
                ] ); ?>
            </div>
        </div>

    </div>
</section>