<!-- Need to replace videos with this partial when we have real videos-->
<?php if(isset($this->src)) { ?>
<a href="<?php echo $this->src?>" data-toggle="lightbox"  data-gallery="accordion-gallery">
<?php } ?>
    <?php if(isset($this->thumbnail)) { ?>
    <?php echo $this->ndPartial('qp/hrm/partials/image', [
        'data' => $this->thumbnail
    ] ); ?>
    <div class="gallery-media__item__video-icon">
        <i class="material-icons">play_arrow</i>
    </div>
    <?php }?>
</a>