<div class="view-mode">
    <a  id="listView" >
        <i class="material-icons active">view_list</i>
    </a>
    <a  id="gridView" >
        <i class="material-icons">view_module</i>
    </a>
</div>