
<h1><?php echo $this->translate('FORGOT_FORM_HL'); ?></h1>

<div class="intro_box">
    <?php echo $this->translate('FORGOT_INFO_TXT'); ?>
</div>

<?php echo $this->formErrors( $this->messages, $this->form ); ?>

<?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('user-forgot'));
    $form->setAttribute('class', 'form__forgot');
?>

<?php echo $this->form()->openTag($form); ?>
<?php echo $this->partial('qp/common/form-partials/form-row', ['form' => $this->form, 'name' => 'email']); ?>
<div class="row" data-module="CaptchaRefresh">
    <label>
        <div class="col-3 col-offset-1 input-label-align">
            <?php echo $this->translate($form->get('captcha')->getLabel()) ?>
        </div>
        <div class="col-6">
            <?php echo $this->formElement($form->get('captcha')); ?>
        </div>
    </label>
</div>
<?php echo $this->partial('qp/common/form-partials/form-submit', ['form' => $this->form, 'name' => 'submit']); ?>
<?php echo $this->form()->closeTag(); ?>