<div class="col-6">
    <h1 class="col-offset-2">
        <?php echo $this->translate('AUTH_FORM_HL'); ?>
    </h1>
    <?php
        echo $this->formErrors($this->messages, $this->form);
    ?>
    <?php
        $form = $this->form;
        $form->setAttribute('action', $this->url('user-login'));
        $form->setAttribute('class', 'form__signin');
    ?>
    <?php echo $this->form()->openTag($form); ?>
    <?php foreach (['email','password',] as $formElementName): ?>
        <?php echo $this->partial('qp/common/form-partials/form-row', ['form' => $this->form, 'name' => $formElementName]); ?>
    <?php endforeach; ?>
    <div class="row">
        <label>
            <div class="col-3 col-offset-1 input-label-align"></div>
            <div class="col-6">
                <a href="<?php echo $this->url('user-forgot'); ?>">
                    <?php echo $this->translate('AUTH_LOGIN_FORM_FORGOT_MY_PASSWORD'); ?>
                </a>
            </div>
        </label>
    </div>
    <?php echo $this->partial('qp/common/form-partials/form-submit-left', ['form' => $this->form, 'name' => 'submit']); ?>
    <?php echo $this->form()->closeTag(); ?>
</div>
