<h1><?php echo $this->translate('RECOVER_FORM_HL'); ?></h1>

<div class="intro_box">
    <?php echo $this->translate('RECOVER_INFO_TXT'); ?>
</div>

<?php echo $this->formErrors($this->messages, $this->form); ?>

<?php
    $this->form->setAttribute('class', 'form__recover');
    $this->form->setAttribute('action', $this->url('user-recover', [
        'recoverToken' => $this->recoverToken,
    ]));
?>

<?php echo $this->form()->openTag($this->form); ?>
<?php foreach (['password_new','password_repeat',] as $formElementName): ?>
    <?php echo $this->partial('qp/common/form-partials/form-row', ['form' => $this->form, 'name' => $formElementName]); ?>
<?php endforeach; ?>
<?php echo $this->partial('qp/common/form-partials/form-submit', ['form' => $this->form, 'name' => 'submit']); ?>
<?php echo $this->form()->closeTag(); ?>
