<?php
//    \FirePHP::getInstance(true)->info($this->teaser);
?>
<a href="<?php echo $this->data['link']['url']; ?>">
    <div class="content-row__item__overlay" style="background-image: url(<?php echo $this->data['image']; ?>);">
    </div>
</a>