<?php
//    \FirePHP::getInstance(true)->info($this->teaser);
?>
<div class="teaser teaser--call-to-action teaser--background-image" style="background-image: url(<?php echo $this->data['image']; ?>);">
    <div class="teaser__overlay">
        <div class="teaser__inner">
            <h3  class="teaser__inner__headline"><?php echo $this->data['headline']; ?></h3>
            <div  class="teaser__inner__text"><?php echo $this->data['text']; ?></div>

            <div class="row  teaser__inner__cols">
                <div class="col-12 col-m-3 teaser__inner__col">
                    <div class="big-number">1</div>
                    <div class="h3">Produkt auswählen</div>
                    <div class="text">Proin eget tortor risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                </div>
                <div class="numbers-divider hidden-s"></div>

                <div class="col-12 col-m-3 teaser__inner__col">
                    <div class="big-number">2</div>
                    <div class="h3">Stelle online stellen</div>
                    <div class="text">Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. </div>
                </div>
                <div class="numbers-divider hidden-s"></div>

                <div class="col-12 col-m-3  teaser__inner__col">
                    <div class="big-number">3</div>
                    <div class="h3">Bewerber gewinnen</div>
                    <div class="text">Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</div>
                </div>

            </div>

            <?php echo $this->ndPartial('qp/hrm/partials/buttons', [ 'data' => [
                     [
                         'type' => 'marketing',
                         'text' => 'Jetzt Stelle sichern',
                         'href' => '#'
                     ]
                ]
            ]); ?>
        </div>
    </div>
</div>