<?php
//    \FirePHP::getInstance(true)->info($this->teaser);
?>

<div class="teaser teaser--call-to-action teaser--background-image" style="background-image: url(<?php echo $this->data['image']; ?>);">
    <div class="teaser__overlay">
        <div class="teaser__inner">
            <h3  class="teaser__inner__headline"><?php echo $this->data['headline']; ?></h3>
            <div  class="teaser__inner__text"><?php echo $this->data['text']; ?></div>
            <?php if(isset($this->data['buttons'])):
                echo $this->ndPartial('qp/hrm/partials/buttons', [
                    'data' => $this->data['buttons']
                ]);
            endif; ?>
        </div>
    </div>
</div>

