<div class = "col-12">
    <form class="form-global" method="post" action="/events/melden/send" data-fv-framework="bootstrap">

    <!-- Fehlermeldung-->
    <div class="row error-row" hidden>
        <div class="error-row-icon">
            <i class="material-icons">report_problem</i>
        </div>
        <div class="col-9 col-m-6 error-row-text">
            <p><?php echo $this->translate('HRM_FORM_VALIDATION_ERROR_MESSAGE'); ?></p>
        </div>
    </div>

    <!-- Event Title    -->
    <div class="row">
        <div class="col-l-2 col-12 ">
            <label for="title">
                <?php echo $this->translate('HRM_EVENT_FORM_TITLE'); ?>*
            </label>
        </div>
        <div class="col-l-10 col-12">
            <div class="form-element form-group">
                <input type="text"
                       id="title"
                       name="title"
                       class="form-control input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_EVENT_FORM_TITLE_EMPTY'); ?>">
            </div>
        </div>
    </div>

    <!-- Event Type    -->
    <div class="row">
        <div class="col-md-2 col-sm-2 ">
            <label><?php echo $this->translate('HRM_EVENT_FORM_TYPE'); ?>*</label>
        </div>
        <div class="col-md-6 col-sm-6 ">
            <div class="form-element">
                <div class="dropdown">
                    <button class="form-control select dropdown-toggle" type="button" id="additionalType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <?php echo $this->translate('HRM_EVENT_FORM_TYPE_SEMINAR'); ?>
                    </button>
                    <input name="additionalType" class="additionalType" value="<?php echo $this->translate('HRM_EVENT_FORM_TYPE_SEMINAR'); ?>" type="hidden" />
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_SEMINAR'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_TAGUNG'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_E_LEARNING'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_FORUM'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_AWARD'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_KONGRESS'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_GALA'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_FESTIVAL'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_ABENDVERANSTALTUNG'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_MESSE'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_TAG_OFFENE_TUER'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_NETWORKING'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_ONLINE_EVENT'); ?>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li>
                            <a class="dropdown-option" data-parent="additionalType">
                                <?php echo $this->translate('HRM_EVENT_FORM_TYPE_SONSTIGE'); ?>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- From    -->
    <div class="row">
        <div class="col-l-2 col-12 ">
            <label for="from_date">
                <?php echo $this->translate('HRM_EVENT_FORM_DATE_FROM'); ?>*
            </label>
        </div>
        <div class="col-l-2 col-8 ">
            <div class="form-element form-group" >
                <input type="text"
                       id="from_date"
                       name="from_date"
                       class="form-control datepicker input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_EVENT_FORM_DATE_FROM_EMPTY'); ?>">
            </div>
        </div>
        <div class="col-l-1 col-4">
            <i class="date-icon open-fromdatetimepicker datepickericon material-icons">today</i>
        </div>
        <div class="col-l-2 col-12  from-hours">
            <div class="form-element form-group">
                <input type="number"
                       id="from_date_hours"
                       name="from_date_hours"
                       min="00"
                       max="23"
                       size="2"
                       placeholder="<?php echo $this->translate('HRM_EVENT_FORM_HOUR'); ?>"
                       class="form-control input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_EVENT_FORM_HOUR_EMPTY'); ?>"
                >
            </div>
        </div>
        <div class="col-l-2 col-12 from-minutes ">
            <div class="form-element form-group">
                <input type="number"
                       min="00"
                       max="59"
                       size="2"
                       id="from_date_minutes"
                       name="from_date_minutes"
                       placeholder="<?php echo $this->translate('HRM_EVENT_FORM_MINUTES'); ?>"
                       class="form-control input "
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_EVENT_FORM_MINUTES_EMPTY'); ?>"
                >
            </div>
        </div>
        <div class="col-l-3 col-12 filter">
                <div class="checkbox filter__group__item" >
                    <label>
                        <input type="checkbox"
                               id="from_date_full_day"
                               name="from_date_full_day"
                               class="filter__group__item__input from_full_day">
                            <span class="cr">
                                 <i class="cr-icon material-icons">done</i>
                            </span>
                        <?php echo $this->translate('HRM_EVENT_FORM_ALLDAY'); ?>
                    </label>
                </div>
            </div>
    </div>


    <!-- Until    -->
    <div class="row until-row">
        <div class="col-l-2 col-12 ">
            <label for="until_date">
                <?php echo $this->translate('HRM_EVENT_FORM_DATE_UNTIL'); ?>*
            </label>
        </div>
        <div class="col-l-2 col-8 ">
            <div class="form-element form-group">
                <input type="text"
                       id="until_date"
                       name="until_date"
                       class="form-control datepicker input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_EVENT_FORM_DATE_UNTIL_EMPTY'); ?>">
            </div>
        </div>
        <div class="col-l-1 col-4">
            <i class="open-untildatetimepicker date-icon datepickericon material-icons">today</i>
        </div>
        <div class="col-l-2 col-12 until-hours">
            <div class="form-element form-group">
                <input type="number"
                       id="until_date_hours"
                       name="until_date_hours"
                       min="00"
                       max="23"
                       size="2"
                       placeholder="<?php echo $this->translate('HRM_EVENT_FORM_HOUR'); ?>"
                       class="form-control input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_EVENT_FORM_HOUR_EMPTY'); ?>">
            </div>
        </div>
        <div class="col-l-2 col-12 until-minutes ">
            <div class="form-element form-group">
                <input type="number"
                       min="00"
                       max="59"
                       size="2"
                       id="until_date_minutes"
                       name="until_date_minutes"
                       placeholder="<?php echo $this->translate('HRM_EVENT_FORM_MINUTES'); ?>"
                       class="form-control input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_EVENT_FORM_MINUTES_EMPTY'); ?>">
            </div>
        </div>
        <div class="col-l-3 col-12 filter">
            <div class="checkbox filter__group__item" >
                <label>
                    <input type="checkbox"
                           id="until_date_full_day"
                           name="until_date_full_day"
                           class="filter__group__item__input until_full_day">
                    <span class="cr">
                         <i class="cr-icon material-icons">done</i>
                    </span>
                    <?php echo $this->translate('HRM_EVENT_FORM_ALLDAY'); ?>
                </label>
            </div>
        </div>
    </div>


    <!-- Description -->
    <div class="row">
        <div class="col-12">
            <div class="form-element form-group">
            <label for="message"></label>
            <textarea id="message"
                      name="message"
                      placeholder="<?php echo $this->translate('HRM_EVENT_FORM_DESCRIPTION'); ?>"
                      class="form-control message-textarea"
                      data-fv-notempty
                      data-fv-notempty-message="<?php echo $this->translate('HRM_EVENT_FORM_DESCRIPTION_EMPTY'); ?>"></textarea>
            </div>
        </div>
    </div>

    <!-- Checkboxes    -->
    <div class="row check-box-row">
        <div class="col-l-4 col-12 filter">
            <div class="checkbox filter__group__item" >
                <label>
                    <input type="checkbox"
                           name="guest[]"
                           value="register"
                           class="filter__group__item__input">
                            <span class="cr">
                                 <i class="cr-icon material-icons">done</i>
                            </span>
                    <?php echo $this->translate('HRM_EVENT_GUEST_REGISTER'); ?>
                </label>
            </div>
        </div>
        <div class="col-l-4 col-12 filter">
            <div class="checkbox filter__group__item" >
                <label>
                    <input type="checkbox"
                           name="guest[]"
                           value="costs"
                           class="filter__group__item__input">
                            <span class="cr">
                                 <i class="cr-icon material-icons">done</i>
                            </span>
                    <?php echo $this->translate('HRM_EVENT_GUEST_WITH_COSTS'); ?>
                </label>
            </div>
        </div>
        <div class="col-l-4 col-12 filter">
            <div class="checkbox filter__group__item" >
                <label>
                    <input type="checkbox"
                           name="guest[]"
                           value="members"
                           class="filter__group__item__input">
                           <span class="cr">
                             <i class="cr-icon material-icons">done</i>
                           </span>
                    <?php echo $this->translate('HRM_EVENT_GUEST_MEMBERS_ONLY'); ?>
                </label>
            </div>
        </div>
    </div>

    <!-- Host    -->
    <div class="row">
        <div class="col-l-2 col-12 ">
            <label for="host">
                <?php echo $this->translate('HRM_EVENT_FORM_HOST'); ?>*
            </label>
        </div>
        <div class="col-l-10 col-12 ">
            <div class="form-element form-group">
                <input type="text"
                       id="host"
                       name="host"
                       class="form-control input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_EVENT_FORM_HOST_EMPTY'); ?>">
            </div>
        </div>
    </div>

    <!-- Host Location   -->
    <div class="row">
        <div class="col-l-2 col-12 ">
            <label for="location">
                <?php echo $this->translate('HRM_EVENT_FORM_LOCATION'); ?>*
            </label>
        </div>
        <div class="col-l-10 col-12 ">
            <div class="form-element form-group">
                <input type="text"
                       id="location"
                       name="location"
                       class="form-control input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_EVENT_FORM_LOCATION_EMPTY'); ?>">
            </div>
        </div>
    </div>

    <!-- Host Street   -->
    <div class="row">
        <div class="col-l-2 col-12 ">
            <label for="street">
                <?php echo $this->translate('HRM_EVENT_FORM_STREET'); ?>
            </label>
        </div>
        <div class="col-l-10 col-12 ">
            <div class="form-element form-group">
                <input type="text"
                       id="street"
                       name="street"
                       class="form-control input">
            </div>
        </div>
    </div>

    <!-- Host PLZ   -->
    <div class="row">
        <div class="col-l-2 col-12 ">
            <label for="plz">
                <?php echo $this->translate('HRM_EVENT_FORM_PLZ'); ?>
            </label>
        </div>
        <div class="col-l-10 col-12 ">
            <div class="form-element form-group">
                <input type="text"
                       id="plz"
                       name="plz"
                       class="form-control input">
            </div>
        </div>
    </div>

    <!-- Partner   -->
    <div class="row">
        <div class="col-l-2 col-12 ">
            <label for="partner">
                <?php echo $this->translate('HRM_EVENT_FORM_PARTNER'); ?>*
            </label>
        </div>
        <div class="col-l-10 col-12 ">
            <div class="form-element form-group">
                <input type="text"
                       id="partner"
                       name="partner"
                       class="form-control input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_EVENT_FORM_PARTNER_EMPTY'); ?>">
            </div>
        </div>
    </div>

    <!-- Tel   -->
    <div class="row">
        <div class="col-l-2 col-12 ">
            <label for="tel">
                <?php echo $this->translate('HRM_EVENT_FORM_TEL'); ?>
            </label>
        </div>
        <div class="col-l-10 col-12 ">
            <div class="form-element form-group">
                <input type="text"
                       id="tel"
                       name="tel"
                       class="form-control input">
            </div>
        </div>
    </div>


    <!-- Email   -->
    <div class="row">
        <div class="col-l-2 col-12 ">
            <label for="email">
                <?php echo $this->translate('HRM_EVENT_FORM_EMAIL'); ?>*
            </label>
        </div>
        <div class="col-l-10 col-12 ">
            <div class="form-element form-group">
                <input type="text"
                       id="email"
                       name="email"
                       class="form-control input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_MAIL'); ?>"
                       data-fv-emailaddress
                       data-fv-emailaddress-message="<?php echo $this->translate('HRM_CONTACT_ERROR_VALIDMAIL'); ?>">
            </div>
        </div>
    </div>





    <!-- Absenden    -->
    <div class="row">
        <div class="col-md-6 col-sm-6 ">
            <div class="form-element">
                <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                    'config' => $this->config,
                    'data' => [
                        [
                            'type' => 'info',
                            'text' => $this->translate('HRM_FORM_SUBMIT'),
                            'attr' => [
                                'type' => 'submit',
                            ]
                        ]
                    ]
                ]); ?>
            </div>
        </div>
    </div>

    <!-- Pflichtfeld    -->
    <div class="row">
        <div class="col-md-6 col-sm-6 ">
            <div class="form-element">
                <p class="grey-text">Pflichfeld<span>*</span></p>
            </div>
        </div>
    </div>
</form>
</div>

