<form class="header-search global-js-search" data-search-route="<?php echo $this->serverUrl().'/'; ?>">
    <div class="row">
        <div class="header-search__inputs hide">
            <?php echo $this->ndPartial('qp/hrm/partials/form/element/select-global', ['class' => 'header-search__select']); ?>
            <div class="header-search__field input-group">
                <?php echo $this->ndPartial('qp/hrm/partials/form/element/input-global', ['config' => $this->config]); ?>
            </div>
        </div>
        <div class="header-search__submit input-group stylish-input-group">
            <span class="input-group-addon submit  ">
                <i class="material-icons">search</i>
            </span>
        </div>
    </div>
</form>