<form class="search search-main-header global-js-search" data-search-route="<?php echo $this->serverUrl().'/'; ?>">
    <div class="input-group stylish-input-group">
        <div class="input-group-btn search-filter ">
            <?php echo $this->ndPartial('qp/hrm/partials/form/element/select-global', ['class' => '']); ?>
        </div>
        <?php echo $this->ndPartial('qp/hrm/partials/form/element/input-global', ['config' => $this->config]); ?>
        <span class="input-group-addon submit">
            <i class="material-icons">search</i>
        </span>
    </div>
</form>
