<div class = "col-12">
    <form class="form-global" method="post" action="/kontakt/send" >

        <!-- Fehlermeldung-->
        <div class="row error-row" hidden>
            <div class="error-row-icon">
                <i class="material-icons">report_problem</i>
            </div>
            <div class="col-9 error-row-text">
                <p><?php echo $this->translate('HRM_FORM_VALIDATION_ERROR_MESSAGE'); ?></p>
            </div>
        </div>

        <!-- Bestätigung HIDDEN must be shown in place of the form on successful post-->
        <div class="row success-row" hidden>
            <div class="success-row-icon">
                <i class="material-icons">done</i>
            </div>
            <div class="col-9 success-row-text">
                <p><?php echo $this->translate('HRM_FORM_DONE_MESSAGE'); ?></p>
            </div>
        </div>
        <!-- Bestätigung -->

        <!-- Anrede    -->
        <div class="row">
            <div class="col-2">
                <label><?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_TITLE'); ?>*</label>
            </div>
            <div class="col-10">
                <div class="form-element">
                    <div class="dropdown">
                        <button class="form-control select dropdown-toggle" type="button" id="salutation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <?php echo $this->translate('HRM_CONTACT_SALUTATION_MALE'); ?>
                        </button>
                        <input name="salutation" class="salutation" value="<?php echo $this->translate('HRM_CONTACT_SALUTATION_MALE'); ?>" type="hidden" />
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-option" data-parent="salutation">
                                    <?php echo $this->translate('HRM_CONTACT_SALUTATION_MALE'); ?>
                                </a>
                            </li>
                            <li class="divider" role="separator"></li>
                            <li>
                                <a class="dropdown-option" data-parent="salutation">
                                    <?php echo $this->translate('HRM_CONTACT_SALUTATION_FEMALE'); ?>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Vorname    -->
        <div class="row">
            <div class="col-2 ">
                <label for="firstname">
                    <?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_NAME'); ?>*
                </label>
            </div>
            <div class="col-10 ">
                <div class="form-element form-group">
                    <input type="text"
                           id="firstname"
                           name="firstname"
                           class="form-control input"
                           data-fv-notempty
                           data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME'); ?>"
                           data-fv-stringlength-min="2"
                           data-fv-stringlength-max="255"
                           data-fv-stringlength-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME_LENGTH'); ?>">
                </div>
            </div>
        </div>

        <!-- Name    -->
        <div class="row">
            <div class="col-2">
                <label for="lastname">
                    <?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_LASTNAME'); ?>*
                </label>
            </div>
            <div class="col-10">
                <div class="form-element form-group">
                    <input type="text"
                           id="lastname"
                           name="lastname"
                           class="form-control input"
                           data-fv-notempty
                           data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_LASTNAME'); ?>"
                           data-fv-stringlength-min="2"
                           data-fv-stringlength-max="255"
                           data-fv-stringlength-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME_LENGTH'); ?>">
                </div>
            </div>
        </div>

        <!-- E-Mail    -->
        <div class="row">
            <div class="col-2">
                <label for="email">
                    <?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_EMAIL'); ?>*
                </label>
            </div>
            <div class="col-10">
                <div class="form-element form-group">
                    <input type="text"
                           id="email"
                           name="email"
                           class="form-control input"
                           data-fv-notempty
                           data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_MAIL'); ?>"
                           data-fv-emailaddress
                           data-fv-emailaddress-message="<?php echo $this->translate('HRM_CONTACT_ERROR_VALIDMAIL'); ?>"
                    >
                </div>
            </div>
        </div>

        <!-- Telefon    -->
        <div class="row">
            <div class="col-2">
                <label for="tel">
                    <?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_TEL'); ?>*
                </label>
            </div>
            <div class="col-10">
                <div class="form-element form-group">
                    <input type="text"
                           id="tel"
                           name="tel"
                           class="form-control input"
                           aria-describedby="basic-addon1"
                           data-fv-notempty
                           data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_TEL'); ?>"
                           data-fv-regexp="true"
                           data-fv-regexp-regexp="^[0-9-+\.]+$"
                           data-fv-regexp-message="<?php echo $this->translate('HRM_CONTACT_ERROR_VALIDTEL'); ?>"
                    >
                </div>
            </div>
        </div>

        <!-- Firma    -->
        <div class="row">
            <div class="col-2">
                <label for="company">
                    <?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_COMPANY'); ?>
                </label>
            </div>
            <div class="col-10">
                <div class="form-element form-group">
                    <input type="text"
                           id="company"
                           name="company"
                           class="form-control input"
                           aria-describedby="basic-addon1"
                    >
                </div>
            </div>
        </div>

        <!-- Position    -->
        <div class="row">
            <div class="col-2">
                <label for="position">
                    <?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_POSITION'); ?>
                </label>
            </div>
            <div class="col-10">
                <div class="form-element form-group">
                    <input type="text"
                           id="position"
                           name="position"
                           class="form-control input"
                           aria-describedby="basic-addon1"
                    >
                </div>
            </div>
        </div>

        <!-- Anliegen    -->
        <div class="row">
            <div class="col-2">
                <label><?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_REQUEST'); ?>*</label>
            </div>
            <div class="col-10">
                <div class="form-element">
                    <div class="dropdown">
                        <button id="request" class="form-control select dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <?php echo $this->translate('HRM_CONTACT_REQUEST_1'); ?>
                        </button>
                        <input name="request" class="request" value="<?php echo $this->translate('HRM_CONTACT_REQUEST_1'); ?>" type="hidden" />
                        <ul  class="dropdown-menu" >
                            <li>
                                <a class="dropdown-option" data-parent="request">
                                    <?php echo $this->translate('HRM_CONTACT_REQUEST_1'); ?>
                                </a>
                            </li>
                            <li class="divider" role="separator"></li>
                            <li>
                                <a class="dropdown-option" data-parent="request">
                                    <?php echo $this->translate('HRM_CONTACT_REQUEST_2'); ?>
                                </a>
                            </li>
                            <li class="divider" role="separator"></li>
                            <li>
                                <a class="dropdown-option" data-parent="request">
                                    <?php echo $this->translate('HRM_CONTACT_REQUEST_3'); ?>
                                </a>
                            </li>
                            <li class="divider" role="separator"></li>
                            <li>
                                <a class="dropdown-option" data-parent="request">
                                    <?php echo $this->translate('HRM_CONTACT_REQUEST_4'); ?>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nachricht    -->
        <div class="row">
            <div class="col-2">
                <label for="message">
                    <?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_MESSAGE'); ?>*
                </label>
            </div>
            <div class="col-8">
                <div class="form-element form-group">
                <textarea id="message"
                          name="message"
                          class="form-control message-textarea"
                          data-fv-notempty
                          data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_MESSAGE'); ?>">
                </textarea>
                </div>
            </div>
        </div>

        <!-- Absenden    -->
        <div class="row">
            <div class="col-8">
                <div class="form-element">
                    <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                        'config' => $this->config,
                        'data' => [
                            [
                                'type' => 'info',
                                'text' => $this->translate('HRM_FORM_SUBMIT'),
                                'attr' => [
                                    'type' => 'submit',
                                ]
                            ]
                        ]
                    ]); ?>
                </div>
            </div>
        </div>

        <!-- Pflichtfeld    -->
        <div class="row">
            <div class="col-8">
                <div class="form-element">
                    <p class="grey-text">Pflichfeld<span>*</span></p>
                </div>
            </div>
        </div>
    </form>
</div>

