<?php
/**
 * Created by PhpStorm.
 * User: ahaddad
 * Date: 11.04.2017
 * Time: 12:09
 */
?>

<form class="form-global form-global--magazin-abo" method="post" action="" data-fv-framework="bootstrap">

    <!-- Fehlermeldung-->
    <div class="row error-row" hidden>
        <div class="error-row-icon">
            <i class="material-icons">report_problem</i>
        </div>
        <div class="col-9 col-m-6 error-row-text">
            <p><?php echo $this->translate('HRM_FORM_VALIDATION_ERROR_MESSAGE'); ?></p>
        </div>
    </div>


    <!-- Selected Abo  -->
    <div class="row">
        <div class="col-12">
            <div class="form-element">
                <p>
                    Ich habe das <span class="abo-type">Standard-Abo</span> ausgewählt.<br>
                    Schicken Sie mir bitte das Magazin Human Resources Manager an die folgende Adresse.
                </p>
            </div>
        </div>
    </div>


    <!-- Vorname    -->
    <div class="row">
        <div class="col-12 col-l-8">
            <div class="form-element form-group">
                <input type="text"
                       id="firstname"
                       name="firstname"
                       placeholder="<?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_NAME'); ?>*"
                       class="form-control input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME'); ?>"
                       data-fv-stringlength-min="2"
                       data-fv-stringlength-max="255"
                       data-fv-stringlength-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME_LENGTH'); ?>">
            </div>
        </div>
    </div>

    <!-- Name    -->
    <div class="row">
        <div class="col-12 col-l-8">
            <div class="form-element form-group">
                <input type="text"
                       id="lastname"
                       name="lastname"
                       placeholder="<?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_LASTNAME'); ?>*"
                       class="form-control input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_LASTNAME'); ?>"
                       data-fv-stringlength-min="2"
                       data-fv-stringlength-max="255"
                       data-fv-stringlength-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME_LENGTH'); ?>">
            </div>
        </div>
    </div>

    <!-- Firma    -->
    <div class="row">
        <div class="col-12 col-l-8">
            <div class="form-element form-group">
                <input type="text"
                       id="company"
                       name="company"
                       placeholder="<?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_COMPANY'); ?>"
                       class="form-control input"
                       aria-describedby="basic-addon1"
                >
            </div>
        </div>
    </div>

    <!-- Position    -->
    <div class="row">
        <div class="col-12 col-l-8">
            <div class="form-element form-group">
                <input type="text"
                       id="position"
                       name="position"
                       placeholder="<?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_POSITION'); ?>"
                       class="form-control input"
                       aria-describedby="basic-addon1"
                >
            </div>
        </div>
    </div>

    <!-- Straße    -->
    <div class="row">
        <div class="col-12 col-l-8">
            <div class="form-element form-group">
                <input type="text"
                       id="street"
                       name="street"
                       placeholder="Straße & Hausnummer*"
                       class="form-control input"
                       aria-describedby="basic-addon1"
                       data-fv-notempty
                       data-fv-notempty-message="Bitte geben Sie Ihre Straße ein"
                >
            </div>
        </div>
    </div>

    <!-- Postleitzahl    -->
    <div class="row">
        <div class="col-12 col-l-8">
            <div class="form-element form-group">
                <input type="text"
                       id="post"
                       name="post"
                       placeholder="Postleitzahl*"
                       class="form-control input"
                       aria-describedby="basic-addon1"
                       data-fv-notempty
                       data-fv-notempty-message="Bitte geben Sie Ihre Postleitzahl ein"
                >
            </div>
        </div>
    </div>

    <!-- Ort    -->
    <div class="row">
        <div class="col-12 col-l-8">
            <div class="form-element form-group">
                <input type="text"
                       id="place"
                       name="place"
                       placeholder="Ort*"
                       class="form-control input"
                       aria-describedby="basic-addon1"
                       data-fv-notempty
                       data-fv-notempty-message="Bitte geben Sie einen Ort ein"
                >
            </div>
        </div>
    </div>


    <!-- E-Mail    -->
    <div class="row">
        <div class="col-12 col-l-8">
            <div class="form-element form-group">
                <input type="text"
                       id="email"
                       name="email"
                       placeholder="<?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_EMAIL'); ?>*"
                       class="form-control input"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_MAIL'); ?>"
                       data-fv-emailaddress
                       data-fv-emailaddress-message="<?php echo $this->translate('HRM_CONTACT_ERROR_VALIDMAIL'); ?>"
                >
            </div>
        </div>
    </div>

    <!-- Telefon    -->
    <div class="row">
        <div class="col-12 col-l-8">
            <div class="form-element form-group">
                <input type="text"
                       id="tel"
                       name="tel"
                       class="form-control input"
                       placeholder="<?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_TEL'); ?>*"
                       aria-describedby="basic-addon1"
                       data-fv-notempty
                       data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_TEL'); ?>"
                       data-fv-regexp="true"
                       data-fv-regexp-regexp="^[0-9-+\.]+$"
                       data-fv-regexp-message="<?php echo $this->translate('HRM_CONTACT_ERROR_VALIDTEL'); ?>"
                >
            </div>
        </div>
    </div>

    <!-- Fax    -->
    <div class="row">
        <div class="col-12 col-l-8">
            <div class="form-element form-group">
                <input type="text"
                       id="fax"
                       name="fax"
                       class="form-control input"
                       placeholder="Fax*"
                       aria-describedby="basic-addon1"
                       data-fv-notempty
                       data-fv-notempty-message="Bitte geben Sie Ihre Faxnummer ein"
                       data-fv-regexp="true"
                       data-fv-regexp-regexp="^[0-9-+\.]+$"
                       data-fv-regexp-message="Bitte geben eine gültige Faxnummer ein"
                >
            </div>
        </div>
    </div>

    <!-- Alternative Rechnungsadresse    -->
    <div class="row check-box-row">
        <div class="col-l-9 col-12 filter checkbox-col">
            <div class="form-element radio" >
                <div class="row">
                    <div class="col-12">
                        <p class="radio__label">
                            Haben Sie eine alternative Rechnungsadresse?
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <input type="radio" class='alt-adresse-no' name="alternative[]" value="Nein" /> Nein
                    </div>
                    <div class="col-3">
                        <input type="radio" class='alt-adresse-yes' name="alternative[]" value="Ja" /> Ja
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Alternative Rechnungsadresse Form -->
    <div class="alt-adresse-form" hidden>

        <!-- Vorname    -->
        <div class="row">
            <div class="col-12 col-l-8">
                <div class="form-element form-group">
                    <input type="text"
                           id="alt-firstname"
                           name="alt-firstname"
                           placeholder="<?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_NAME'); ?>*"
                           class="form-control input"
                           data-fv-notempty
                           data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME'); ?>"
                           data-fv-stringlength-min="2"
                           data-fv-stringlength-max="255"
                           data-fv-stringlength-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME_LENGTH'); ?>">
                </div>
            </div>
        </div>

        <!-- Name    -->
        <div class="row">
            <div class="col-12 col-l-8">
                <div class="form-element form-group">
                    <input type="text"
                           id="alt-lastname"
                           name="alt-lastname"
                           placeholder="<?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_LASTNAME'); ?>*"
                           class="form-control input"
                           data-fv-notempty
                           data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_LASTNAME'); ?>"
                           data-fv-stringlength-min="2"
                           data-fv-stringlength-max="255"
                           data-fv-stringlength-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME_LENGTH'); ?>">
                </div>
            </div>
        </div>

        <!-- Firma    -->
        <div class="row">
            <div class="col-12 col-l-8">
                <div class="form-element form-group">
                    <input type="text"
                           id="alt-company"
                           name="alt-company"
                           placeholder="<?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_COMPANY'); ?>"
                           class="form-control input"
                           aria-describedby="basic-addon1"
                    >
                </div>
            </div>
        </div>

        <!-- Position    -->
        <div class="row">
            <div class="col-12 col-l-8">
                <div class="form-element form-group">
                    <input type="text"
                           id="alt-position"
                           name="alt-position"
                           placeholder="<?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_POSITION'); ?>"
                           class="form-control input"
                           aria-describedby="basic-addon1"
                    >
                </div>
            </div>
        </div>

        <!-- Straße    -->
        <div class="row">
            <div class="col-12 col-l-8">
                <div class="form-element form-group">
                    <input type="text"
                           id="alt-street"
                           name="alt-street"
                           placeholder="Straße & Hausnummer*"
                           class="form-control input"
                           aria-describedby="basic-addon1"
                           data-fv-notempty
                           data-fv-notempty-message="Bitte geben Sie Ihre Straße ein"
                    >
                </div>
            </div>
        </div>

        <!-- Postleitzahl    -->
        <div class="row">
            <div class="col-12 col-l-8">
                <div class="form-element form-group">
                    <input type="text"
                           id="alt-post"
                           name="alt-post"
                           placeholder="Postleitzahl*"
                           class="form-control input"
                           aria-describedby="basic-addon1"
                           data-fv-notempty
                           data-fv-notempty-message="Bitte geben Sie Ihre Postleitzahl ein"
                    >
                </div>
            </div>
        </div>

        <!-- Ort    -->
        <div class="row">
            <div class="col-12 col-l-8">
                <div class="form-element form-group">
                    <input type="text"
                           id="alt-place"
                           name="alt-place"
                           placeholder="Ort*"
                           class="form-control input"
                           aria-describedby="basic-addon1"
                           data-fv-notempty
                           data-fv-notempty-message="Bitte geben Sie einen Ort ein"
                    >
                </div>
            </div>
        </div>
    </div>


    <!-- More Info    -->
    <div class="row">
        <div class="col-12">
            <div class="form-element">
                <p>Mit Abschluss des Bestellvorgangs willigen Sie ein, von der Quadriga Media Berlin GmbH per E-mail über aktuelle Angebote zum Thema "Human Resources"
                    informiert zu werden. Diese Einwilligung können Sie jederzeit mit einer E-mail an <a href="mailto:info@quadriga-media.com" target="_top">info@quadriga-media.com</a> widerrufen. Wümschen Sie keine
                    Informationen per E-Mail, können Sie diesen Service über einen Link in unserem Newsletter jederzeit abbestellen.
                </p>
            </div>
        </div>
    </div>

    <!-- Confirm AGB    -->
    <div class="row check-box-row">
        <div class="col-l-9 col-12 filter checkbox-col">
            <div class="checkbox form-element" >
                <label>
                    <input type="checkbox"
                           name="agb[]"
                           value="checked"
                           data-fv-choice="true"
                           data-fv-choice-min=1
                           data-fv-excluded="false"
                           data-fv-choice-message="Bitte Bestätigen Sie Ihre Auswahl"
                    >

                    <span class="cr">
                        <i class="cr-icon material-icons">done</i>
                    </span>
                </label>
                <p>
                    Ich möchte das Magazin Human Resources Manager abonnieren <span class="magazin-abo-type">(<span class="abo-type">Standard</span> - <span class="abo-price">79</span> Euro/Jahr, 6 Ausgaben pro Jahr</span> und akzeptiere die <a href="/agb">Allgemeinen Geschäftsbedingungen</a>. *
                </p>

            </div>
        </div>
    </div>

    <!-- More Link    -->
    <div class="row">
        <div class="col-12">
            <div class="form-element">
                <p class="more-info-link">
                    <a> Weitere Informationen und Widerrufshinweis</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Pflichtfeld    -->
    <div class="row">
        <div class="col-12">
            <div class="form-element">
                <p><span>*</span>Pflichfeld</p>
            </div>
        </div>
    </div>

    <!-- Absenden    -->
    <div class="row">
        <div class="col-12 col-l-6">
            <div class="form-element">
                <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                    'config' => $this->config,
                    'data' => [
                        [
                            'type' => 'order',
                            'text' => 'Kostenpflichtig bestellen',
                            'attr' => [
                                'type' => 'submit',
                            ]
                        ]
                    ]
                ]); ?>
            </div>
        </div>
    </div>



</form>