<div class = "col-12">

    <div class="row">
        <h2 class="headline-with-bottom-border">
            <?php echo $this->translate('HRM_NEWSLETTER_SUBSCRIBE'); ?>
        </h2>
    </div>

    <form class="form-global" method="post" action="/newsletter/send" data-fv-framework="bootstrap">


        <!-- Fehlermeldung-->
        <div class="row error-row" hidden>
            <div class="error-row-icon">
                <i class="material-icons">report_problem</i>
            </div>
            <div class="col-9 col-m-6 error-row-text">
                <p><?php echo $this->translate('HRM_FORM_VALIDATION_ERROR_MESSAGE'); ?></p>
            </div>
        </div>

        <div class="form-group">
            <div class="row check-box-row ">
                <div class="col-l-8 col-12 filter checkbox-col">
                    <div class="checkbox form-element">
                        <label>
                            <input type="checkbox"
                                   name="nl[]"
                                   value="23"
                                   data-fv-choice="true"
                                   data-fv-choice-min="1"
                                   data-fv-excluded="false"
                                   data-fv-choice-message="<?php echo $this->translate('HRM_CONTACT_ERROR_CHOICE'); ?>"
                            >
                            <span class="cr">
                                <i class="cr-icon material-icons">done</i>
                            </span>
                            <?php echo $this->translate('HRM_NEWSLETTER_SUBSCRIBE_DESC_HRM'); ?>
                        </label>

                    </div>
                </div>
            </div>
            <div class="row check-box-row">
                <div class="col-l-8 col-12 filter checkbox-col">
                    <div class="checkbox form-element" >
                        <label>
                            <input type="checkbox"
                                   name="nl[]"
                                   value="21"
                                   data-fv-excluded="false"
                            >
                            <span class="cr">
                                <i class="cr-icon material-icons">done</i>
                            </span>
                            <?php echo $this->translate('HRM_NEWSLETTER_SUBSCRIBE_DESC_PZ'); ?>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row check-box-row">
                <div class="col-l-8 col-12 filter checkbox-col">
                    <div class="checkbox form-element">
                        <label>
                            <input type="checkbox"
                                   name="nl[]"
                                   value="22"
                                   data-fv-excluded="false"
                            >
                            <span class="cr">
                                <i class="cr-icon material-icons">done</i>
                            </span>
                            <?php echo $this->translate('HRM_NEWSLETTER_SUBSCRIBE_DESC_HR_WORK'); ?>
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <br>
        <br>
        <div class="row">
            <div class="col-3 col-m-1 ">
                <label for="firstname">
                    <?php echo $this->translate('HRM_NEWSLETTER_FORM_FIRST_NAME'); ?>*
                </label>
            </div>
            <div class="col-9">
                <div class="form-element form-group">
                    <input type="text"
                           id="firstname"
                           name="firstname"
                           class="form-control input"
                           data-fv-notempty
                           data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME'); ?>"
                           data-fv-stringlength-min="2"
                           data-fv-stringlength-max="255"
                           data-fv-stringlength-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME_LENGTH'); ?>">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 col-m-1">
                <label for="lastname">
                    <?php echo $this->translate('HRM_NEWSLETTER_FORM_LAST_NAME'); ?>*
                </label>
            </div>
            <div class="col-9">
                <div class="form-element form-group">
                    <input type="text"
                           id="lastname"
                           name="lastname"
                           class="form-control input"
                           data-fv-notempty
                           data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_LASTNAME'); ?>"
                           data-fv-stringlength-min="2"
                           data-fv-stringlength-max="255"
                           data-fv-stringlength-message="<?php echo $this->translate('HRM_CONTACT_ERROR_NAME_LENGTH'); ?>">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-m-1">
                <label for="email">
                    <?php echo $this->translate('HRM_NEWSLETTER_FORM_EMAIL'); ?>*
                </label>
            </div>
            <div class="col-9">
                <div class="form-element form-group">
                    <input type="text"
                           id="email"
                           name="email"
                           class="form-control input"
                           data-fv-notempty
                           data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_MAIL'); ?>"
                           data-fv-emailaddress
                           data-fv-emailaddress-message="<?php echo $this->translate('HRM_CONTACT_ERROR_VALIDMAIL'); ?>">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-l-12 col-12">

                <div class="form-element">
                    <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                        'config' => $this->config,
                        'data' => [
                            [
                                'type' => 'info',
                                'text' => $this->translate('HRM_FORM_SUBMIT'),
                                'attr' => [
                                    'type' => 'submit'
                                ]
                            ]
                        ]
                    ]); ?>
                </div>
            </div>
        </div>
    </form>
</div>

