<form class="stage-js-search" data-search-route="<?php echo $this->serverUrl().'/'.$this->main.'/'; ?>">
    <div class=" row begin ">
        <div class="col-m-5 col-12">
            <?php echo $this->ndPartial('qp/hrm/partials/form/element/input-topic', ['aggs' => $this->aggs]); ?>
        </div>
        <div class="col-m-5 col-12">
            <?php echo $this->ndPartial('qp/hrm/partials/form/element/select-industry', ['aggs' => $this->aggs]); ?>
        </div>
        <div class="col-m-1 col-12">
            <div class="input-group stylish-input-group">
                <span class="input-group-addon submit ">
                    <i class="material-icons">search</i>
                </span>
            </div>
        </div>
    </div>
</form>