<div class = "col-12">
    <form class="form-global" method="post" action="/kontakt/send">

        <!-- Fehlermeldung-->
        <div class="row error-row" hidden>
            <div class="error-row-icon">
                <i class="material-icons">report_problem</i>
            </div>
            <div class="col-9 col-m-6 error-row-text">
                <p><?php echo $this->translate('HRM_FORM_VALIDATION_ERROR_MESSAGE'); ?></p>
            </div>
        </div>

        <!-- E-Mail    -->
        <div class="row">
            <div class="col-4 col-m-2 ">
                <label for="email">
                    <?php echo $this->translate('HRM_CONTACT_PLACEHOLDER_EMAIL'); ?>*
                </label>
            </div>
            <div class="col-8">
                <div class="form-element form-group">
                    <input type="text"
                           id="email"
                           name="email"
                           class="form-control input"
                           data-fv-notempty
                           data-fv-notempty-message="<?php echo $this->translate('HRM_CONTACT_ERROR_MAIL'); ?>"
                           data-fv-emailaddress
                           data-fv-emailaddress-message="<?php echo $this->translate('HRM_CONTACT_ERROR_VALIDMAIL'); ?>"
                    >
                </div>
            </div>
        </div>

        <!-- Absenden    -->
        <div class="row">
            <div class="col-m-6 col-12">
                <div class="form-element">
                    <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                        'config' => $this->config,
                        'data' => [
                            [
                                'type' => 'info',
                                'text' => $this->translate('HRM_FORM_SUBMIT'),
                                'attr' => [
                                    'type' => 'submit',
                                ]
                            ]
                        ]
                    ]); ?>
                </div>
            </div>
        </div>
    </form>
</div>

