<?php echo $this->partial('qp/common/layout/header-mobile-nav', ['nav' => $this->nav, 'config' => $this->config['config']]); ?>

<main id="panel" class="site-404">
    <?php echo $this->partial('qp/common/layout/header', ['nav' => $this->nav, 'config' => $this->config['config']]); ?>
    <?php echo $this->partial('qp/hrm/partials/stage-plain', ['data' => ['image' => '/'.$this->config['config']['portal'].'/img/404.jpg', 'class' => '', 'headline' => '', 'items' => [0 => ['template' => 'qp/hrm/partials/stage-items/home-stage-items']]]]) ?>
    <p class="info-404">
        4
        <img src="/<?php echo $this->config['config']['portal']; ?>/img/q_blau.svg">
        4
        <br>
        <span>
            <?php echo $this->translate('COMMON_MESSAGE_404'); ?>
        </span>
    </p>
</main>
<div class="site-404">
    <?php echo $this->partial('qp/common/layout/footer', ['nav' => $this->nav, 'config' => $this->config['config']]); ?>
</div>

<!--Global Modal-->
<?php echo $this->partial('qp/hrm/partials/modal-global') ?>

