        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
            <h4 class="modal-title" id="expert-label-<?php echo $this->data['id']; ?>">Kontakt</h4>
        </div>
        <div class="modal-body modal-kontakt">
            <div class="row">
                <div class="col-12">
                    <p><?php echo $this->text ?></p>
                    <?php echo $this->ndPartial('qp/hrm/partials/form/kontakt-form-modal'); ?>
                </div>
            </div>
        </div>
        <div class="modal-footer"></div>
