        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
            <h4 class="modal-title" id="expert-label-<?php echo $this->data['id']; ?>">Expert</h4>
        </div>
        <div class="modal-body">
            <div class="search-item__caption__image">
                <?php echo $this->ndPartial('qp/hrm/partials/image', [
                    'data' => $this->data['image']
                ]); ?>
            </div>
            <div class="search-item__caption__detail col-10">
                <div class="search-item__caption__experte__name">
                    <?php echo $this->data['name']; ?>
                </div>
                <div class="search-item__caption__experte__firma">
                    <?php echo $this->data['jobTitle'] . ' - ' . $this->data['worksFor']; ?>
                </div>
                <p><?php echo $this->data['description']; ?><a href="<?php echo $this->data['url']; ?>"> <?php echo $this->translate('HRM_AGENDA_MORE_BUTTON') ; ?></a></p>
            </div>
        </div>
        <div class="modal-footer">
<!--                    --><?php //echo $this->ndPartial('qp/hrm/partials/buttons', [
//                        'config' => $this->config,
//                        'data' => [
//                            [
//                                'type' => 'info',
//                                'text' => $this->translate('HRM_READ_MORE'),
//                                'attr' => [
//                                    'href' => [ '#' ],
//                                ]
//                            ]
//                        ]
//                    ]); ?>
        </div>
