<?php echo $this->partial('qp/hrm/partials/stage-plain', ['data' => ['image' => '/hrm/img/hero_bild_1500px.jpg', 'class' => '']]); ?>
<?php $text = '<span class="">'
                .$this->config['endPoint']['_subTitle'].'
              </span><br />
              <span class="">'
                .$this->config['endPoint']['_address']['streetAddress'].', '
                .$this->config['endPoint']['_address']['postalCode'].' '
                .$this->config['endPoint']['_address']['addressLocality'].',<br />'
                .$this->config['endPoint']['_address']['addressCountry'].'
              </span><br />
              <span class="">
                <a href="'.$this->config['endPoint']['website'].'">'
                 .$this->config['endPoint']['website'].'
                </a>
              </span>';
?>


<?php echo $this->partial('qp/hrm/partials/stage-items/headline-subline', ['headline' => $this->config['endPoint']['name'], 'text' => $text]); ?>

<section class="container detail">

    <?php echo $this->partial('qp/hrm/partials/detail__main-info',[
        'config' => $this->config,
        'buttons' => [
            [
                'type' => 'info',
                'text' => $this->translate('HRM_FOLLOW'),
                'attr' => [
                    'href' => [ '#' ],
                ]
            ],
            [
                'type' => 'marketing',
                'text' => $this->translate('HRM_CONTACT_ME'),
                'attr' => [
                    'href' => [ '#' ],
                ]
            ]
        ]
    ]); ?>


    <?php
    // -------------------------------------------------------------------------
    //  Accordion start
    // -------------------------------------------------------------------------
        $sections = '';
        foreach ($this->config['endPoint']['tags_sector'] as $section) {
            $sections .= '<li>'.$section.'</li>';
        }
        $items = [
            [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_COMPANY_HEADLINE_PROFILE'),
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-profil',
                'data'     => [
                    'headline_person'  => $this->translate('HRM_COMPANY_HEADLINE_PROFILE_ABOUT').' '.$this->config['endPoint']['name'],
                    'description'      => '<p>'.$this->config['endPoint']['description'].'</p>',
                    'headline_section' => $this->translate('HRM_COMPANY_HEADLINE_PROFILE_SECTION'),
                    'sections'         => '<ul>'.$sections.'</ul>',
                ]
            ]
        ];
        if (isset($this->config['endPoint']['keyFacts'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_COMPANY_HEADLINE_FACTS'),
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-definition-list',
                'data'     => [
                    'items' => $this->config['endPoint']['keyFacts']
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['whitePapers'])) {
            $subItems = [];
            foreach ($this->config['endPoint']['whitePapers'] as $whitePaper) {
                $subItems[] = [
                    'id'       => uniqid(),
                    'headline' => $whitePaper['name'],
                    'partial'  => 'qp/hrm/partials/request-file-per-mail',
                    'data'     => [
                        'endPoint' => $this->config['endPoint'],
                        'fileId'   => $whitePaper['id'],
                    ]
                ];
            }
            $sub_accordion = $this->partial('qp/hrm/partials/accordion/accordion', [
                'config' => $this->config,
                'data'   => [
                    'id'    => uniqid(),
                    'class' => ['sub-accordion','white-papers'],
                    'whitepapers' => true,
                    'items' => $subItems,
                ]
            ]);
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_COMPANY_HEADLINE_WHITE_PAPERS'),
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
                'data'     => [
                    'content' => $sub_accordion
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['galleryImages'])) {
            $item = [
                'id' => uniqid(),
                'headline' => $this->translate('HRM_COMPANY_HEADLINE_GALLERY'),
                'partial' => 'qp/hrm/partials/accordion/accordion-content-gallery',
                'data' => [
                    'items' => $this->config['endPoint']['galleryImages']
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['posts'])) {
            $posts = [];
            foreach ($this->config['endPoint']['posts'] as $post) {

                $posts[$post['created']] = [
                    [
                        'headline' => $post['title'],
                        'url'      => $post['url'],
                        'tags'     => $post
                    ]
                ];
            }
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_COMPANY_HEADLINE_POSTS'),
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-posts',
                'data'     => [
                    'posts' => $posts
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['contact'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_COMPANY_HEADLINE_CONTACT'),
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-contact',
                'data'     => [
                    'content' => $this->partial('qp/hrm/partials/accordion/accordion-content-contact-info', ['config' => $this->config]),
                    'items'   => $this->config['endPoint']['contact']
                ]
            ];
            array_push($items, $item);
        }
    ?>
    <?php echo $this->partial('qp/hrm/partials/accordion/accordion', [
        'config' => $this->config,
        'data'   => [
            'id'    => uniqid(),
            'class' => ['accordion--detail'],
            'items' => $items
        ]
    ]); ?>

</section>