<?php
//    \FirePHP::getInstance(true)->info($this->config['endPoint']);
?>
<div class="container job-detail">
    <div class ="row">
        <div class="col-m-12 col-12">
            <div class="col-12 search-listing__jobs-search">
                <div class="col-m-2 col-12"><span class="search-listing__jobs-search__label">Neue Job-Suche: </span></div>
                <div class="col-m-10"><?php echo $this->partial('qp/hrm/partials/form/search-jobboersehrm', ['config' => $this->config, 'main' => "", 'aggs' => $this->data['aggs']]); ?></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" <?php if(!($this->config['endPoint']['view_as_html']) && !($this->config['endPoint']['view_as_pdf'])): echo 'col-m-9'; endif; ?> col-12">
            <h2><?php echo $this->config['endPoint']['title']; ?></h2>
            <div class="row">
                <div class="col-m-2 col-12">
                    <div class="job-detail__image">
                        <?php echo $this->partial('qp/hrm/partials/image', [
                            'data' => $this->config['endPoint']['view_image']
                        ]); ?>
                    </div>
                </div>
                <div class="<?php if(!($this->config['endPoint']['view_as_html']) && !($this->config['endPoint']['view_as_pdf'])): echo 'col-m-10'; else: echo'col-m-6'; endif; ?> col-12">
                    <?php echo $this->config['endPoint']['company_profile']; ?>
                    <div class="details_icons">
                        <?php
                        $when = new \DateTime($this->config['endPoint']['publish_date']);
                        echo $this->partial('qp/hrm/partials/media-icons',[
                            'data' =>[
                                [
                                    'icon' => 'location_on',
                                    'content' => $this->config['endPoint']['job_location']
                                ],
                                [
                                    'icon' => 'date_range',
                                    'content' => $this->config['endPoint']['join_date']
                                ],
                                [
                                    'icon' => 'access_time',
                                    'content' => $when->format('d.m.Y')
                                ]
                            ]
                        ]); ?>
                    </div>
                </div>
                <div class="col-m-4 col-12">
                    <div class="job-detail__cta">
                        <?php if(isset($this->config['endPoint']['application_url'])): ?>
                            <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                                'config' => $this->config,
                                'data' => [
                                    [
                                        'type' => 'info',
                                        'text' => 'Zur Bewerbung',
                                        'attr' => [
                                            'href' => $this->config["endPoint"]["application_url"],
                                        ]
                                    ]
                                ]
                            ]); ?>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
            <?php if($this->config['endPoint']['view_as_html'] || $this->config['endPoint']['view_as_pdf']): ?>
                <div class="job-detail__iframe__container">
                    <iframe class="job-detail__iframe" src="<?php echo $this->config['endPoint']['html_url']; ?>" onload="iFrameResize({heightCalculationMethod:'bodyScroll'})" scrolling="no" allowtransparency="true" > </iframe>
                </div>
            <?php else: ?>
                <div class="row">
                    <div class="col-m-12 job-detail__information">
                        <h3><?php echo $this->translate('HRM_JOB_POST_DESCRIPTION'); ?></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-m-12 job-detail__description">
                       <p><?php echo $this->config['endPoint']['description']; ?></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-m-12">
                        <h3><?php echo $this->translate('HRM_JOB_POST_CONTACT_HEADLINE'); ?></h3>
                    </div>
                    <div class="col-m-12 job-detail__contact">
                        <p><?php echo $this->config['endPoint']['contact_info']; ?></p>
                    </div>
                </div>
            <?php endif; ?>
        </div>
        <!-- Right teasers -->
        <div class="col-l-3 col-12">
                <!--  Für Arbeitgeber -->
                    <?php echo $this->ndPartial('qp/hrm/partials/info-box-item',[
                        'data' => [
                            'headline' => $this->translate('HRM_FOR_EMPLOYER_BOX'),
                            'headline_level' => 4,
                            'partial' => 'qp/hrm/partials/right-teasers/image-text-button',
                            'partial_data'   => [
                                'subline' => 'Mitarbeiter finden',
                                'text'   => 'Informieren sie sich über unsere Stellenanzeigen und welche weiteren möglichkeiten wir bieten um Sie bei der Personalsuche zu unterstützen',
                                'link'   => '',
                                'image'  => '/hrm/img/dummy_teaser_1.JPG',
                                'button' => 'Jetzt Profitieren'
                            ]
                        ]
                    ]); ?>
            <!--  Ansprechpartner -->
            <?php if(!($this->config['endPoint']['view_as_html']) && !($this->config['endPoint']['view_as_pdf'])):
                    echo $this->ndPartial('qp/hrm/partials/info-box-item',[
                        'data' => [
                            'headline' => $this->translate('HRM_PARTNER_FOR_BANNER'),
                            'headline_level' => 4,
                            'partial' => 'qp/hrm/partials/right-teasers/contact-info',
                            'partial_data'   => [
                                'subline' => 'Gregor Ringsdorf',
                                'email'   => 'gregor.ringsdorf@quadriga.eu',
                                'tel'     => '030/ 84 85 92 53',
                                'fax'     => '030/ 84 85 92 53',
                                'image'   => '/hrm/img/ringsdorf_gregor.png'
                            ]
                        ]
                    ]);
            endif; ?>
                </div>
        </div>
</div>
