<?php echo $this->partial('qp/hrm/partials/stage-plain', ['data' => ['image' => '/hrm/img/hero_bild_1500px.jpg', 'class' => '']]); ?>
<?php $text = '<span class="expert__position">'
                .$this->config['endPoint']['jobTitle'].'
              </span>
                bei
              <span class="expert__company">
                <a href="#">'
                    .$this->config['endPoint']['worksFor'].'
                </a>
              </span>';
?>
<?php echo $this->partial('qp/hrm/partials/stage-items/headline-subline', ['headline' => $this->config['endPoint']['name'], 'text' => $text, 'class' => 'expert_detail_stage_item']); ?>

<section class="container detail detail--expert">

    <?php echo $this->partial('qp/hrm/partials/detail__main-info',[
        'config' => $this->config,
        'buttons' => [
            [
                'type' => 'info',
                'text' => $this->translate('HRM_FOLLOW'),
                'attr' => [
                    'href' => [ '#' ],
                ]
            ],
            [
                'type' => 'marketing',
                'text' => $this->translate('HRM_CONTACT_ME'),
                'attr' => [
                    'href' => [ '#' ],
                ]
            ]
        ]
    ]); ?>

    <?php
    // -------------------------------------------------------------------------
    //  Accordion start
    // -------------------------------------------------------------------------
        $sections = '';
        foreach ($this->config['endPoint']['tags_sector'] as $section) {
            $sections .= '<li>'.$section.'</li>';
        }
        $items = [
            [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_EXPERT_HEADLINE_PROFILE'),
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-profil',
                'data'     => [
                    'headline_person'  => $this->translate('HRM_EXPERT_HEADLINE_PROFILE_ABOUT'),
                    'description'      => '<p>'.$this->config['endPoint']['description'].'</p>',
                    'headline_section' => $this->translate('HRM_EXPERT_HEADLINE_PROFILE_SECTION'),
                    'sections'         => '<ul>'.$sections.'</ul>',
                ]
            ]
        ];
        if (isset($this->config['endPoint']['interviews'])) {
            foreach ($this->config['endPoint']['interviews'] as $interview) {
                if (!is_array($interview['content'])) {
                    $item = [
                        'id'       => uniqid(),
                        'headline' => $this->translate('HRM_EXPERT_HEADLINE_INTERVIEW'). ' ' .$this->config['endPoint']['name'],
                        'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
                        'data' => [
                            'content' => $interview['content']
                        ]
                    ];
                } else {
                    $item = [
                        'id'       => uniqid(),
                        'headline' => $this->translate('HRM_EXPERT_HEADLINE_INTERVIEW'). ' ' .$this->config['endPoint']['name'],
                        'partial'  => 'qp/hrm/partials/interview',
                        'data'     => [
                            'items' => [ // TODO: builder after the CMS!!!
                                [
                                    'speaker' => 'hrm',
                                    'speaker_class' => 'hrm',
                                    'image' => [
                                        'src' => 'http://lorempixel.com/200/200/animals',
                                        'alt' => 'hrm'
                                    ],
                                    'content' => 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.',
                                ],
                                [
                                    'speaker' => 'expert',
                                    'speaker_class' => 'expert',
                                    'image' => [
                                        'src' => 'http://lorempixel.com/201/201/animals',
                                        'alt' => 'experts name'
                                    ],
                                    'content' => 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.',
                                ],
                                [
                                    'speaker' => 'hrm',
                                    'speaker_class' => 'hrm',
                                    'image' => [
                                        'src' => 'http://lorempixel.com/200/200/animals',
                                        'alt' => 'hrm'
                                    ],
                                    'content' => 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.',
                                ],
                                [
                                    'speaker' => 'expert',
                                    'speaker_class' => 'expert',
                                    'image' => [
                                        'src' => 'http://lorempixel.com/201/201/animals',
                                        'alt' => 'experts name'
                                    ],
                                    'content' => 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.',
                                ]
                            ]
                        ]
                    ];
                }
                array_push($items, $item);
            }
        }
        if (isset($this->config['endPoint']['posts'])) {
            $posts = [];
            foreach ($this->config['endPoint']['posts'] as $post) {
                $posts[$post['created']] = [
                    [
                        'headline' => $post['title'],
                        'url'      => $post['url'],
                        'tags'     => $post
                    ]
                ];
            }
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_EXPERT_HEADLINE_POSTS'),
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-posts',
                'data'     => [
                    'posts' => $posts
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['events'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_EXPERT_HEADLINE_EVENTS'),
                'partial'  => 'qp/hrm/partials/highlight-cards',
                'data'     => [
                    'noType'   => false,
                    'headline' => false,
                    'text'     => false,
                    'link'     => false,
                    'items'    => $this->config['endPoint']['events']
                ]
            ];
            array_push($items, $item);
        }
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_EXPERT_HEADLINE_CONTACT'),
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
            'data'   => [
                'content' => $this->partial('qp/hrm/partials/accordion/accordion-content-contact-info', ['config' => $this->config]),
            ]
        ];
        array_push($items, $item);
    ?>
    <?php echo $this->partial('qp/hrm/partials/accordion/accordion', [
        'config' => $this->config,
        'data'   => [
            'id'    => uniqid(),
            'class' => ['detail-accordion'],
            'items' => $items
        ]
    ]); ?>

</section>