<?php
//    \FirePHP::getInstance(true)->info($this->config, 'templates/post config');

    $image = '/hrm/img/hero_bild_1500px.jpg';
    if (is_array($this->config['endPoint']['image'])) {
        if (isset($this->config['endPoint']['image'][0])) {
            $image = $this->config['endPoint']['image'][0];
        }
    } elseif ($this->config['endPoint']['image']) {
        $image = $this->config['endPoint']['image'];
    }
    if (!$image || $image === '/hrm/img/hero_bild_1500px.jpg') {
        if (is_array($this->config['endPoint']['preview_image'])) {
            if (isset($this->config['endPoint']['preview_image'][0])) {
                $image = $this->config['endPoint']['preview_image'][0];
            }
        } elseif ($this->config['endPoint']['preview_image']) {
            $image = $this->config['endPoint']['preview_image'];
        }
    }
?>

<div class="container">
    <div class="row">
        <div class="col-12 col-l-9">
            <div class="article-content">

                <h2><?php echo $this->config['endPoint']['title']; ?></h2>
                <div class="article-content__date">
                    <?php echo date('d.m.Y', $this->config['endPoint']['created']); ?>
                </div>
                |
                <div class="article-content__author">
                    <a href="<?php echo $this->config['endPoint']['author']['url']; ?>">
                        <?php echo $this->config['endPoint']['author']['name']; ?>
                    </a>
                </div>
                |
                <div class="article-content__author_prof">
                    <?php echo $this->config['endPoint']['author']['jobTitle']; ?>
                </div>
                <div class="article-content__keywords">
                    <?php echo $this->partial('qp/hrm/partials/tags', [
                        'data'   => $this->config['endPoint'],
                        'config' => $this->config['config']
                    ]); ?>
                    <?php echo $this->partial('qp/hrm/partials/share-icons', [
                        'config' => $this->config
                    ]); ?>
                </div>

                <div class="article-content__item">
                    <div class="content">
                        <?php echo $this->partial('qp/hrm/partials/image-with-caption', [
                            'data' => [
                                'image' => $image,
                                'class' => ['article__image'],
                                'caption' => 'Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.']]); ?>
                        <?php if(!is_array($this->config['endPoint']['content'])): ?>
                            <?php echo $this->partial('qp/hrm/partials/post-text-body', ['text' => $this->config['endPoint']['content']]); ?>
                        <?php else: ?>
                            <?php echo 'Jetzt hier den article builder aufsetzen! ;)'; ?>
                        <?php endif; ?>

                        <?php if($this->config['endPoint']['type'] == 'Interview'): ?>
                            <?php echo $this->partial('qp/hrm/partials/interview', [
                                'data'     => [
                                    'items' => [ // TODO: builder after the CMS!!!
                                        [
                                            'speaker' => 'hrm',
                                            'speaker_class' => 'hrm',
                                            'image' => [
                                                'src' => 'http://lorempixel.com/200/200/animals',
                                                'alt' => 'hrm'
                                            ],
                                            'content' => 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.',
                                        ],
                                        [
                                            'speaker' => 'expert',
                                            'speaker_class' => 'expert',
                                            'image' => [
                                                'src' => 'http://lorempixel.com/201/201/animals',
                                                'alt' => 'speakers name'
                                            ],
                                            'content' => 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.',
                                        ],
                                        [
                                            'speaker' => 'hrm',
                                            'speaker_class' => 'hrm',
                                            'image' => [
                                                'src' => 'http://lorempixel.com/200/200/animals',
                                                'alt' => 'hrm'
                                            ],
                                            'content' => 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.',
                                        ],
                                        [
                                            'speaker' => 'expert',
                                            'speaker_class' => 'expert',
                                            'image' => [
                                                'src' => 'http://lorempixel.com/201/201/animals',
                                                'alt' => 'speakers name'
                                            ],
                                            'content' => 'Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies ligula sed magna dictum porta.',
                                        ]
                                    ]
                                ]
                            ]); ?>
                        <?php endif; ?>
                    </div>
                </div>

                <?php if($this->config['endPoint']['type'] == 'Personalwechsel'): ?>
                    <?php echo $this->partial('qp/hrm/partials/teaser/txt-btn-bg-img', [
                        'data' => [
                            'headline' => 'Personalwechsel melden',
                            'text' => 'Sie wechseln wir melden. Lorem Ipsum.',
                            'buttons' => [
                                [
                                    'type' => 'info',
                                    'text' => 'Jetzt melden',
                                    'href' => '#'
                                ]
                            ]
                        ]
                    ]); ?>
                <?php endif; ?>

<!--                --><?php //echo $this->partial('qp/hrm/partials/post-navigation', ['config' => $this->config]); ?>
            </div>


        </div>

        <div class="col-12 col-l-3 article-info">
            <?php echo $this->partial('qp/hrm/partials/post-info', [
                'config' => $this->config
            ]); ?>
        </div>
    </div>
</div>

