<section class="module container module--about">
    <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
    <div class="module__content">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
            </div>
            <div class="col-xs-12 col-sm-6 video">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-video', ['data'   => $this->data,
                                                                           'config' => $this->config,
                ]); ?>
            </div>
        </div>
    </div>
</section>