<?php
//\FirePHP::getInstance(true)->info($this->items);
//\FirePHP::getInstance(true)->info($this->data, 'partials/modules/gallery-line data');
?>
<section class="module module--gallery-line">
    <?php if (isset($this->data['headline']) && $this->data['headline']): ?>
        <div class="module__title">
            <h2><?php echo $this->data['headline']; ?></h2>
        </div>
    <?php endif; ?>

    <?php if(isset($this->data['columns'])) {
        $columns = $this->data['columns'];
    } else  {
        $columns = "col-l-2 col-m-3 col-6";
    } ?>

    <?php
    $data_attr = "";
    if(isset($this->data['slides'])) {
        $data_attr .= 'data-slides=\'' . $this->data['slides'] . '\'';
    } ?>

    <div class="row gallery-line">
        <div class="slick-carousel" <?php echo $data_attr; ?>>

        <?php foreach ($this->data['items'] as $item): ?>
            <div class="gallery-line__item">
                <div hidden id="expert-modal-<?php echo $item['id']; ?>">
                    <?php echo $this->ndPartial('qp/hrm/partials/modals/modal-expert', [
                        'data' => $item
                    ]); ?>
                </div>
                <?php /*<a href="<?php echo $item['url']; ?>">*/ ?>
                    <div class="gallery-line__item__avatar modal-trigger" data-modal-target="expert-modal-<?php echo $item['id']; ?>">
                        <?php echo $this->ndPartial('qp/hrm/partials/image', ['data' => $item['image']]); ?>
                    </div>
                    <div class="gallery-line__item__name modal-trigger" data-modal-target="expert-modal-<?php echo $item['id']; ?>">
                        <?php if (isset($item['name'])): ?>
                            <?php echo $item['name']; ?>
                        <?php elseif (isset($item['title'])): ?>
                            <?php echo $item['title']; ?>
                        <?php endif; ?>
                    </div>
                    <?php if (isset($item['jobTitle'])): ?>
                        <div class="gallery-line__item__function">
                            <?php echo $item['jobTitle']; ?>
                        </div>
                    <?php endif; ?>
                <?php /*</a>*/ ?>
            </div>
        <?php endforeach; ?>

        </div>
    </div>
    <?php if (isset($this->data['text']) && $this->data['text']): ?>
        <div class="row">
            <div class="col-12">
                <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
            </div>
        </div>
    <?php endif; ?>
    <?php if (isset($this->data['link']['url']) && $this->data['link']['url']): ?>
        <div class="row">
            <div class="col-12 col-l-6 ">
                <a class="button_info" href="<?php echo $this->data['link']['url']; ?>">
                    <?php echo $this->translate('COMMON_SHOW_ALL'); ?>
                </a>
            </div>
        </div>
    <?php endif; ?>
</section>