<?php
//\FirePHP::getInstance(true)->info($this->config, 'partials/modules/headline-text config');
//\FirePHP::getInstance(true)->info($this->data, 'partials/modules/headline-text data');
?>

<section class="module container">
    <div class="module__title">
        <h2><?php echo $this->data['headline']; ?></h2>
    </div>
    <div class="module__content">
        <?php echo $this->data['text']; ?>

        <?php if(isset($this->data['link'])): ?>
            <a href="<?php echo $this->data['link']['url']; ?>"><?php echo $this->data['link']['text']; ?></a>
        <?php endif; ?>

        <?php if(isset($this->data['buttons'])):
            echo $this->ndPartial('qp/hrm/partials/buttons', [
                'data' => $this->data['buttons']
            ]);
        endif; ?>
    </div>
</section>