<?php
//\FirePHP::getInstance(true)->info($this->config, 'partials/modules/headline-text config');
//\FirePHP::getInstance(true)->info($this->data, 'partials/modules/headline-text data');
?>

<?php
$style = '';
$headline_style = '';
if(isset($this->data['style']['background-color'])):
    $style .= 'background-color:'.$this->data['style']['background-color'].';';
endif;
if(isset($this->data['style']['color'])):
    $style .= 'color:'.$this->data['style']['color'].';';
    $headline_style .= 'color:'.$this->data['style']['color'].';';
endif;
if(isset($this->data['style']['border-color'])):
    $headline_style .= 'border-color:'.$this->data['style']['border-color'].';';
endif;

$additional_module_class = '';
if(isset($this->data['class'])):
    $additional_module_class = $this->data['class'];
endif;
?>


<section class="module <?php echo $additional_module_class; ?>" style="<?php echo $style; ?>">
    <div class="container">
        <?php if(isset($this->data['headline']) && $this->data['headline']): ?>
            <div class="module__title"  style="<?php echo $headline_style; ?>">
                <h2><?php echo $this->data['headline']; ?></h2>
            </div>
        <?php endif; ?>
        <div class="module__content">
            <div>
                <?php if(isset($this->data['text'])): ?>
                    <?php echo $this->data['text']; ?>
                <?php endif; ?>

            </div>
            <?php if(isset($this->data['link']) && isset($this->data['link']['url']) && $this->data['link']['url']): ?>
                <a href="<?php echo $this->data['link']['url']; ?>" target="<?php echo $this->data['link']['target']; ?>">
                    <?php if(strpos(strtolower($this->data['link']['text']),'pdf')!== false) { ?>
                        <i class="material-icons link-icon">picture_as_pdf</i>
                    <?php } ?>
                    <?php echo $this->data['link']['text']; ?>
                </a>
            <?php endif; ?>
        </div>
    </div>

    <?php if(isset($this->data['partial_fullwidth']) && !$this->data['partial_fullwidth']): ?>
    <div class="container">
    <?php endif; ?>

        <?php if(isset($this->data['partial'])):
            if(!isset($this->data['partial_data'])) {
                $partial_data = [];
            } else {
                $partial_data = $this->data['partial_data'];
            }
            echo $this->ndPartial($this->data['partial'],$partial_data);
        endif; ?>

        <?php if(isset($this->data['buttons'])):
            echo $this->ndPartial('qp/hrm/partials/buttons', [
                'data' => $this->data['buttons']
            ]);
        endif; ?>

    <?php if(isset($this->data['partial_fullwidth']) && !$this->data['partial_fullwidth']): ?>
    </div>
    <?php endif; ?>
</section>