<section class="module container module--jobboerse">
    <?php
    // this is supposed to be displayed in two rows. split the count in
    // two is no issue if the count is even. If the count is uneven
    // this math will force the first column to display one more item
    // then the second row
    //\FirePHP::getInstance(true)->info($this->data);
    $jobCount = count($this->data['items']);
    $firstJobCount = $jobCount - (int)($jobCount / 2);
    ?>

    <?php $collapseId = 'collapseMobile' . md5($this->data['headline']); ?>
    <?php if ($this->data['headline']): ?>
        <a class="collapse-link stop-jump-top collapsed" role="button" data-toggle="collapse" href="#<?php echo $collapseId; ?>" aria-expanded="false" aria-controls="<?php echo $collapseId; ?>">
            <div >
<!--                <div class="teaser__carret"><i class="material-icons">keyboard_arrow_up</i></div>-->
                <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
            </div>
        </a>
    <?php endif; ?>

    <div class="mobile-collapse collapse" id="<?php echo $collapseId; ?>">
        <?php if ($this->data['text']): ?>
            <div class="begin row text">
                <div class="col-lg-12">
                    <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
                </div>
            </div>
        <?php endif; ?>
        <div class="module__content">
            <div class="row">
                <div class="col-12">
                    <div class="slick-carousel">
                        <?php foreach ($this->data['items'] as $item): ?>
                            <?php echo $this->ndPartial('qp/hrm/partials/filter-result-item-search/job', ['data' => $item ]); ?>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
        </div>

        <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
            'config' => $this->config,
            'data'   => [
                [
                    'type' => 'info',
                    'text' => $this->translate('JOB_LIST_BUTTON_SHOW_ALL'),
                    'attr' => [
                        'href' => [$this->data['link']['url']],
                    ],
                ],
            ],
        ]); ?>
    </div>
</section>
