<?php
\FirePHP::getInstance(true)->info($this->config, 'partials/modules/magazine-archive config');
\FirePHP::getInstance(true)->info($this->data, 'partials/modules/magazine-archive data');
?>

<section class="module container">
    <div class="module__title">
        <h2><?php echo $this->data['headline']; ?></h2>
    </div>
    <div class="module__content magazine-archive row">

        <div class="magazine-archive__embedded-code col-12 col-l-6">
            <iframe></iframe>
        </div>
        <div class="magazine-archive__content col-12 col-l-6">

            <?php echo $this->data['text']; ?>

            <?php if(isset($this->data['link'])): ?>
                <a href="<?php echo $this->data['link']['url']; ?>"><?php echo $this->data['link']['text']; ?></a>
            <?php endif; ?>

            <?php if(isset($this->data['buttons'])):
                echo $this->ndPartial('qp/hrm/partials/buttons', [
                    'data' => $this->data['buttons']
                ]);
            endif; ?>

            <a href="/magazin/archiv">Zur Archive</a>
        </div>

    </div>
</section>
