<?php
//\FirePHP::getInstance(true)->info($this->config, 'partials/modules/magazine-issues config');
//\FirePHP::getInstance(true)->info($this->data, 'partials/modules/magazine-issues data');
?>

<section class="module container module--magazine-issue">
    <div class="module__title">
        <h2><?php echo $this->data['headline']; ?></h2>
    </div>
    <div class="module__content magazine-issue row">
        <div class="magazine-issue__embedded-code col-12 col-l-6">
            <iframe></iframe>
        </div>
        <div class="magazine-issue__infos  col-12 col-l-6">
            <div class="magazine-issue__name">
                Mut
            </div>

            <div class="magazine-issue__issue">
                <?php echo $this->translate("HRM_MAGAZINE_ISSUE"); ?>
                06/2016
            </div>

            <div class="magazine-issue__short-description">
                <p>
                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                </p>
            </div>

            <?php if(isset($this->data['buttons'])):
                echo $this->ndPartial('qp/hrm/partials/buttons', [
                    'data' => $this->data['buttons']
                ]);
            endif; ?>
        </div>

    </div>
</section>