<section class="module module--review-slider">
    <div class="review-slider slick-carousel">
        <?php foreach( $this->data['items'] as $item): ?>
            <?php if(isset($item['image'])): ?>
                <div class="review-slider__item">
                    <div class="review-slider__item__avatar">
                        <?php echo $this->ndPartial('qp/hrm/partials/image', ['data' => $item['image']]); ?>
                    </div>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</section>