<section class="container portfolio-image-items">
    <h2 class="headline-with-bottom-border"><?php echo $this->data['headline']; ?></h2>
    <div class="row">

        <!--Photo on the right side -->
        <?php if ($this->data['imagePosition']==='right'){ ?>
        <div class="col-l-6 col-12">
            <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
        </div>

        <div class="col-l-6 col-12 image-container__half">
            <?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => $this->data['image'] ] ); ?>
        </div>

        <!--Photo on the left side -->
        <?php } else { ?>
        <div class="col-l-6 col-12 image-container__half">
            <?php echo $this->ndPartial('qp/hrm/partials/image', [ 'data' => $this->data['image'] ] ); ?>
        </div>
        <div class="col-l-6 col-12">
            <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->data['text']]); ?>
        </div>
        <?php } ?>

        <?php if($this->data['button'] === true){ ?>
            <div class="col-12">
                <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
                    'config' => $this->config,
                    'data' => [
                        [
                            'type' => 'marketing',
                            'text' => '<i class="material-icons">get_app</i>'.$this->data['buttonText'],
                            'attr' => [
                                'href' => [ '#' ],
                            ]
                        ]
                    ]
                ]); ?>
            </div>
        <?php } ?>

        <?php if(isset($this->data['link'])): ?>
            <div class="col-12">
                <a href="<?php echo $this->data['link']['url']; ?>"><?php echo $this->data['link']['text']; ?></a>
            </div>
        <?php endif; ?>
    </div>
</section>

