<?php
// \FirePHP::getInstance(true)->info($this->data, 'partials/modules/two-level-person-slider data');
?>
<div class="module container module--two-level-persons-slider">
    <div class="row">
        <div class="col-12 col-m-6">
            <?php if(isset($this->data['text'])): ?>
                <?php echo $this->data['text']; ?>
            <?php endif; ?>
        </div>
        <div class="col-12 col-m-6">
            <?php
            if(isset($this->data['performer_1'])): ?>
                <?php echo $this->ndPartial('qp/hrm/partials/modules/gallery-line', [
                    'data' => [
                        'items'  => $this->data['performer_1'],
                        'columns' => 'col-6',
                        'slides' => json_encode(['l'=>2,'m'=>2,'s'=>2,'xs'=>1]),
                        'config' => $this->config,
                    ],
                ]); ?>
            <?php endif; ?>
        </div>
    </div>

    <?php
    if(isset($this->data['performer_2'])):
        echo $this->ndPartial('qp/hrm/partials/modules/gallery-line', [
            'data' => [
                'items'  => $this->data['performer_2'],
                'columns' => 'col-6 col-m-3',
                'slides' =>json_encode(['l'=>4,'m'=>4,'s'=>2,'xs'=>1]),
                'config' => $this->config,
            ],
        ]);
    endif; ?>
</div>
