<?php
    //\FirePHP::getInstance(true)->info($this->config, 'templates/event/award config');

    $stageImage = '/hrm/img/hero_bild_1500px.jpg';
    if (isset($this->config['endPoint']['stage']['image']) && $this->config['endPoint']['stage']['image']) {
        $stageImage = $this->config['endPoint']['stage']['image'];
    }
?>
<?php echo $this->partial('qp/hrm/partials/stage-plain', ['data' => ['image' => $stageImage, 'class' => '']]); ?>
<?php echo $this->partial('qp/hrm/partials/stage-items/headline-subline-events', [
    'headline' => $this->config['endPoint']['name'],
    'text'     => $this->config['endPoint']['shortTeaser'],
    'color'    => $this->config['endPoint']['stage']['color'],
    'bg_color' => $this->config['endPoint']['stage']['bg_color'],
]); ?>

<section class="detail detail--award">
    <div class="container">
        <?php
            $start = new \DateTime($this->config['endPoint']['startDate']);
        ?>
        <?php echo $this->partial('qp/hrm/partials/detail__main-info', [
            'config'  => $this->config,
            'buttons' => [
                [
                    'type' => 'order',
                    'attr' => ['href' => ['#']],
                    'text' => $this->translate('HRM_CONTACT_NOW'),
                ],
            ],
            'link' => [
                'url'    => 'https://www.excellance-awards.com',
                'target' => '_blank',
                'text'   => $this->translate('HRM_EVENTS_AWARD_LINK_TO_EVENT'),
            ],
            'media_icons_class' => 'highlight-icons-in-stage',
            'media_icons'       => [
                'date_range' => $this->translate('HRM_EVENTS_AWARD_DATE_NAME').' '. $start->format('d.m.Y'),
            ],
        ]); ?>
    </div>

<!--    --><?php ///**********************************************
//     * Welcome Text
//     **********************************************/ ?>
<!--    --><?php //if(isset($this->config['endPoint']['introduction'])): ?>
<!--        --><?php
//            $introduction = $this->config['endPoint']['introduction'];
//            $introduction['link'] = [
//                'url'    => $this->config['endPoint']['extLink'],
//                'target' => '_blank',
//                'text'   => $this->translate('HRM_EVENTS_AWARD_LINK_TO_EVENT'),
//            ];
//        ?>
<!--        --><?php //echo $this->partial('qp/hrm/partials/modules/headline-text-partial', [
//            'data' => $introduction,
//            'firsttext' => true
//        ]); ?>
<!--    --><?php //endif; ?>

    <?php /**********************************************
     * Categories
     **********************************************/ ?>
    <?php if(isset($this->config['endPoint']['categories'])): ?>
        <?php echo $this->partial('qp/hrm/partials/modules/headline-text-partial', [
            'data' => [
                'headline' => $this->config['endPoint']['categories']['headline'],
                'text'     => $this->config['endPoint']['categories']['text'],
                'link'     => $this->config['endPoint']['categories']['link'],
                'partial'  => 'qp/hrm/partials/tab-accordion',
                'partial_fullwidth' => false,
                'partial_data' => [
                    'data' => [
                        'limit' => 4,
                        'items' => $this->config['endPoint']['categories']['items']
                    ]
                ]
            ]
        ]); ?>
    <?php endif; ?>

    <?php /**********************************************
     * Jury
     **********************************************/ ?>
    <?php if(isset($this->config['endPoint']['jury'])): ?>
        <?php echo $this->partial('qp/hrm/partials/modules/headline-text-partial', [
            'data' => [
                'headline'     => $this->config['endPoint']['jury']['headline'],
                'partial'      => 'qp/hrm/partials/modules/two-level-persons-slider',
                'partial_data' => [
                    'data' => [
                        'text'        => $this->config['endPoint']['jury']['text'],
                        'performer_1' => $this->config['endPoint']['jury']['main_performer'],
                        'performer_2' => $this->config['endPoint']['jury']['sec_performer'],
                    ]
                ]
            ]
        ]); ?>
    <?php endif; ?>

    <?php /**********************************************
     * Review
     **********************************************/ ?>
    <?php if(isset($this->config['endPoint']['review']) && isset($this->config['endPoint']['galleryImages'])): ?>
        <?php echo $this->partial('qp/hrm/partials/modules/headline-text-partial', [
            'data' => [
                'headline' => $this->translate('HRM_EVENT_HEADLINE_REVIEW'), //Rückblick
                'text'     => $this->config['endPoint']['review'],
                'style'    => [
                    'background-color' => $this->config['endPoint']['review-bg-color'],
                    'color'            => $this->config['endPoint']['review-color'],
                    'border-color'     => $this->config['endPoint']['review-border-color'],
                ],
                'class'             => 'module--review',
                'partial'           => 'qp/hrm/partials/modules/review-slider',
                'partial_fullwidth' => true,
                'partial_data'      => [
                    'data' => [
                        'items' => $this->config['endPoint']['galleryImages']
                    ]
                ]
            ]
        ]); ?>
    <?php endif; ?>

    <?php /**********************************************
     * Contact
     **********************************************/ ?>
    <?php echo $this->partial('qp/hrm/partials/contacts', [
        'data' => [
            'headline' => $this->translate('HRM_EVENT_HEADLINE_CONTACT'), //'Ansprechpartner'
            'text'     => $this->config['endPoint']['contactInfo'],
            'items'    => $this->config['endPoint']['contact'],
//            'buttons'   => [
//                [
//                    'type' => 'info',
//                    'href' => '#',
//                    'text' => $this->translate('CONTACT_BUTTON')
//                ]
//            ]
        ]
    ]); //todo need contact url ?>
</section>