<?php
//    \FirePHP::getInstance(true)->info($this->config);
?>
<?php
//    \FirePHP::getInstance(true)->info($this->config);
?>
<?php echo $this->partial('qp/hrm/partials/stage-plain', ['data' => ['image' => '/hrm/img/hero_bild_1500px.jpg', 'class' => '']]); ?>
<?php echo $this->partial('qp/hrm/partials/stage-items/headline-subline', ['headline' => $this->config['endPoint']['name'], 'text' => '']); ?>

<section class="container detail detail--seminar">

    <?php echo $this->partial('qp/hrm/partials/detail__main-info',[
        'config' => $this->config,
        'price' => [
            'normal' => [
                'price' => 'ab 670,00€'
            ]
        ],
        'buttons' => [
            [
                'type' => 'order',
                'attr' => [ 'href' => ['#']],
                'text' => $this->translate('HRM_REGISTER')
            ]
        ]
    ]); ?>

    <?php
    // -------------------------------------------------------------------------
    //  Accordion start
    // -------------------------------------------------------------------------
    $items = [];

    if( true ) {
        $timeslots = [];
        //foreach (timeslot) {
        $agenda_rows = [];
        $timeslots[] = [
            'id'       => uniqid(),
            'headline' => 'Begüssung',
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-agenda-rows',
            'data'     => [
                [
                    'startDate' => '23.01.2017 8:00',
                    'headline'  => 'Einlass und Ausgabe der Tagungsunterlagen',
                    'performer' => [],
                    'icon'      => 'chat'
                ],
                [
                    'startDate' => '23.01.2017 9:00',
                    'endDate'   => '23.01.2017 9:15',
                    'headline'  => 'Einlass und Ausgabe der Tagungsunterlagen',
                    'content'   => '<p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet
                                    quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque
                                    in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Vivamus magna
                                    justo, lacinia eget consectetur sed, convallis at tellus. Vivamus suscipit tortor
                                    eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus. Curabitur
                                    arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum
                                    congue leo eget malesuada. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan
                                    id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta.
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                    Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus magna
                                    justo, lacinia eget consectetur sed, convallis at tellus. Quisque velit nisi, pretium ut
                                    lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed,
                                    convallis at tellus.</p>',
                    'performer' => [
                        [
                            'image' => [ 'src' => 'http://pipsum.com/270x270.jpg'],
                            'name' => 'Vorname Doppel-Name',
                            //'jobTitle' => 'Professorin für Politikwissenschaft, Internationale Politik',
                            'workFor' => 'Unternehmen AG',
                            'description' => 'Lirum larum Löffelstiel',
                            'url' => '#'
                        ],
                    ],
                    'icon'      => 'chat'
                ]
            ]
        ];
        $timeslots[] = [
            'id'       => uniqid(),
            'headline' => 'Erstes Modul: Die richtige Ansprache',
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-agenda-rows',
            'data'     => [
                [
                    'startDate' => '23.01.2017 9:30',
                    'headline'  => 'Einlass und Ausgabe der Tagungsunterlagen',
                    'performer' => [],
                    'icon'      => 'chat'
                ],
                [
                    'startDate' => '23.01.2017 10:00',
                    'headline'  => 'Einlass und Ausgabe der Tagungsunterlagen',
                    'content'   => '<p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet
                                        quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque
                                        in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Vivamus magna
                                        justo, lacinia eget consectetur sed, convallis at tellus. Vivamus suscipit tortor
                                        eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus. Curabitur
                                        arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                                        <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum
                                        congue leo eget malesuada. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan
                                        id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta.
                                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                        Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                        Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus magna
                                        justo, lacinia eget consectetur sed, convallis at tellus. Quisque velit nisi, pretium ut
                                        lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed,
                                        convallis at tellus.</p>',
                    'performer' => [],
                    'icon'      => ['src' => 'http://pipsum.com/30x30.jpg']
                ],
                [
                    'startDate' => '23.01.2017 11:00',
                    'headline'  => 'Einlass und Ausgabe der Tagungsunterlagen',
                    'content'   => '<p>Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet
                                        quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Pellentesque
                                        in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Vivamus magna
                                        justo, lacinia eget consectetur sed, convallis at tellus. Vivamus suscipit tortor
                                        eget felis porttitor volutpat. Pellentesque in ipsum id orci porta dapibus. Curabitur
                                        arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
                                        <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum
                                        congue leo eget malesuada. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan
                                        id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta.
                                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                        Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                        Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vivamus magna
                                        justo, lacinia eget consectetur sed, convallis at tellus. Quisque velit nisi, pretium ut
                                        lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed,
                                        convallis at tellus.</p>',
                    'performer' => [],
                    'icon'      => 'favorite'
                ]
            ]
        ];
        //}
        $sub_accordion = $this->partial('qp/hrm/partials/accordion/accordion', [
            'config' => $this->config,
            'data'   => [
                'id'    => uniqid(),
                'class' => ['sub-accordion','accordion--agenda'],
                'items' => $timeslots,
            ]
        ]);
        $date = new \DateTime('23.01.2017');
        $agenda_content =
            '<div class="agenda__download-link"><a href="#"><i class="material-icons">picture_as_pdf</i> ' . $this->translate("HRM_CONFERENCE_DOWNLAOD_AGENDA") . '</a></div>'
            . $this->partial('qp/hrm/partials/tabs', [
               'config' => $this->config,
                'data' => [
                    [
                        'tab_title' => '<div class="tab__title">Erster Tag</div><div class="tab__date">' . $date->format('d.m.Y') . '</div>',
                        'id'        => uniqid(),
                        'content'   => $sub_accordion
                    ],
                    [
                        'tab_title' => '<div class="tab__title">Zweiter Tag</div><div class="tab__date">' . $date->format('d.m.Y') . '</div>',
                        'id'        => uniqid(),
                        'content'   => 'beep'
                    ]
                ]
            ]);

        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_CONFERENCE_HEADLINE_AGENDA'),
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
            'data'     => [
                'content' => $agenda_content
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['performer'])) {
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_SEMINAR_HEADLINE_REFERENT'), //'Referent'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-persons',
            'data'     => [
                'items'   => $this->config['endPoint']['performer'],
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['targetAudience'])) {
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_SEMINAR_HEADLINE_TARGET_AUDIENCE'), //'Zielgruppe'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
            'data'     => [
                'content' => $this->config['endPoint']['targetAudience']
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['contact'])) {
        $content = '';
        if (isset($this->config['endPoint']['contactInfo'])) {
            $content = $this->config['endPoint']['contactInfo'];
        }
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_SEMINAR_HEADLINE_CONTACT'), //'Ansprechpartner'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-contact',
            'data'     => [
                'content' => $content,
                'items'   => $this->config['endPoint']['contact'],
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['travelService'])) {
        $info      = '';
        $trainInfo = '';
        $hotels    = [];
        if (isset($this->config['endPoint']['travelService']['info'])) {
            $info = $this->config['endPoint']['travelService']['info'];
        }
        if (isset($this->config['endPoint']['travelService']['trainInfo'])) {
            if (isset($this->config['endPoint']['travelService']['trainInfo']['headline'])) {
                $trainInfo .= '<h5>'.$this->config['endPoint']['travelService']['trainInfo']['headline'].'</h5>';
            }
            if (isset($this->config['endPoint']['travelService']['trainInfo']['image'])) {
                $trainInfo .= '<img src="'.$this->config['endPoint']['travelService']['trainInfo']['image']['src'].'" class="pull-left">';
            }
            if (isset($this->config['endPoint']['travelService']['trainInfo']['info'])) {
                $trainInfo .= $this->config['endPoint']['travelService']['trainInfo']['info'];
            }
        }
        if (isset($this->config['endPoint']['travelService']['hotels'])) {
            $hotels = $this->config['endPoint']['travelService']['hotels'];
        }
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_SEMINAR_HEADLINE_TRAVEL_SERVICE'), //'Anreise &amp; Services'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-service',
            'data'     => [
                'content'  => $info,
                'content2' => $trainInfo,
                'items'    => $hotels
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['galleryImages'])) {
        $review = '';
        if (isset($this->config['endPoint']['review'])) {
            $review = $this->config['endPoint']['review'];
        }
        $item = [
            'id' => uniqid(),
            'headline' => $this->translate('HRM_SEMINAR_HEADLINE_REVIEW'), //Rückblick
            'partial' => 'qp/hrm/partials/accordion/accordion-content-gallery',
            'data' => [
                'content' => $review,
                'items'   => $this->config['endPoint']['galleryImages']
            ]
        ];
        array_push($items, $item);
    }
    ?>

    <?php echo $this->partial('qp/hrm/partials/accordion/accordion', [
        'config' => $this->config,
        'data'   => [
            'id' => uniqid(),
            'class' => ['accordion--detail'],
            'items' => $items,
        ]
    ]); ?>

    <?php echo $this->partial('qp/hrm/partials/shop-form', [
        'config' => $this->config,
        'products' => []
    ]); ?>

</section>
