<?php
//    \FirePHP::getInstance(true)->info($this->config);
?>
<?php echo $this->partial('qp/hrm/partials/stage-plain', ['data' => ['image' => '/hrm/img/hero_bild_1500px.jpg', 'class' => '']]); ?>
<?php echo $this->partial('qp/hrm/partials/stage-items/headline-subline', ['headline' => $this->config['endPoint']['name'], 'text' => '']); ?>

<section class="container detail detail--congress">
    <pre>
        <?php echo var_dump($this->config['endPoint']); ?>
    </pre>
</section>