<?php
//    \FirePHP::getInstance(true)->info($this->config);;
//    \FirePHP::getInstance(true)->info($this->config['endPoint']['shopData']);
//    \FirePHP::getInstance(true)->info($this->config['endPoint']['shopData']->getProducts()[0]->price);
//    \FirePHP::getInstance(true)->info($this->config['endPoint']['shopData']->getProducts()[0]->price->default);
?>
<?php echo $this->partial('qp/hrm/partials/stage-plain', ['data' => ['image' => '/hrm/img/hero_bild_1500px.jpg', 'class' => '']]); ?>
<?php echo $this->partial('qp/hrm/partials/stage-items/headline-subline', ['headline' => $this->config['endPoint']['name'], 'text' => '']); ?>

<section class="container detail detail--default">
    <?php
        $start = new \DateTime($this->config['endPoint']['startDate']);
        $end   = new \DateTime($this->config['endPoint']['endDate']);
    ?>
    <?php echo $this->partial('qp/hrm/partials/detail__main-info',[
        'config' => $this->config,
        'price' => [
            'normal' => [
                'price' => 'ab 670,00€'
            ]
        ],
        'buttons' => [
            [
                'type' => 'order',
                'attr' => [ 'href' => ['#']],
                'text' => $this->translate('HRM_REGISTER')
            ]
        ],
        'media_icons' => [
            'date_range'  => $start->format('d.m.Y').' '.$this->translate('COMMON_TILL').' '.$end->format('d.m.Y')
        ]
    ]); ?>

    <?php
    // -------------------------------------------------------------------------
    //  Accordion start
    // -------------------------------------------------------------------------
    $items = [];
    if (isset($this->config['endPoint']['agenda'])) {
        $agenda = '';
        $days   = [];
        foreach ($this->config['endPoint']['agenda'] as $day) {
            $timeSlots = [];
            foreach ($day['modules'] as $module) {
                $timeSlots[] = [
                    'id'       => uniqid(),
                    'headline' => $module['headline'],
                    'partial'  => 'qp/hrm/partials/agenda-rows',
                    'data'     => $module['timeslots'],
                ];
            }
            $sub_accordion = $this->partial('qp/hrm/partials/accordion/accordion', [
                'config' => $this->config,
                'data'   => [
                    'id'    => uniqid(),
                    'class' => ['sub-accordion', 'accordion--agenda'],
                    'items' => $timeSlots,
                ]
            ]);
            $date   = new \DateTime($day['date']);
            $days[] = [
                'tab_title' => '<span class="tab__title">'.$day['headline'].'</span> <span class="tab__date">' . $date->format('d.m.Y') . '</span>',
                'id'        => uniqid(),
                'content'   => $sub_accordion
            ];
        }
        $agenda = '<div class="agenda__download-link"><a href="#"><i class="material-icons">picture_as_pdf</i> '
                . $this->translate("HRM_CONFERENCE_DOWNLAOD_AGENDA") . '</a></div>'
                . $this->partial('qp/hrm/partials/tabs', [
                    'config' => $this->config,
                    'data'   => $days
                ]);

        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_CONFERENCE_HEADLINE_AGENDA'),
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
            'data'     => [
                'content' => $agenda
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['performer'])) {
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_SEMINAR_HEADLINE_REFERENT'), //'Referent'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-persons',
            'data'     => [
                'items'   => $this->config['endPoint']['performer'],
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['targetAudience'])) {
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_SEMINAR_HEADLINE_TARGET_AUDIENCE'), //'Zielgruppe'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
            'data'     => [
                'content' => $this->config['endPoint']['targetAudience']
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['contact'])) {
        $content = '';
        if (isset($this->config['endPoint']['contactInfo'])) {
            $content = $this->config['endPoint']['contactInfo'];
        }
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_SEMINAR_HEADLINE_CONTACT'), //'Ansprechpartner'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-contact',
            'data'     => [
                'content' => $content,
                'items'   => $this->config['endPoint']['contact'],
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['travelService'])) {
        $info      = '';
        $trainInfo = '';
        $hotels    = [];
        if (isset($this->config['endPoint']['travelService']['info'])) {
            $info = $this->config['endPoint']['travelService']['info'];
        }
        if (isset($this->config['endPoint']['travelService']['trainInfo'])) {
            if (isset($this->config['endPoint']['travelService']['trainInfo']['headline'])) {
                $trainInfo .= '<h5>'.$this->config['endPoint']['travelService']['trainInfo']['headline'].'</h5>';
            }
            if (isset($this->config['endPoint']['travelService']['trainInfo']['image'])) {
                $trainInfo .= '<img src="'.$this->config['endPoint']['travelService']['trainInfo']['image']['src'].'" class="pull-left">';
            }
            if (isset($this->config['endPoint']['travelService']['trainInfo']['info'])) {
                $trainInfo .= $this->config['endPoint']['travelService']['trainInfo']['info'];
            }
        }
        if (isset($this->config['endPoint']['travelService']['hotels'])) {
            $hotels = $this->config['endPoint']['travelService']['hotels'];
        }
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_SEMINAR_HEADLINE_TRAVEL_SERVICE'), //'Anreise &amp; Services'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-service',
            'data'     => [
                'content'  => $info,
                'content2' => $trainInfo,
                'items'    => $hotels
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['galleryImages'])) {
        $review = '';
        if (isset($this->config['endPoint']['review'])) {
            $review = $this->config['endPoint']['review'];
        }
        $item = [
            'id' => uniqid(),
            'headline' => $this->translate('HRM_SEMINAR_HEADLINE_REVIEW'), //Rückblick
            'partial' => 'qp/hrm/partials/accordion/accordion-content-gallery',
            'data' => [
                'content' => $review,
                'items'   => $this->config['endPoint']['galleryImages']
            ]
        ];
        array_push($items, $item);
    }
    ?>

    <?php echo $this->partial('qp/hrm/partials/accordion/accordion', [
        'config' => $this->config,
        'data'   => [
            'id' => uniqid(),
            'class' => ['accordion--detail'],
            'items' => $items,
        ]
    ]); ?>

    <?php echo $this->partial('qp/hrm/partials/accordion/accordion-shop-form', [
        'config' => $this->config,
        'data' => $this->config['endPoint']['shopForm']
    ]); ?>

</section>
