<?php
//    \FirePHP::getInstance(true)->info($this->config);
?>
<?php echo $this->partial('qp/hrm/partials/stage-plain', ['data' => ['image' => '/hrm/img/hero_bild_1500px.jpg', 'class' => '']]); ?>
<?php echo $this->partial('qp/hrm/partials/stage-items/headline-subline', ['headline' => $this->config['endPoint']['name'], 'text' => '']); ?>

<section class="container detail detail--elearning">
    <?php
        $moduleDates    = [];
        $moduleCounter  = [];
        $modules        = [];
        if (isset($this->config['endPoint']['modules'])) {
            foreach ($this->config['endPoint']['modules'] as $i => $module) {
                $modules[$i] = [
                    'headline' => $this->translate('HRM_ELEARNING_HEADLINE_MODULE').' '.($i+1),
                    'content'  => $this->partial('qp/hrm/partials/accordion/accordion-content-elearning-modules', [
                        'data' => $module
                    ]),
                ];
                foreach ($module['dates'] as $d => $date) {
                    $start = new \DateTime($date['startDate']);
                    $moduleDates[$d][] = $start->format('d.m.Y');
                }
                if( isset($module['dates'][0]['duration']) ) {
                    $moduleCounter[$module['dates'][0]['duration']][] = $module['headline'];
                }
            }
        }
        $moduleList = '';
        foreach ( $moduleCounter as $length => $moduleNames ) {
            $count = 0;
            foreach ($moduleNames as $module) {
                $count++;
            }
            $moduleList .= $count.' Module á '.$length.' min<br>';
        }
        $moduleDateList = '';
        foreach ( $moduleDates as $moduleDateGrouped ) {
            foreach ($moduleDateGrouped as $date) {
                $moduleDateList .= $date.'<br>';
            }
        }
    ?>
    <?php echo $this->partial('qp/hrm/partials/detail__main-info',[
        'config' => $this->config,
        'price' => [
            'earlybird' => [
                'price' => '570,00€'
            ],
            'normal' => [
                'price' => 'ab 670,00€'
            ]
        ],
        'buttons' => [
            [
                'type' => 'order',
                'attr' => [ 'href' => ['#']],
                'text' => $this->translate('HRM_REGISTER')
            ]
        ],
        'media_icons' => [
            'access_time' => $moduleList,
            'date_range'  => $moduleDateList.'<a href="#" title="">Alle Termine</a>'
        ]
    ]); ?>


    <?php
    // -------------------------------------------------------------------------
    //  Accordion start
    // -------------------------------------------------------------------------
    $items = [];
    if (count($modules)) {
        $item = [
            'id' => uniqid(),
            'headline' => $this->translate('HRM_ELEARNING_HEADLINE_PROGRAMME_PERFORMERS'), //'Programm und Referenten'
            'partial' => 'qp/hrm/partials/accordion/accordion-content-grid',
            'data' => [
                'items' => $modules
            ]
        ];
        array_push($items, $item);
    }
    ?>

    <?php //Performer
    if (isset($this->config['endPoint']['performer'])) {
    if (count($this->config['endPoint']['performer']) > 1) {
        $headline = $this->translate('HRM_ELEARNING_HEADLINE_PERFORMERS'); //Referenten
    } else {
        $headline = $this->translate('HRM_ELEARNING_HEADLINE_PERFORMER'); //Referent
    }
        $item = [
            'id' => uniqid(),
            'headline' => $headline,
            'partial' => 'qp/hrm/partials/accordion/accordion-content-persons',
            'data' => [
                'items' => $this->config['endPoint']['performer']
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['targetAudience'])) {
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_ELEARNING_HEADLINE_TARGET_AUDIENCE'), //'Zielgruppe'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
            'data'     => [
                'content' => $this->config['endPoint']['targetAudience']
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['contact'])) {
        $content = '';
        if (isset($this->config['endPoint']['contactInfo'])) {
            $content = $this->config['endPoint']['contactInfo'];
        }
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_ELEARNING_HEADLINE_CONTACT'), //'Ansprechpartner'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-contact',
            'data'     => [
                'content' => $content,
                'items'   => $this->config['endPoint']['contact'],
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['travelService'])) {
        $info      = '';
        $trainInfo = '';
        $hotels    = [];
        if (isset($this->config['endPoint']['travelService']['info'])) {
            $info = $this->config['endPoint']['travelService']['info'];
        }
        if (isset($this->config['endPoint']['travelService']['trainInfo'])) {
            if (isset($this->config['endPoint']['travelService']['trainInfo']['headline'])) {
                $trainInfo .= '<h5>'.$this->config['endPoint']['travelService']['trainInfo']['headline'].'</h5>';
            }
            if (isset($this->config['endPoint']['travelService']['trainInfo']['image'])) {
                $trainInfo .= '<img src="'.$this->config['endPoint']['travelService']['trainInfo']['image']['src'].'" class="pull-left">';
            }
            if (isset($this->config['endPoint']['travelService']['trainInfo']['info'])) {
                $trainInfo .= $this->config['endPoint']['travelService']['trainInfo']['info'];
            }
        }
        if (isset($this->config['endPoint']['travelService']['hotels'])) {
            $hotels = $this->config['endPoint']['travelService']['hotels'];
        }
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_ELEARNING_HEADLINE_TRAVEL_SERVICE'), //'Anreise &amp; Services'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-service',
            'data'     => [
                'content'  => $info,
                'content2' => $trainInfo,
                'items'    => $hotels
            ]
        ];
        array_push($items, $item);
    }
    if (isset($this->config['endPoint']['galleryImages'])) {
        $review = '';
        if (isset($this->config['endPoint']['review'])) {
            $review = $this->config['endPoint']['review'];
        }
        $item = [
            'id' => uniqid(),
            'headline' => $this->translate('HRM_ELEARNING_HEADLINE_REVIEW'), //Rückblick
            'partial' => 'qp/hrm/partials/accordion/accordion-content-gallery',
            'data' => [
                'content' => $review,
                'items'   => $this->config['endPoint']['galleryImages']
            ]
        ];
        array_push($items, $item);
    }
    ?>

    <?php echo $this->partial('qp/hrm/partials/accordion/accordion', [
        'config' => $this->config,
        'data'   => [
            'id'    => uniqid(),
            'class' => ['detail-accordion'],
            'items' => $items
        ]
    ]); ?>

    <?php echo $this->partial('qp/hrm/partials/shop-form', [
        'config' => $this->config,
        'products' => []
    ]); ?>


</section>
