<?php
//    \FirePHP::getInstance(true)->info($this->config, 'templates/event/kongress config');

    $stageImage = '/hrm/img/hero_bild_1500px.jpg';
    if (isset($this->config['endPoint']['stage']['image']) && $this->config['endPoint']['stage']['image']) {
        $stageImage = $this->config['endPoint']['stage']['image'];
    }
?>
<?php echo $this->partial('qp/hrm/partials/stage-plain', ['data' => ['image' => $stageImage, 'class' => '']]); ?>
<?php echo $this->partial('qp/hrm/partials/stage-items/headline-subline-events', [
    'headline' => $this->config['endPoint']['name'],
    'text'     => $this->config['endPoint']['shortTeaser'],
    'color'    => $this->config['endPoint']['stage']['color'],
    'bg_color' => $this->config['endPoint']['stage']['bg_color'],
]); ?>

<section class="detail detail--congress">
    <div class="container">
        <?php
            $performerCount = 0;
            if (isset($this->config['endPoint']['performer']['main_performer']) &&
                isset($this->config['endPoint']['performer']['sec_performer'])) {
                $performerCount =  count($this->config['endPoint']['performer']['main_performer']);
                $performerCount += count($this->config['endPoint']['performer']['sec_performer']);
            }

            $start = new \DateTime($this->config['endPoint']['startDate'].' 00:00:00');
            $end   = new \DateTime($this->config['endPoint']['endDate'].' 00:00:00');
            $days  = $start->diff($end)->days;
        ?>
        <?php echo $this->partial('qp/hrm/partials/detail__main-info', [
            'config' => $this->config,
            'price'  => [
                'earlybird' => [
                    'price' => '570,00€',
                ],
                'normal'    => [
                    'price' => 'ab 670,00€',
                ],
            ],
            'buttons' => [
                [
                    'type' => 'order',
                    'attr' => ['href' => ['#']],
                    'text' => "Jetzt anmelden und Käsekuchen gewinnen"//$this->translate('HRM_REGISTER')
                ],
            ],
            'link' => [
                'url'    => 'https://www.personalmanagementkongress.de',
                'target' => '_blank',
                'text'   => $this->translate('HRM_EVENTS_CONGRESS_LINK_TO_EVENT'),
            ],
            'media_icons_class' => 'highlight-icons-in-stage',
            'media_icons'       => [
                'access_time'  => ($days+1).' '.$this->translate('HRM_COMMON_DAYS'),
                'speaker'      => [
                    'content' => $performerCount . ' ' . $this->translate('HRM_EVENTS_CONGRESS_PERFORMER'),
                    'class'   => 'media-icons-performer',
                ],
                'participants' => [
                    'content' => '1500 Teilnehmer',
                    'class'   => 'media-icons-participants',
                ],
            ],
        ]); ?>
    </div>

<!--    --><?php ///**********************************************
//     * Welcome Text
//     **********************************************/ ?>
<!--    --><?php //if(isset($this->config['endPoint']['introduction'])): ?>
<!--        --><?php
//        $introduction = $this->config['endPoint']['introduction'];
//        $introduction['link'] = [
//            'url'    => $this->config['endPoint']['extLink'],
//            'target' => '_blank',
//            'text'   => $this->translate('HRM_EVENTS_AWARD_LINK_TO_EVENT'),
//        ];
//        ?>
<!--        --><?php //echo $this->partial('qp/hrm/partials/modules/headline-text-partial', [
//            'data' => $introduction,
//            'firsttext' => true
//        ]); ?>
<!--    --><?php //endif; ?>

    <?php /**********************************************
           * Agenda
           **********************************************/ ?>
    <?php if(isset($this->config['endPoint']['agenda'])): ?>
        <?php echo $this->partial('qp/hrm/partials/modules/headline-text-partial', [
            'data' => [
                'headline' => $this->config['endPoint']['agenda']['headline'],
                'text'     => $this->config['endPoint']['agenda']['text'],
                'link'     => $this->config['endPoint']['agenda']['link'],
                'partial'  => 'qp/hrm/partials/tab-accordion',
                'partial_fullwidth' => false,
                'partial_data' => [
                    'data' => [
                        'limit' => 4,
                        'items' => $this->config['endPoint']['agenda']['items']
                    ]
                ]
            ]
        ]); ?>
    <?php endif; ?>


    <?php /**********************************************
           * Performer
           **********************************************/ ?>
    <?php if(isset($this->config['endPoint']['performer'])): ?>
        <?php echo $this->partial('qp/hrm/partials/modules/headline-text-partial', [
            'data' => [
                'headline'     => $this->config['endPoint']['performer']['headline'],
                'partial'      => 'qp/hrm/partials/modules/two-level-persons-slider',
                'partial_data' => [
                    'data' => [
                        'text'        => $this->config['endPoint']['performer']['text'],
                        'performer_1' => $this->config['endPoint']['performer']['main_performer'],
                        'performer_2' => $this->config['endPoint']['performer']['sec_performer'],
                    ]
                ]
            ]
        ]); ?>
    <?php endif; ?>

    <?php /**********************************************
           * Review
           **********************************************/ ?>
    <?php if(isset($this->config['endPoint']['review']) && isset($this->config['endPoint']['galleryImages'])): ?>
        <?php echo $this->partial('qp/hrm/partials/modules/headline-text-partial', [
            'data' => [
                'headline' => $this->translate('HRM_EVENT_HEADLINE_REVIEW'), //Rückblick
                'text'     => $this->config['endPoint']['review'],
                'style'    => [
                    'background-color' => $this->config['endPoint']['review-bg-color'],
                    'color'            => $this->config['endPoint']['review-color'],
                    'border-color'     => $this->config['endPoint']['review-border-color'],
                ],
                'class'             => 'module--review',
                'partial'           => 'qp/hrm/partials/modules/review-slider',
                'partial_fullwidth' => true,
                'partial_data'      => [
                    'data' => [
                        'items' => $this->config['endPoint']['galleryImages']
                    ]
                ]
            ]
        ]); ?>
    <?php endif; ?>

    <?php /**********************************************
           * Registration
           **********************************************/ ?>
    <?php echo $this->partial('qp/hrm/partials/modules/headline-text-partial', [
        'data' => [
            'headline' => 'Anmeldung',
            'partial'  => 'qp/hrm/partials/shop-form',
            'partial_fullwidth' => false,
            'partial_data' => [
                'config' => $this->config,
                'data' => $this->config['endPoint']['shopForm']
            ]
        ]
    ]); ?>

    <?php /**********************************************
           * Contact
           **********************************************/ ?>
    <?php echo $this->partial('qp/hrm/partials/contacts', [
        'data' => [
            'headline' => $this->translate('HRM_EVENT_HEADLINE_CONTACT'), //'Ansprechpartner'
            'text'     => $this->config['endPoint']['contactInfo'],
            'items'    => $this->config['endPoint']['contact'],
//            'buttons'   => [
//                [
//                    'type' => 'info',
//                    'href' => '#',
//                    'text' => $this->translate('CONTACT_BUTTON')
//                ]
//            ]
        ]
    ]); //todo need contact url ?>

</section>