<?php
//    \FirePHP::getInstance(true)->info($this->config);
?>
<?php echo $this->partial('qp/hrm/partials/stage-plain', ['data' => ['image' => '/hrm/img/hero_bild_1500px.jpg', 'class' => '']]); ?>
<?php echo $this->partial('qp/hrm/partials/stage-items/headline-subline', ['headline' => $this->config['endPoint']['name'], 'text' => '']); ?>

<section class="container detail detail--seminar">

    <?php echo $this->partial('qp/hrm/partials/detail__main-info',[
        'config' => $this->config,
        'price' => [
            'earlybird' => [
                'price' => '570,00€'
            ],
            'normal' => [
                'price' => 'ab 670,00€'
            ]
        ],
        'buttons' => [
            [
                'type' => 'order',
                'attr' => [ 'href' => ['#']],
                'text' => $this->translate('HRM_REGISTER')
            ]
        ]
    ]); ?>



    <?php
    // -------------------------------------------------------------------------
    //  Accordion start
    // -------------------------------------------------------------------------
        $items = [];
        if (isset($this->config['endPoint']['daysContent'])) {
            $content = '';
            foreach ($this->config['endPoint']['daysContent'] as $daysContent) {
                foreach ($daysContent as $dayPart) {
                    $content .= '<h5>'.$dayPart['headline'].'</h5>'.$dayPart['content'];
                }
                $content .= '<hr>';
            }
            $content = substr($content, 0, -4);
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_SEMINAR_HEADLINE_CONTENT'), // Programminhalte
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
                'data'     => [
                    'content' => $content
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['performer'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_SEMINAR_HEADLINE_REFERENT'), //'Referent'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-persons',
                'data'     => [
                    'items'   => $this->config['endPoint']['performer'],
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['targetAudience'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_SEMINAR_HEADLINE_TARGET_AUDIENCE'), //'Zielgruppe'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
                'data'     => [
                    'content' => $this->config['endPoint']['targetAudience']
                ]
            ];
            array_push($items, $item);
        }

        if (isset($this->config['endPoint']['travelService'])) {
            $info      = '';
            $trainInfo = '';
            $hotels    = [];
            if (isset($this->config['endPoint']['travelService']['info'])) {
                $info = $this->config['endPoint']['travelService']['info'];
            }
            if (isset($this->config['endPoint']['travelService']['trainInfo'])) {
                if (isset($this->config['endPoint']['travelService']['trainInfo']['headline'])) {
                    $trainInfo .= '<h5>'.$this->config['endPoint']['travelService']['trainInfo']['headline'].'</h5>';
                }
                if (isset($this->config['endPoint']['travelService']['trainInfo']['image'])) {
                    $trainInfo .= '<img src="'.$this->config['endPoint']['travelService']['trainInfo']['image']['src'].'" class="pull-left">';
                }
                if (isset($this->config['endPoint']['travelService']['trainInfo']['info'])) {
                    $trainInfo .= $this->config['endPoint']['travelService']['trainInfo']['info'];
                }
            }
            if (isset($this->config['endPoint']['travelService']['hotels'])) {
                $hotels = $this->config['endPoint']['travelService']['hotels'];
            }
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_SEMINAR_HEADLINE_TRAVEL_SERVICE'), //'Anreise &amp; Services'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-service',
                'data'     => [
                    'content'  => $info,
                    'content2' => $trainInfo,
                    'items'    => $hotels
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['galleryImages'])) {
            $review = '';
            if (isset($this->config['endPoint']['review'])) {
                $review = $this->config['endPoint']['review'];
            }
            $item = [
                'id' => uniqid(),
                'headline' => $this->translate('HRM_SEMINAR_HEADLINE_REVIEW'), //Rückblick
                'partial' => 'qp/hrm/partials/accordion/accordion-content-gallery',
                'data' => [
                    'content' => $review,
                    'items'   => $this->config['endPoint']['galleryImages']
                ]
            ];
            array_push($items, $item);
        }

    // Shop form
    if (isset($this->config['endPoint']['shopForm'])) {
        $item = [
            'partial'  => 'qp/hrm/partials/accordion/accordion-shop-form',
            'id'       => uniqid(),
            'headline' => 'Anmeldung / Tickets',
            'data'     => [
                'content' => $this->config['endPoint']['shopForm']
            ]
        ];
        array_push($items, $item);
    }


    if (isset($this->config['endPoint']['contact'])) {
        $content = '';
        if (isset($this->config['endPoint']['contactInfo'])) {
            $content = $this->config['endPoint']['contactInfo'];
        }
        $item = [
            'id'       => uniqid(),
            'headline' => $this->translate('HRM_SEMINAR_HEADLINE_CONTACT'), //'Ansprechpartner'
            'partial'  => 'qp/hrm/partials/accordion/accordion-content-contact',
            'data'     => [
                'content' => $content,
                'items'   => $this->config['endPoint']['contact'],
            ]
        ];
        array_push($items, $item);
    }
    ?>
    <?php echo $this->partial('qp/hrm/partials/accordion/accordion', [
        'config' => $this->config,
        'data'   => [
            'id' => uniqid(),
            'class' => ['accordion--detail'],
            'items' => $items,
        ]
    ]); ?>
</section>