<?php
//    \FirePHP::getInstance(true)->info($this->config);
?>
<?php echo $this->partial('qp/hrm/partials/stage-plain', ['data' => ['image' => '/hrm/img/hero_bild_1500px.jpg', 'class' => '']]); ?>
<?php echo $this->partial('qp/hrm/partials/stage-items/headline-subline', ['headline' => $this->config['endPoint']['name'], 'text' => '']); ?>

<section class="container detail detail--studium">
    <?php
        $start  = new \DateTime($this->config['endPoint']['startDate'].' 00:00:00');
        $end    = new \DateTime($this->config['endPoint']['endDate'].' 00:00:00');
        $months = $start->diff($end)->m + ($start->diff($end)->y*12);
    ?>

    <?php echo $this->partial('qp/hrm/partials/detail__main-info',[
        'config' => $this->config,
        'buttons' => [
            [
                'type' => 'order',
                'attr' => [ 'href' => ['#headingAnsprechpartner']],
                'text' => $this->translate('HRM_CONTACT_NOW')
            ]
        ],
        'media_icons' => [
            'label' => $this->config['endPoint']['name'],
            'date_range' => 'ab '.$start->format('d').'. '.$this->translate($start->format('F')).' '.$start->format('Y'),
            'access_time' => $months.' '.$this->translate('HRM_STUDY_PROGRESSION_MONTHS')
        ],
        'description_buttons' => [
            [
                'type' => 'marketing',
                'href' => '#',
                'text' => 'Zum Stipendiencheck'
            ]
        ]
    ]); ?>

    <?php
    // -------------------------------------------------------------------------
    //  Accordion start
    // -------------------------------------------------------------------------
        $items = [];
        if (isset($this->config['endPoint']['concept'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_CONCEPT'), //'Studienkonzept'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-definition-list',
                'data'     => $this->config['endPoint']['concept']
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['structure'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_STRUCTURE'), //'Struktur'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-grid',
                'data'     => [
                    'items' => $this->config['endPoint']['structure']
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['curriculum'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_CURRICULUM'), //'Curriculum'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
                'data'     => [
                    'content' => $this->config['endPoint']['curriculum']
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['requirements'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_REQUIREMENTS'), //'Studienvoraussetzungen'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
                'data'     => [
                    'content' => $this->config['endPoint']['requirements']
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['progression'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_PROGRESSION'), //'Studienverlauf & Termine'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-course-structure-and-dates',
                'data'     => $this->config['endPoint']
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['financing'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_FINANCING'), //'Kosten, Finanzierung & Stipendium'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-definition-list',
                'data'     => [
                    'content2' => $this->config['endPoint']['financing'],
                    'items'    => [
                    [
                        'headline' => 'Studiengebühren',
                        'content' => '<p>'.$this->config['endPoint']['tuitionFee'].'</p>',
                    ],
                    [
                        'headline' => 'Mit Stipendium',
                        'content' => '<p>'.$this->config['endPoint']['scholarshipPrice'].'</p>',
                    ],
                    [
                        'headline' => 'Immatrikulationsgebühren',
                        'content' => '<p>'.$this->config['endPoint']['enrollmentFee'].'</p>',
                    ]
                ]
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['mentoring'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_MENTORING'), //'Mentoringprogramm'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
                'data'     => [
                    'content' => $this->config['endPoint']['mentoring']
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['advisoryBoard'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_ADVISORY_BOARD'), //'Beirat'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
                'data'     => [
                    'content' => $this->config['endPoint']['advisoryBoard']
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['advisoryMember'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_ADVISORY_MEMBERS'), //'Beiratsmitglieder'
                'partial'  => 'qp/hrm/partials/modules/gallery-line',
                'data'     => [
                    'items' => $this->config['endPoint']['advisoryMember']
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['tour'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_TOUR'), //'Studienreise'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
                'data'     => [
                    'content' => $this->config['endPoint']['tour']['description'],
                    'image'   => ['src' => $this->config['endPoint']['tour']['image']]
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['application'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_APPLICATION'), //'Bewerbungsprozess'
                'partial'  => 'qp/hrm/partials/tab-accordion',
                'data'     => $this->config['endPoint']['application']
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['papers'])) {
            $item = [
                'id'       => uniqid(),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_PAPERS'), //'Bewerbungsunterlagen'
                'partial'  => 'qp/hrm/partials/accordion/accordion-content-text',
                'data'     => [
                    'content' => $this->config['endPoint']['papers']
                ]
            ];
            array_push($items, $item);
        }
        if (isset($this->config['endPoint']['contact'])) {
            $item = [
                'id'       => $this->translate('HRM_STUDY_HEADLINE_CONTACT'),
                'headline' => $this->translate('HRM_STUDY_HEADLINE_CONTACT'), //'Ansprechpartner'
                'partial' => 'qp/hrm/partials/accordion/accordion-content-contact',
                'data'     => [
                    'content' => '',
                    'items'   => $this->config['endPoint']['contact'],
                ]
            ];
            array_push($items, $item);
        }
    ?>
    <?php echo $this->partial('qp/hrm/partials/accordion/accordion', [
        'config' => $this->config,
        'data'   => [
            'id'    => uniqid(),
            'class' => ['detail-accordion'],
            'items' => $items,
        ]
    ]); ?>
</section>
