<div class="spinner"> <?php // TODO: still to be defined ?>
    <div class="spinner__search-content">
        <div class="spinner__background-masker spinner__search-content__img-spacer--right"></div>
        <div class="spinner__background-masker spinner__search-content__img-spacer--bottom"></div>
        <div class="spinner__background-masker spinner__search-content__headline--right"></div>
        <div class="spinner__background-masker spinner__search-content__headline--bottom"></div>

        <div class="spinner__background-masker spinner__search-content__text-one--right"></div>
        <div class="spinner__background-masker spinner__search-content__text-one--bottom"></div>
        <div class="spinner__background-masker spinner__search-content__text-two--right"></div>
        <div class="spinner__background-masker spinner__search-content__text-two--bottom"></div>
        <div class="spinner__background-masker spinner__search-content__text-three--right"></div>
        <div class="spinner__background-masker spinner__search-content__text-three--bottom"></div>

        <div class="spinner__background-masker spinner__search-content__end"></div>
        <div class="spinner__background-masker spinner__search-content__share_right"></div>

    </div>
</div>