<div class="spinner">
    <div class="spinner__search-content">
        <div class="spinner__background-masker spinner__search-content__img-spacer--right"></div>
        <div class="spinner__background-masker spinner__search-content__img-spacer--bottom"></div>
        <div class="spinner__background-masker spinner__search-content__headline--right"></div>
        <div class="spinner__background-masker spinner__search-content__headline--bottom"></div>

        <div class="spinner__background-masker spinner__search-content__text-one--right"></div>
        <div class="spinner__background-masker spinner__search-content__text-one--bottom"></div>
        <div class="spinner__background-masker spinner__search-content__text-two--right"></div>
        <div class="spinner__background-masker spinner__search-content__text-two--bottom"></div>
        <div class="spinner__background-masker spinner__search-content__text-three--right"></div>
        <div class="spinner__background-masker spinner__search-content__text-three--bottom"></div>

        <div class="spinner__background-masker spinner__search-content__user--one"></div>
        <div class="spinner__background-masker spinner__search-content__user--two"></div>
        <div class="spinner__background-masker spinner__search-content__user--three"></div>
        <div class="spinner__background-masker spinner__search-content__user--spacer"></div>

        <div class="spinner__background-masker spinner__search-content__detail-left-one"></div>
        <div class="spinner__background-masker spinner__search-content__detail-left-two"></div>
        <div class="spinner__background-masker spinner__search-content__detail-right-one"></div>
        <div class="spinner__background-masker spinner__search-content__detail-right-two"></div>
        <div class="spinner__background-masker spinner__search-content__detail-spacer"></div>

        <div class="spinner__background-masker spinner__search-content__end"></div>
    </div>
</div>