<footer class="teaser teaser--restricted teaser--gray footer  ">
    <div class="container">

        <div class="row footer-menu teaser">
            <div class="col-lg-3 col-sm-4 col-xs-12 footer-menu__col">
                <h4><?php echo $this->translate('FOOTER_' . strtoupper($this->config['portal'])); ?></h4>
                <ul>
                    <?php foreach (['/ueber-hrm', '/kontakt', '/agb', '/datenschutz', '/impressum', '/sitemap'] as $page): ?>
                        <?php $node = $this->nav->getChildNodeByPath($page); ?>
                        <?php if ($node): ?>
                            <li>
                                <a href="<?php echo $node->getUrl(); ?>">
                                    <?php echo $node->getText(); ?>
                                </a>
                            </li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-12 footer-menu__col">
                <h4><?php echo $this->translate('FOOTER_PRODUCTS_AND_SERVICES'); ?></h4>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 ">
                        <?php $nodes = $this->nav->getNodes(); ?>
                        <ul>
                            <?php for ($i = 0; $i < 4; $i++): ?>
                                <?php $node = $nodes->next(); ?>
                                <?php if ($node): ?>
                                    <li>
                                        <a href="<?php echo $node->getUrl(); ?>">
                                            <?php echo $node->getText(); ?>
                                        </a>
                                    </li>
                                <?php endif; ?>
                            <?php endfor; ?>
                        </ul>
                    </div>
                    <div class="col-lg-6  col-sm-12">
                        <ul>
                            <?php for ($i = 0; $i < 3; $i++): ?>
                                <?php $node = $nodes->next(); ?>
                                <?php if ($node): ?>
                                    <li>
                                        <a href="<?php echo $node->getUrl(); ?>">
                                            <?php echo $node->getText(); ?>
                                        </a>
                                    </li>
                                <?php endif; ?>
                            <?php endfor; ?>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-sm-4 col-xs-12 footer-menu__col">
                <h4><?php echo $this->translate('FOOTER_FOR_COMPANIES'); ?></h4>
                <ul>
                    <?php $b2bPages = [
                        '/fuer-unternehmen/sponsoring'            => 'FOOTER_' . strtoupper($this->config['portal']) . '_PARTNERSHIP',
                        '/fuer-unternehmen/business'              => 'FOOTER_' . strtoupper($this->config['portal']) . '_BUSINESS_PAGE',
                        '/fuer-unternehmen/bannerwerbung'         => 'FOOTER_' . strtoupper($this->config['portal']) . '_BANNER',
                        '/fuer-unternehmen/printanzeigen'         => 'FOOTER_' . strtoupper($this->config['portal']) . '_PRINT',
                        '/fuer-unternehmen/fuerarbeitgeber'       => 'FOOTER_' . strtoupper($this->config['portal']) . '_JOB_POSTING',
                        '/events/melden'                          => 'FOOTER_' . strtoupper($this->config['portal']) . '_SUBMIT_EVENT',
                        '/fuer-unternehmen/individuelle-angebote' => 'FOOTER_' . strtoupper($this->config['portal']) . '_INDIVIDUAL_OFFER',
                        '/fuer-unternehmen/mediadaten'            => 'FOOTER_' . strtoupper($this->config['portal']) . '_MEDIA_DATA',
                    ]; ?>
                    <?php foreach ($b2bPages as $page => $label): ?>
                        <?php $node = $this->nav->getChildNodeByPath($page); ?>
                        <?php if ($node): ?>
                            <li>
                                <a href="<?php echo $node->getUrl(); ?>">
                                    <?php echo $this->translate($label); ?>
                                </a>
                            </li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            </div>
            <div class="col-lg-3  col-sm-4 col-xs-12">
                <h4><?php echo $this->translate('FOOTER_FOLLOW_US'); ?></h4>
                <div class="row">
                    <div class="col-xs-12 social-media">
                        <a href="https://www.xing.com/communities/groups/human-resources-manager-d17c-1067877" target="_blank" class="social-media__item social-media__item--xi"><img src="/common/icons/xing_36px.svg"></a>
                        <a href="https://www.facebook.com/MagazinHRM?ref=hl" target="_blank" class="social-media__item social-media__item--fb"><img src="/common/icons/facebook_36px.svg"></a>
                        <a href="https://twitter.com/HRMMagazin" target="_blank" class="social-media__item social-media__item--tw"><img src="/common/icons/twitter_36px.svg"></a>
<?php /*<a href="#" class="social-media__item social-media__item--yt"><img src="/common/icons/youtube_36px.svg"></a> */ ?>
<?php /*<a href="#" class="social-media__item social-media__item--gp"><img src="/common/icons/google_plus_36px.svg"></a> */ ?>
<?php /*<a href="#" class="social-media__item social-media__item--pr"><img src="/common/icons/pinterest_36px.svg"></a> */ ?>
                    </div>
                </div>

            </div>
        </div>
        <div class="row-flex row logos ">
            <div class="col-lg-2 col-sm-2 col-xs-6 item">
                <img src="/common/img/unternehmen_logo_170_x_170px.jpg">
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-6 item">
                <img src="/common/img/unternehmen_logo_170_x_170px.jpg">
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-6 item">
                <img src="/common/img/unternehmen_logo_170_x_170px.jpg">
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-6 item">
                <img src="/common/img/unternehmen_logo_170_x_170px.jpg">
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-6 item">
                <img src="/common/img/unternehmen_logo_170_x_170px.jpg">
            </div>
            <div class="col-lg-2 col-sm-2 col-xs-6 item">
                <img src="/common/img/unternehmen_logo_170_x_170px.jpg">
            </div>
        </div>
        <a href="#panel"> <div class="scroll_up" id="scroll_up" data-spy="affix" data-offset-top="6" >
               <i class="material-icons">keyboard_arrow_up</i>
            </div></a>

        <div class="copyright">
            Copyright © 2016 Quadriga Akadamie
        </div>

    </div>
</footer>