<div class="header-fixed-container" data-spy="affix" data-offset-top="80" >
    <div class="divider menu-divider"></div>
        <div class="container">
             <!-- Header Mobile    -->
            <div class="row begin header-menu">
                <!-- Side Nav Toggle-->
                <div class="col-2 hidden-l">
                    <button type="button" class="navbar-toggle" >
                        <span class="sr-only"><?php echo $this->translate('HEADER_NAV_TOGGLE'); ?></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Side Nav Toggle-->
                <div class="col-4 header-menu__logo-container">
                    <a href="/"><img class="logo" src="/<?php echo $this->config['portal']; ?>/img/logo.svg"></a>
                </div>
                <div class="col-6 hidden-l right-nav__mobile">
                    <ul class="nav navbar-nav nav-top navbar-right">
                        <li>
                            <a href="/warenkorb">
                                <i class="material-icons highlight__icons">shopping_cart</i>
                            </a>
                        </li>
                        <li>
                            <a href="/merkliste">
                                <i class="material-icons highlight__icons">bookmark_border</i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="right-nav__mobile__search">
                                <i class="material-icons highlight__icons">search</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- If it is homepage show search -->
                <div class="col-12 mobile-search-field hide hidden-l">
                    <?php echo $this->partial('qp/hrm/partials/form/homepage-search.phtml'); ?>
                </div>
            </div>

        <div class="menu-placeholder hidden-m hidden-s ">
            <!-- Header Desktop -->
            <header>
                <div class="container menu-container">
                    <div class="row-flex menu-header"  >
                        <div class="col-12 hidden-l ">
                            <a href="/"> <img class="logo" src="/<?php echo $this->config['portal']; ?>/img/logo.svg"></a>
                        </div>
                        <div class="col-m-12 collapse-nav no-transition">
                            <div class="row hidden-s hidden-m">
                                <div class="col-m-12">
                                    <ul class="nav navbar-nav navbar-left nav-main ">
                                        <?php foreach ($this->nav->getNodes() as $node): ?>
                                            <?php $children   = $node->getChildren(); ?>
                                            <?php $childCount = count($children); ?>
                                            <?php if ($node->getInPublic()): ?>
                                                <li class="<?php echo $childCount ? 'dropdown' : ''; ?>">
                                                    <a class="<?php echo ($this->config['activePageId'] === $node->getId()) ? 'active': ''; ?>
                                                      <?php echo $childCount ? 'dropdown-toggle' : ''; ?>"
                                                        <?php echo $childCount ? 'data-toggle="dropdown" role="button"
                                                   aria-haspopup="true"
                                                   aria-expanded="false" name="'.$node->getText().'"' : ''; ?>
                                                       href="<?php echo $node->getUrl(); ?>">
                                                        <?php echo $node->getText(); ?>
                                                        <?php if ($childCount): ?>
                                                            <i class="material-icons nav-caret">keyboard_arrow_down</i>
                                                        <?php endif; ?>
                                                    </a>
                                                    <?php if ($childCount): ?>
                                                        <?php $ul = ''; ?>
                                                        <?php foreach ($children as $child): ?>
                                                            <?php if ($child->getInPublic()) {
                                                                $active = '';
                                                                if ($this->config['activePageId'] === $child->getId()) {
                                                                    $active = 'active';
                                                                }

                                                                $ul .= '<li>
                                                                <a class="'.$active.'" href="'.$child->getUrl().'">'.$child->getText().'</a>
                                                            </li>';
                                                                if ($children->last()->getInPublic() && ($children->last()->getId() !== $child->getId())) {
                                                                    $ul .= '<li role="separator" class="divider"></li>';
                                                                }
                                                            } ?>
                                                        <?php endforeach; ?>
                                                        <?php if ($ul !== ''): ?>
                                                            <ul class="dropdown-menu">
                                                                <?php echo $ul; ?>
                                                            </ul>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </li>

                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                        <!-- If it is homepage show search -->
                                            <div class="search-field" <?php if ($this->config['activePageId'] == 'homehrm') : echo 'hidden data-home="true"';  endif;?>>
                                                <?php echo $this->partial('qp/hrm/partials/form/global-search.phtml'); ?>
                                            </div>
                                    </ul>
                                </div>
                            </div>


                            <ul class="nav navbar-nav nav-top navbar-right">
                                <li>
                                    <a href="/warenkorb">
                                        <i class="material-icons highlight__icons">shopping_cart</i>
                                        <span class="navbar-right__element"><?php echo $this->translate('HEADER_NAV_SHOPPING_CART'); ?></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/newsletter" class="hidden-s hidden-m">
                                        <i class="material-icons highlight__icons">mail</i>
                                        <span class="navbar-right__newsletter"><?php echo $this->translate('HEADER_NAV_NEWSLETTER'); ?></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/merkliste">
                                        <i class="material-icons highlight__icons">bookmark_border</i>
                                        <span class="navbar-right__element"><?php echo $this->translate('HEADER_NAV_BOOKMARKS'); ?></span>
                                    </a>
                                </li>
                                <?php foreach(['/ueber-hrm', '/fuer-unternehmen', '/fuer-unternehmen/mediadaten'] as $page): ?>
                                    <?php $node = $this->nav->getChildNodeByPath($page); ?>
                                    <?php if ($node): ?>
                                        <li class="hidden-m hidden-s">
                                            <a class="<?php echo ($this->config['activePageId'] === $node->getId()) ? 'active': ''; ?>"
                                               href="<?php echo $node->getUrl(); ?>">
                                                <?php if ($page === '/fuer-unternehmen/mediadaten'): ?>
                                                    <i class="material-icons highlight__icons">get_app</i>
                                                <?php endif; ?>
                                                <?php echo $node->getText(); ?>
                                            </a>
                                        </li>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    </div>
            </header>
        </div>
        </div>

</div>

