<div class="header-fixed-menu" data-spy="affix" data-offset-top="6" >
    <div class="container">
            <!-- Mobile menu -->
            <nav id="mobile-menu">
                <a href="/"><img class="logo" src="/<?php echo $this->config['portal']; ?>/img/logo.svg"></a>

                <ul class="nav navbar-nav navbar-left nav-main">
                    <?php foreach ($this->nav->getNodes() as $node): ?>
                        <?php $children   = $node->getChildren(); ?>
                        <?php $childCount = count($children); ?>
                        <?php if ($node->getInPublic()): ?>
                            <li class="<?php echo $childCount ? 'dropdown' : ''; ?> <?php echo ($this->config['activePageId'] === $node->getId()) ? 'active' : ''; ?>">
                                <a class="<?php echo $childCount ? 'dropdown-toggle' : ''; ?>"
                                    <?php echo $childCount ? 'data-toggle="dropdown" role="button"
                                               aria-haspopup="true"
                                               aria-expanded="false" name="'.$node->getText().'"' : ''; ?>
                                   href="<?php echo $node->getUrl(); ?>">
                                    <?php echo $node->getText(); ?>
                                    <?php if ($childCount): ?>
                                        <i class="material-icons nav-caret">keyboard_arrow_down</i>
                                    <?php endif; ?>
                                </a>
                                <?php if ($childCount): ?>
                                    <?php $ul = ''; ?>
                                    <?php foreach ($children as $child): ?>
                                        <?php if ($child->getInPublic()) {
                                            $active = '';
                                            if ($this->config['activePageId'] === $child->getId()) {
                                                $active = 'active';
                                            }

                                            $ul .= '<li class="' . $active . '">
                                                        <a href="'.$child->getUrl().'">'.$child->getText().'</a>
                                                    </li>';
                                            if ($children->last()->getInPublic() && ($children->last()->getId() !== $child->getId())) {
                                                $ul .= '<li role="separator" class="divider"></li>';
                                            }
                                        } ?>
                                    <?php endforeach; ?>
                                    <?php if ($ul !== ''): ?>
                                        <ul class="dropdown-menu">
                                            <?php echo $ul; ?>
                                        </ul>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </li>
                        <?php endif; ?>
                    <?php endforeach; ?>

<!-- second navigation elements -->
                    <li>
                        <a href="/newsletter">
                            <i class="material-icons highlight__icons">mail</i>
                            <?php echo $this->translate('HEADER_NAV_NEWSLETTER'); ?>
                        </a>
                    </li>
                    <?php foreach (['/ueber-hrm', '/fuer-unternehmen'] as $page): ?>
                        <?php $node = $this->nav->getChildNodeByPath($page); ?>
                        <?php if ($node): ?>
                            <li class="<?php echo ($this->config['activePageId'] === $node->getId()) ? 'active' : ''; ?>">
                                <a href="<?php echo $node->getUrl(); ?>">
                                    <?php echo $node->getText(); ?>
                                </a>
                            </li>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </ul>
            </nav>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="divider"></div>
        </div>
    </div>
</div>

