<div class="no-cookie">
    <p><?php echo $this->translate('COMMON_NO_COOKIE_TXT'); ?></p>
    <div class="no-cookie-button">
        <?php echo $this->ndPartial('qp/hrm/partials/buttons', [
            'data'   => [
                [
                    'type' => 'info',
                    'text' => $this->translate('COMMON_BUTTON_ACCEPT_COOKIE'),
                    'attr' => [
                        'data-portal' => $this->portal,
                        'href'        => ['#'],
                    ],
                ],
            ],
        ]); ?>
    </div>
</div>