<div class="right-teaser">
    <div class="right-teaser__image">
        <?php echo $this->ndPartial('qp/hrm/partials/image', [
            'data' => $this->image
        ]); ?>
    </div>
    <div class="right-teaser__contact-info">
    <div class="right-teaser__contact-info__title">
        <?php echo $this->subline; ?>
    </div>
        <p><a href="mailto:<?php echo $this->email; ?>?Subject=Ansprechpartner" target="_top"><?php echo $this->email; ?></a></p>
        <p>Tel.: <?php echo $this->tel; ?></p>
        <p>Fax.: <?php echo $this->fax; ?></p>
    </div>
</div>
