<div class="right-teaser">
    <div class="right-teaser__image">
        <?php echo $this->ndPartial('qp/hrm/partials/image', [
            'data' => $this->image
        ]); ?>
    </div>

    <div class="h5">
        <?php echo $this->subline; ?>
    </div>
    <?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->text]); ?>
    <?php if (isset($this->button)){
        echo $this->ndPartial('qp/hrm/partials/buttons', [
            'config' => $this->config,
            'data' => [
                [
                    'type' => 'info',
                    'text' => $this->button,
                    'attr' => [
                        'href' => $this->link,
                    ]
                ]
            ]
        ]);
  } ?>
</div>
