<div class="gallery-line__item__avatar">
    <?php echo $this->ndPartial('qp/hrm/partials/image', [
        'data' => $this->author['image']
    ]); ?>
</div>

<div class="h5">
    <a href="<?php echo $this->author['url']; ?>">
        <?php echo $this->author['name']; ?>
    </a>
</div>
<div class="position"><?php echo $this->author['jobTitle']; ?></div>

<?php echo $this->ndPartial('qp/hrm/partials/teaser-text', ['text' => $this->author['description']]); ?>
