<div class="col-lg-12">
    <h4>Weitere Kurse zum Thema Arbeitsrecht</h4>
    <img src="/<?php echo $this->config['portal']; ?>/img/aktuelle_news_100_x_100_thumbnail.jpg" style="margin-bottom:10px;"><br />
    <a href="#">Vorname Nachname</a>, <br />Beruf Lorem ipsum
    <br /><br />
    <div class="row">
        <?php echo $this->ndPartial('qp/hrm/partials/event-details'); ?>
    </div>
</div>