
<?php for($i=0;$i<3;$i++): ?>
    <?php echo $this->ndPartial('qp/hrm/partials/event-details',[
        'config' => [
            'endPoint' => [
                'name' => 'Titel des Events',
                'additionalType' => 'Seminar',
                'daysContent' => '2',
                'location' => ['name' => 'Berlin'],
                'startDate' => '22.10.2017',
                'endDate' => '24.10.2017',
            ]
        ],
        'media_icons' => [
            'date_range' => '22.10. - 24.10.2017'
        ]
    ]); ?>
<?php endfor; ?>

<div class="large-text">
    <a href="#">
        <?php echo $this->translate("HRM_SHOW_ALL_COURSES"); ?>
    </a>
</div>
