<?php echo $this->doctype(); ?>

<?php
    $dataNode = '';
    if( $this->dataNode ) {
        $dataNode = $this->dataNode;
    }
    $dataParentId = '';
    if( $this->dataParentId ) {
        $dataParentId = $this->dataParentId;
    }
?>
<html lang="de" class="<?php echo $dataNode; ?> <?php echo $dataParentId; ?> <?php echo $this->route; ?> rid-xs grid-sm grid-md grid-lg hideOnFirstLoad" data-module="Resize">
    <head>
        <meta charset="utf-8">
        <?php
            $headTitle = '';
            if( $this->headTitle ) {
                $headTitle = ' - '.$this->translate($this->headTitle);
            }
        ?>
        <?php echo $this->headTitle($this->translate('HRM').$headTitle); ?>
        <link href="https://fonts.googleapis.com/css?family=Lato|Volkhov" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?php
        if ($this->isDevelopment) {
            $css = $this->basePath('hrm/css/style.css');
            $js  = $this->basePath('hrm/js/app.js');
        } else {
            $css = $this->basePath('hrm/css/style.min.css');
            $js  = $this->basePath('hrm/js/app.min.js');
        }
        ?>

        <?php echo $this->headLink([
            'rel'  => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $this->basePath() . '/hrm/img/favicon.ico'

        ])->prependStylesheet($css); ?>

        <!-- Google Tag Manager -->
        <script type="application/javascript">
            UserSessionID = '<?php echo $this->userSessionId; ?>';
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KSZ6GQ');
        </script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSZ6GQ"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <?php echo $this->content; ?>
        <?php if (!$this->followCookie): ?>
            <?php echo $this->ndPartial('qp/common/layout/no-cookie', ['portal' => 'hrm']) ?>
        <?php endif; ?>
        <?php echo $this->headScript()->prependFile($js) ?>
    </body>
</html>