<?php echo $this->doctype(); ?>

<html lang="de" class="<?php echo $this->route; ?> rid-xs grid-sm grid-md grid-lg hideOnFirstLoad" data-module="Resize">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle($this->translate('QP DEFAULT'))->setSeparator(' - ')->setAutoEscape(false) ?>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?php
        if ($this->isDevelopment) {
            $css = $this->basePath('css/style.css');
            $js = $this->basePath('js/app.js');
        } else {
            $css = $this->basePath('css/style.min.css');
            $js = $this->basePath('js/app.min.js');
        }
        ?>

        <?php echo $this->headLink([
            'rel'  => 'shortcut icon',
            'type' => 'image/vnd.microsoft.icon',
            'href' => $this->basePath() . '/img/favicon.ico'

        ])->prependStylesheet($css); ?>
    </head>
    <body>
        <?php echo $this->content; ?>
        <?php echo $this->headScript()->prependFile($js) ?>
    </body>
</html>